---
title: "Updates"
description: "See what is new with the WeDeploy"
url: "/updates/apis/android/"
hidden: true
---

{namespace pageUpdatesIndex}

/**
 *
 */
{template .render}
{/template}

/**
 */
{template .soyweb}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="0; URL='/updates/apis/android/'">
</head>
</html>
{/template}
