---
title: "Auth"
url: "/docs/auth/getting-started/"
icon: "persons"
weight: 3
---

{namespace pageDocsAuthIndex}

/**
 *
 */
{template .render}
{/template}

/**
 * @param page
 */
{template .soyweb}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="0; URL='{$page.url}'">
</head>
</html>
{/template}
