---
title: "Migrating to Beta"
description: "Discover all the latest about WeDeploy."
type: "guide"
weight: 8
hidden: true
---

{namespace pageMigrationGuideRedirect}

/**
 *
 */
{template .render}
{/template}

/**
 *
 */
{template .soyweb}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0; URL='/docs/deploy/'">
</head>
</html>
{/template}
