.docs .feedback {
	background: rgba($primary, 0.02);
	border-radius: 4px;
	padding: 36px 0;
	margin: 60px 0 24px;
	text-align: center;
	width: 100%;

	p {
		line-height: 36px;
		font-family: $font-primary;
		font-weight: 600;
		font-size: 19px;
		color: rgba($primary, 0.8);
		margin: 0 0 24px;
	}
}

.docs .feedback-btn {
	margin: 0 12px 12px;
	width: 134px;
}
