/* ==========================================================================
	 Newsletter
	 ========================================================================== */

.newsletter {
	background: rgba($primary, .02);
	padding: 36px 0;

	@media (min-width: $screen-md-min) {
		padding: 72px 0;
	}
}

.newsletter .btn-sm {
	@media (min-width: $screen-md-min) {
		width: auto;
	}
}

.newsletter .newsletter-subtitle {
	color: rgba($primary, 0.8);
	font-size: $font-h4;
	font-family: $font-primary;
	font-weight: 700;
	line-height: calc(1.5rem * #{$lineHeight});
	margin: 0 0 12px;
	text-align: center;

	@media (min-width: $screen-md-min) {
		line-height: calc(2rem * #{$lineHeight});
	}
}

.newsletter .newsletter-description {
	color: rgba($primary, 0.6);
	font-size: $font-p;
	font-family: $font-secondary;
	font-weight: 600;
	line-height: calc(1rem * #{$lineHeight});
	text-align: center;

	margin: 0 0 24px;

	@media (min-width: $screen-md-min) {
		margin: 0 0 48px;
	}
}

.newsletter .form-group {
	margin-bottom: 12px;

	@media (min-width: $screen-md-min) {
		margin-bottom: 0;
	}
}
