
{namespace emailiOSTutorials}

/**
 *
 */
{template .render}
{/template}

/**
 */
{template .soyweb}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="0; URL='/tutorials/email-ios/get-started.html'">
</head>
</html>
{/template}
