---
description: "Getting started with Liferay, Java, NodeJS and Ruby."
icon: "module"
headerTitle: "Other"
title: "Other"
type: "guide"
url: "/docs/other/liferay.html"
weight: 6
---

{namespace pageDocsOtherIndex}

/**
 *
 */
{template .render}
{/template}

/**
 *
 */
{template .soyweb}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="0; URL='/docs/other/liferay.html'">
</head>
</html>
{/template}

