/* Answers (986px + 36px inset)
/* ========================================================================== */

.answers {
  @include inset;

  @media ($sm) {
    padding-bottom: 132px;
    padding-top: 48px;
  }

  @media ($l) {
    padding-bottom: 120px;
    padding-top: 96px;
  }
}

.answers-group {
  margin-top: 66px;

  @media ($l) {
    display: flex;
    flex-wrap: wrap;
  }

  & > * {
    @media ($l) {
      flex-basis: calc(50% - 24px * 2);
    }

    &:nth-child(2n+1) {
      @media ($l) {
        margin-right: 24px;
      }
    }

    &:nth-child(2n+2) {
      @media ($l) {
        margin-left: 24px;
      }
    }

    &:nth-child(n+2) {
      @media ($sm) {
        margin-top: 66px;
      }
    }

    &:nth-last-child(-n+3) {
      @media ($l) {
        margin-top: 66px;
      }
    }
  }
}

/* Answers: Headings
/* ========================================================================== */

.answers-heading {
  @include unset-h;

  font-size: 27px;
  font-weight: 900;
  line-height: 36px;
}

.answers-group-heading {
  @include unset-p;

  font-size: 18px;
  line-height: 24px;
  padding-left: calc(24px + 18px);
  position: relative;

  &::before {
    content: url("answers-group-heading.svg");
    left: 0;
    position: absolute;
    width: 24px;
    height: 24px;
  }
}

/* Answers: Summmaries
/* ========================================================================== */

.answers-group-summary {
  @include unset-p;

  color: rgba($black, .9);
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
  padding-left: calc(24px + 18px);
}

/* Answers: More
/* ========================================================================== */

.answers-more {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 24px;
  padding-left: 42px;

  @media ($s-answers) {
    margin-bottom: 24px;
    margin-top: 18px;
  }
}

.answers-more-heading {
  @include unset-h;

  font-weight: 900;
  margin-right: .375em;
}

.answers-more-summary {
  @include unset-p;

  & a {
    @include unset-a;

    background-image: linear-gradient(currentColor 25%, transparent 50%);
    background-repeat: no-repeat;
    background-position: calc(200% - .5px) 100%;
    background-size: 200% 2px;
    color: $green;
    display: inline-block;
    padding-bottom: 6px;
    transition: background-position 250ms;

    &:hover {
      background-position: 100% 100%;
    }
  }
}
