/* Benefits (792px + 36px inset)
/* ========================================================================== */

.benefits {
  @include inset;

  background-color: mix(rgba($black, .02), $blue, 99%);
  padding-bottom: 120px;
  padding-top: 96px;
}

.benefits-group {
  justify-content: center;
  margin-top: 54px;

  @media ($ml) {
    display: flex;
    flex-wrap: wrap;
  }

  & > * {
    @media ($ml) {
      flex-basis: calc(50% - 36px);
    }

    &:nth-child(n+2) {
      @media ($s) {
        margin-top: 36px;
      }
    }

    &:nth-child(2n+1) {
      @media ($ml) {
        margin-right: 36px;
      }
    }

    &:nth-child(2n+2) {
      @media ($ml) {
        margin-left: 36px;
      }
    }

    &:nth-last-child(-n+2) {
      @media ($ml) {
        margin-top: 36px;
      }
    }
  }
}

/* Main Heading and Summary
/* ========================================================================== */

.benefits-heading {
  @include unset-h;

  font-size: 33px;
  font-weight: 900;
  line-height: 42px;
}

.benefits-summary {
  @include unset-p;

  color: rgba($black, .8);
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
}

/* More Headings and Summaries
/* ========================================================================== */

.benefits-section-heading {
  @include unset-h;

  font-size: 18px;
  font-weight: 900;
  line-height: 30px;

  &::before {
    display: block;
    margin-bottom: 18px;
    width: 42px;
    height: 42px;
  }

  &.-tools::before {
    content: url("benefits-section-heading-tools.svg");
  }

  &.-deployment::before {
    content: url("benefits-section-heading-deployment.svg");
  }

  &.-management::before {
    content: url("benefits-section-heading-management.svg");
  }

  &.-networking::before {
    content: url("benefits-section-heading-networking.svg");
  }
}

.benefits-section-summary {
  @include unset-p;

  font-size: 16px;
  color: rgba($black, .9);
  margin-top: 18px;
  line-height: 24px;
}
