/* Feature
/* ========================================================================== */

.feature {
  @extend %inset-styles;

  padding-bottom: 120px;
  padding-top: 96px;

  @media ($ml-feature) {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
  }

  & > * {
    @media ($ml-feature) {
      flex-basis: calc(50% - 20px);
    }
  }

  &.-auth {
    background-color: mix($white, $black, 98%);
  }
}

.feature-more {
  @media ($s-feature) {
    margin-top: 54px;
  }

  & > :nth-child(n+2) {
    margin-top: 36px;
  }
}

/* Feature: Headings and Summaries
/* ========================================================================== */

.feature-heading {
  @extend %unset-h;

  font-size: 33px;
  font-weight: 900;
  line-height: 42px;
}

.feature-heading-more {
  @extend %unset-h;

  font-size: 18px;
  font-weight: 900;
  line-height: 30px;
}

.feature-heading::before {
  @extend %heading-symbol;
}

.feature-more-heading {
  @extend %unset-h;

  font-size: 18px;
  font-weight: 900;
  line-height: 30px;
}

.feature-more-heading::before {
  @extend %secondary-heading-symbol;
}

.feature-summary {
  @extend %unset-p;

  color: rgba($black, .8);
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
}

.feature-more-summary {
  @extend %unset-p;

  color: rgba($black, .8);
  font-size: 16px;
  line-height: 24px;
  margin-top: 18px;

  & a {
    @extend %unset-a;
    @extend %underline;

    color: $green;
  }
}

/* Feature: Features
/* ========================================================================== */

.feature-features {
  @extend %features;

  @media ($l-feature) {
    column-count: 2;
    column-gap: 24px;
    max-width: 100%;
    width: 480px;
  }

  & > :nth-child(n+2) {
    @media ($sm-feature) {
      margin-top: 24px;
    }
  }

  & > :nth-child(3n+2), & > :nth-child(3n+3) {
    @media ($l-feature) {
      margin-top: 24px;
    }
  }
}

/* Feature: Actions
/* ========================================================================== */

.feature-actions {
  @extend %actions;
}

/* Feature: Data
/* ========================================================================== */

.-data .feature-more {
  @media ($ml-feature) {
    margin-left: 36px;
  }
}

.-data .feature-heading::before {
  content: url("heading-data.svg");
}

.-data .feature-features > ::before {
  content: url("features.svg" param(--color $yellow));
}

.feature-more-heading.-sync::before {
  content: url("more-heading-sync.svg");
}

.feature-more-heading.-build::before {
  content: url("more-heading-build.svg");
}

/* Feature: Email
/* ========================================================================== */

.feature.-email {
  @media ($ml-feature) {
    flex-direction: row-reverse;
  }
}

.-email .feature-more {
  @media ($ml-feature) {
    margin-right: 36px;
  }
}

.-email .feature-heading::before {
  content: url("heading-email.svg");
}

.-email .feature-features > ::before {
  content: url("features.svg" param(--color $orange));
}

.feature-more-heading.-send::before {
  content: url("more-heading-send.svg");
}

.feature-more-heading.-integrate::before {
  content: url("more-heading-integrate.svg");
}

/* Feature: Auth
/* ========================================================================== */

.-auth .feature-main {
  @media ($ml-feature) {
    margin-right: 36px;
  }
}

.-auth .feature-heading::before {
  content: url("heading-auth.svg");
}

.-auth .feature-features > ::before {
  content: url("features.svg" param(--color $violet));
}

.feature-more-heading.-store::before {
  content: url("more-heading-store.svg");
}

.feature-more-heading.-social::before {
  content: url("more-heading-social.svg");
}

/* Feature: Hosting
/* ========================================================================== */

.feature.-hosting {
  @media ($ml-feature) {
    flex-direction: row-reverse;
  }
}

.-hosting .feature-more {
  @media ($ml-feature) {
    margin-right: 36px;
  }
}

.-hosting .feature-heading::before {
  content: url("heading-hosting.svg");
}

.-hosting .feature-features > ::before {
  content: url("features.svg" param(--color $red));
}

/* Feature: Deploy
/* ========================================================================== */

.feature-more-heading.-deploy::before {
  content: url("more-heading-deploy.svg");
}

.feature-more-heading.-control::before {
  content: url("more-heading-control.svg");
}
