/* Footer
/* ========================================================================== */

.footer {
  @extend %inset;

  background-color: $black;
  color: $white;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 24px;
  padding-top: 144px;

  @media ($l) {
    align-items: center;
  }

  & ul {
    @extend %unset-l;

    margin-top: 18px;
  }

  & a {
    @extend %unset-a;

    color: rgba($white, .6);
    font-size: 16px;
    line-height: 36px;
  }
}

/* Footer: Headings
/* ========================================================================== */

.footer-heading {
  @extend %unset-h;

  font-size: 22px;
  font-weight: 900;
  line-height: 30px;

  @media ($sm) {
    flex-basis: 100%;
    margin-bottom: 48px;
    text-align: center;
  }

  @media ($l) {
    flex-basis: calc(100% / 2 / 3);
  }
}

.footer-nav-heading {
  @extend %unset-h;

  font-size: 18px;
  font-weight: 900;
  line-height: 36px;
}

/* Footer: Navigation
/* ========================================================================== */

.footer-nav:matches(.-learn, .-resources) {
  display: flex;

  @media ($sm) {
    flex-basis: calc((100% / 2) - 12px * 2);
  }

  @media ($l) {
    flex-basis: calc(100% / 2 / 3);
  }
}

.footer-nav.-learn {
  justify-content: center;

  @media ($sm) {
    margin-right: 12px;
  }
}

.footer-nav.-resources {
  justify-content: center;

  @media ($sm) {
    margin-left: 12px;
  }
}

.footer-nav.-social {
  @media ($sm) {
    flex-basis: 100%;
    margin-top: 48px;
  }

  @media ($l) {
    flex-basis: calc(100% / 2);
  }
}

/* Footer: Social Navigation
/* ========================================================================== */

.footer-nav.-social {
  @media ($l) {
    flex-basis: calc(100% / 2);
  }

  & ul {
    display: flex;

    @media ($sm) {
      justify-content: center;
    }

    @media ($l) {
      justify-content: flex-end;
    }
  }

  & li {
    &:nth-last-child(n+2) {
      margin-right: 12px;
    }
  }
}

.footer-icon {
  background-color: rgba($black, .6);
  border-radius: 50%;
  box-shadow: inset 0 0 0 7px rgba($white, .3);
  display: block;
  padding: 7px;
  transition: box-shadow 400ms;

  &::before {
    display: block;
    width: 28px;
    height: 28px;
  }

  &:hover, &:focus {
    box-shadow: inset 0 0 0 7px $white;
  }
}

.footer-icon.-twitter {
  &::before {
    content: url("footer-icon-twitter.svg");
  }
}

.footer-icon.-github {
  &::before {
    content: url("footer-icon-github.svg");
  }
}

/* Footer: Copyright
/* ========================================================================== */

.footer-copyright {
  @extend %unset-p;

  color: rgba($white, .6);
  flex-basis: 100%;
  padding-top: 102px;
  text-align: center;
}
