/* Plug & Play: Demo
/* ========================================================================== */

.plugnplay-demo-heading {
  @include unset-h;

  font-size: 18px;
  font-weight: 900;
  line-height: 30px;

  @media ($s-feature) {
    margin-top: 36px;
  }

  @media ($ml-feature) {
    margin-top: 24px;
  }
}

.plugnplay-demo-heading-line {
  display: block;
}

/* Plug & Play Demo: Menu
/* ========================================================================== */

.plugnplay-demo-menu {
  margin-top: 30px;

  @media ($l-feature) {
    display: inline-block;
    position: relative;
    vertical-align: top;
  }
}

.plugnplay-demo-menu-list {
  @include unset-l;

  display: flex;
}

.plugnplay-demo-menu-button {
  @include normalize-button;
  @include unset-button;

  cursor: pointer;
  font-size: 14px;
  font-weight: 900;
  white-space: nowrap;

  @media ($sm) {
    padding: 6px 24px;
  }

  @media ($l) {
    padding: 6px 42px;
  }

  :nth-child(1) > & {
    border-radius: 4px 0 0 4px;
  }

  :nth-child(2) > & {
    border-radius: 0 4px 4px 0;
  }

  :not(.is-active) > & {
    background-color: rgba($black, .01);
    color: rgba($black, .9);

    &:hover {
      background-color: rgba($black, .1);
    }
  }

  :nth-child(1):not(.is-active) > & {
    box-shadow: inset 0 1px 0 0 rgba($black, .12), inset 0 -1px 0 0 rgba($black, .12), inset 1px 0 0 0 rgba($black, .12);
  }

  :nth-child(2):not(.is-active) > & {
    box-shadow: inset 0 1px 0 0 rgba($black, .12), inset 0 -1px 0 0 rgba($black, .12), inset -1px 0 0 0 rgba($black, .12);
  }

  .is-active > & {
    background-color: $green;
    box-shadow: inset 0 0 0 1px rgba($black, .08);
    color: $white;
  }
}

/* Plug & Play Demo: Menu: Tip
/* ========================================================================== */

.plugnplay-demo-tip {
  @include unset-p;

  color: rgba($black, .8);
  font-size: 12px;
  top: 0;
  left: 100%;
  line-height: 18px;
  margin-top: -12px;
  margin-left: 36px;
  position: absolute;
  white-space: nowrap;

  @media ($sm) {
    display: none;
  }

  &::before {
    content: url("tip-plugnplay.svg");
    top: 18px;
    left: -30px;
    position: absolute;
    width: 41px;
    height: 17px;
  }
}

/* Plug & Play Demo: Note
/* ========================================================================== */

.plugnplay-demo-note {
  @include unset-p;

  color: rgba($black, .9);
  font-size: 14px;
  line-height: 24px;
}

/* Plug & Play Demo: X
/* ========================================================================== */

.plugnplay-demo-panels {
  background-color: $white;
  box-shadow: 2px 8px 15px 0 rgba($black, .12), 5px 15px 35px 0 rgba($black, .1);
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 18px;
  margin-top: 18px;
  overflow: auto;
  vertical-align: top;
  max-width: 100%;
}

.plugnplay-demo-panel {
  display: block;
  width: 504px;
  height: 336px;

  &:not(.is-active) {
    display: none;
  }

  &.-source {
    background-color: $black;
  }
}

.plugnplay-demo-console {
  display: block;
}

.plugnplay-demo-source {
  @include unset-pre;

  font-family: "Roboto Mono", "ArialUnicodeMS", monospace;

  & code {
    background-color: inherit;
    color: rgba($white, .45);
    font-family: inherit;
    overflow-x: visible;
    padding: 18px;
  }

  & :matches(.hljs-built_in, .hljs-builtin-name, .hljs-literal, .hljs-type, .hljs-template-variable, .hljs-attribute, .hljs-link) {
    color: $blue;
  }

  & :matches(.hljs-string, .hljs-symbol, .hljs-bullet, .hljs-regexp) {
    color: $yellow;
  }

  & :matches(.hljs-number, .hljs-addition) {
    color: $green;
  }

  & :matches(.hljs-keyword, .hljs-selector-tag, .hljs-name, .hljs-selector-id, .hljs-selector-class) {
    color: $violet;
  }
}
