/* Possibilities
/* ========================================================================== */

.possibilities {
  @extend %inset;

  background-image: linear-gradient(0deg, rgba(0,164,255,0.00) 0%, rgba(0,164,255,0.04) 100%), linear-gradient(0deg, rgba(14,20,26,0.00) 0%, rgba(14,20,26,0.02) 100%);
  background-size: contain;
  padding-bottom: 96px;
  padding-left: 0;
  padding-right: 0;

  @media (--ml) {
    text-align: center;
  }
}

/* Possibilities: Animation
/* ========================================================================== */

.possibilities-animation {
  overflow: hidden;
  min-height: 96px;

  & .bubbles {
    height: 500px;
    height: 546px;
    position: relative;
    width: 2200px;
  }

  & .bubble {
    background-position: 0;
    background-size: 450px;
    border-radius: 50%;
    box-shadow: 0 15px 35px 0 rgba(14, 20, 26, 0.13), 0 3px 10px 0 rgba(14, 20, 26, 0.1);
    height: 450px;
    position: absolute;
    width: 450px;
    will-change: transform,opacity;
  }
}

/* Possibilities: Content
/* ========================================================================== */

.possibilities-content {
  padding-left: 36px;
  padding-right: 36px;
}

/* Possibilities: Heading
/* ========================================================================== */


.possibilities-heading {
  @extend %unset-h;

  font-size: 46px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 60px;
}

.possibilities-summary {
  @extend %unset-p;

  color: color(var(--black) alpha(90%));
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
}

.possibilities-actions {
  @extend %actions;

  @media (--ml) {
    justify-content: center;
  }
}
