/* Support
/* ========================================================================== */

.support {
  @extend %inset-styles;

  background-color: mix(rgba($black, .02), $blue, 99%);
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @media ($sm) {
    padding-bottom: 48px;
    padding-top: calc(24px + 378px - 84px - 24px * 2);
  }

  @media ($l) {
    padding-bottom: 120px;
    padding-top: 96px;
  }

  /* Support: Image (9 units from right)
  /* ======================================================================== */

  &::after {
    content: url("support.svg");
    top: -162px;
    max-width: 100%;
    position: absolute;
    width: calc(402px + 48px * 2);

    @media ($sm) {
      left: 0;
    }

    @media ($m) {
      top: -174px;
      width: 462px;
    }

    @media ($l) and (max-width: 1199px) {
      right: calc((100% - 1272px) / 2 - 66px + 6px * 37);
      width: 348px;
    }

    @media (min-width: 1200px) {
      right: calc(50% - 636px - 36px + 6px * 15);
    }
  }
}

.support-main {
  flex-basis: 100%;
}

.support-sections {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  overflow-wrap: break-word;

  @media ($sm) {
    flex-basis: 100%;
  }

  @media ($l) {
    flex-basis: calc(100% * 660 / 1104);
    padding-top: 12px;
  }

  & > :nth-child(n+2) {
    @media ($sm) {
      margin-top: 48px;
    }
  }

  & > :nth-last-child(n+3) {
    @media ($l) {
      margin-bottom: 48px;
    }
  }

  & > :nth-child(2n+2) {
    @media ($l) {
      margin-left: 24px;
    }
  }
}

.support-section {
  padding-left: 54px;

  @media ($sm) {
    flex-basis: 100%;
  }

  @media ($l) {
    flex-basis: calc(50% - 24px / 2);
  }
}

.support-aside {
  @media ($s) {
    display: flex;
    flex-basis: 100%;
    margin-top: 48px;
  }

  @media ($ml) {
    margin-top: 48px;
  }

  @media ($l) {
    flex-basis: calc(366 / 1104 * 100%);
    margin-left: auto;
  }
}

/* Support: Headings
/* ========================================================================== */

.support-heading {
  @extend %unset-h;

  font-size: 27px;
  font-weight: 900;
  line-height: 36px;
}

.support-section-heading {
  @extend %unset-h;

  font-size: 18px;
  font-weight: 900;
  line-height: 30px;
  position: relative;

  &::before {
    display: block;
    right: calc(100% + 18px);
    position: absolute;
    width: 36px;
    height: 36px;
  }

  &.-service::before {
    content: url("support-heading-service.svg");
  }

  &.-chat::before {
    content: url("support-heading-chat.svg");
  }

  &.-help::before {
    content: url("support-heading-help.svg");
  }

  &.-status::before {
    content: url("support-heading-status.svg");
  }
}

/* Support: Summaries
/* ========================================================================== */

.support-summary {
  @extend %unset-p;

  color: rgba($black, .8);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 54px;
  margin-top: 24px;

  @media ($l) {
    max-width: 660px;
  }
}

.support-section-summary {
  @extend %unset-p;

  color: rgba($black, .9);
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
}

/* Support: Section: Action
/* ========================================================================== */

.support-section-action, .support-247-action {
  @extend %unset-p;

  color: $green;
  font-size: 16px;
  line-height: 24px;

  & a {
    @extend %unset-a;

    background-image: linear-gradient(currentColor 25%, transparent 50%);
    background-repeat: no-repeat;
    background-position: calc(200% - 1px) 100%;
    background-size: 200% 3px;
    color: $green;
    display: inline-block;
    margin-bottom: -6px;
    margin-top: 12px;
    padding-bottom: 6px;
    transition: background-position 250ms;

    &:hover {
      background-position: 100% 100%;
    }

    &::after {
      content: url("symbol-arrow.svg" param(--color $green));
      display: inline-block;
      margin-left: 6px;
      width: 10px;
      height: 8px;
    }
  }
}

/* Support: 24/7
/* ========================================================================== */

.support-247 {
  @extend %unset-p;

  background-color: $white;
  box-shadow: inset 0 0 0 1px rgba($black, .01), 0 1px 3px 0 rgba($black, .04), 0 3px 6px 0 rgba($black, .08);
  border-radius: 6px;
  padding: 24px;

  @media ($l) {
    max-width: 366px;
  }
}

.support-247-heading {
  @extend %unset-h;

  font-size: 18px;
  font-weight: 900;
  line-height: 30px;
  margin-left: calc(18px + 36px);
  position: relative;

  &::before {
    content: url("support-heading-247.svg");
    right: calc(100% + 18px);
    position: absolute;
    width: 36px;
    height: 36px;
  }
}

.support-247-summary {
  @extend %unset-p;

  font-size: 16px;
  margin-top: 12px;
  margin-left: calc(18px + 36px);
}

.support-247-action {
  margin-left: calc(18px + 36px);
}
