//LANGUAGES
#languages {
	//background: rgba($primary, 0.05);
	background-color: #f3f3f4;
	height: ($baseline * 10);
	position: relative;
	z-index: 999;
	opacity: 0;

	@media	(min-width: 320px) {
		height: 260px;
	}

	@media	(min-width: 480px) {
		height: 190px;
	}

	@media	(min-width: 720px) {
		height: ($baseline * 10);
	}
}

#languages .filled {
	position: relative;
	height: 100%;
}

#languages .filled .filled-center{
	width: 100%;
	position: absolute;
	left: 0;
	top: 50%;

	@media	(min-width: 320px) {
		height: 210px;
		margin-top: -105px;
	}

	@media	(min-width: 480px) {
		height: 140px;
		margin-top: -70px;
	}

	@media	(min-width: 720px) {
		height: 70px;
		margin-top: -35px;
	}
}

#languages .lang-item {
	height: 70px;

	@media (min-width: 320px) {
		width: 50%;
		padding: 0;
	}

	@media (min-width: 480px) {
		width: 33.3333333334%;
		padding: 0;
	}

	@media (min-width: 720px) {
		width: 20%;
		padding: 0;
	}

	@media (min-width: 1440px) {
		width: 12.5%;
		padding: 0 12px;
	}
}

#languages .lang-item.solo {
	@media (min-width: 320px) {
		width: 100%;
	}

	@media (min-width: 480px) {
		width: 33.3333333334%;
	}

	@media (min-width: 720px) {
		width: 20%;
	}

	@media (min-width: 1440px) {
		width: 12.5%;
	}
}

#languages .lang img {
	width: 70px;
	height: 70px;

	opacity: 1;

	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;

	/*&:hover {
		opacity: 1;
		-webkit-filter: grayscale(0%);
		filter: grayscale(0%);
		//-webkit-backface-visibility: hidden;
	}*/
}
