#topbar {
	opacity: 0;
	background: rgba(255, 255, 255, 1.0);
	box-shadow: 0 0 100px white;
	position: relative;

	.wedeploy-logo.logo-alpha {
		background: url('../images/home/logotype/logo_by_liferay.svg');
		background-size: 200px 84px;
		position: absolute;
		width: 200px;
		height: 84px;
	}
}

#topbar .container-wedeploy {
	@media	(min-width: 320px) {
		padding: 0 20px;
	}

	@media	(min-width: 600px) {
		padding: 0 40px;
	}

	@media	(min-width: 1440px) {
		padding: 0 20px;
	}
}

#topbar .hidden-small {
	@media	(min-width: 320px) {
		display: none;
	}

	@media	(min-width: 480px) {
		display: none;
	}

	@media	(min-width: 600px) {
		display: flex;
	}
}

#topbar .visible-small {
	@media	(min-width: 320px) {
		display: none;
	}

	@media	(min-width: 480px) {
		display: flex;
	}

	@media	(min-width: 600px) {
		display: none;
	}
}

@media screen and (min-width: 1280px) {
	#topbar .col-lg-offset-1 {
		margin-left: 0%;
	}
	#topbar .col-lg-14 {
		width: 100%;
	}
}

@media screen and (min-width: 1440px) {
	#topbar .col-lg-offset-1 {
		margin-left: 6.25%;
	}
	#topbar .col-lg-14 {
		width: 87.5%;
	}
}

#topbar .topbar {
	padding: ($baseline * 2) 0 ($baseline * 1);
	.topbar-list {
		max-width: 100%;
		@media	(max-width: 600px) {
			display: none;
		}

		.get-started {
			@media	(max-width: 720px) {
				display: none;
			}
		}
	}

	.topbar-link {
		font-family: $font-family-secondary-bold;
		font-size: 15px;
		color: rgba($primary, 0.6);
		&:hover {
			color: rgba($primary, 0.4);
		}
	}
}
