//== Static variables for sizes
//
//# baseline is for height values
//# unit is for width values
$baseline:			12px !default;
$unit:				4px !default;
$border-radius:		4px !default;

//logotype
$logo-width		:	209px;//418px//146px;
$logo-height	:	48px;

//colors
$theme  		: 	#00d46a !default;
$primary  		: 	#0e141a !default;
$auxiliary		: 	#ffffff !default;


