#view-1 {
	position:relative;

	@media (min-width: 1280px) and (min-height: 768px) {
		height: calc(100vh - 84px);//204px);
		min-height: 552px;
		//height: ($baseline * 73);
	}

	@media (min-width: 1280px) and (max-height: 767px) {
		height: ($baseline * 73);
	}

	@media (min-width: 1920px) {
		width: 1920px;
		left: 50%;
		margin-left: -959px;
	}
}

#view-1 .container-wedeploy{
	position: relative;
	height: 100%;

	@media (min-width: 320px) {
		padding: 0;
	}

	@media (min-width: 1280px) {
		height: 100%;
		padding: 0 40px;
	}

	@media (min-width: 1440px) {
		padding: 0 20px;
	}
}

#view-1 #view-1__container {
	@media (min-width: 1280px) {
		height: 100%;
		width: 100%;
	}

	@media (min-height: 552px) and (min-width: 1280px) {
		width: calc(100% - 80px);
	 	position: absolute;
	 	height: 100%;
	}

	@media (min-height: 552px) and (min-width: 1440px) {
		width: calc(100% - 40px);
	 	position: absolute;
	 	height: 100%;
	}
}

#subscribe.col-lg-offset-1 {
	@media (min-width: 1280px) {
		margin-left: 0%;
	}

	@media (min-width: 1440px) {
		margin-left: 6.25%;
	}
}

#subscribe.col-lg-4 {
	@media (min-width: 1280px) {
		width: 37.5%;
	}

	@media (min-width: 1440px) {
		width: 25%;
	}
}

//SUBSCRIBE
#subscribe {
	position: relative;
	height: 100%;

	@media (min-width: 320px) {
		padding: 0;
	}

	@media (min-width: 1280px) {
		//padding: 0 12px;
		padding: 0;
	}

	@media (min-width: 1920px) {
		padding: 0;
	}
}

#subscribe__container {
	@media (min-width: 320px) {
		text-align: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
		margin: 0;
	}

	/*@media (min-width: 1280px) {
		position: absolute;
		bottom: ($baseline * 18);

		text-align: left;
		width: 83%;
		left: 8.5%;
	}*/

	@media (min-width: 320px) {
		padding: ($baseline * 4) 0 0;
	}

	@media (min-width: 600px) {
		padding: ($baseline * 6) 0 0;
	}

	@media (min-width: 1280px) {
		position: absolute;
		top: 50%;
		margin-top: -263px;
		text-align: left;
		width: 100%;
		left: 0;
		justify-content: flex-start;
	}

	@media (min-width: 1440px) {
		margin-bottom: -245px;
	}

	@media (min-width: 1920px) {
		margin-bottom: -263px;
	}
}

#subscribe h1 {
	margin: 0;
	padding: 0;
	opacity: 0;
	font-family: $font-family-secondary-bold;
	color: rgba($primary, 0.9);
	position: relative;
	top: -8px;
	letter-spacing: -0.0025em;

	@media (min-width: 320px) {
		font-size: 50px;
		line-height: ($baseline * 5);
		padding: 0 5px;
		display: inline-block;
	}

	@media (min-width: 480px) {
		line-height: ($baseline * 6);
	}

	@media (min-width: 720px) {
		font-size: 60px;
		line-height: ($baseline * 6);
	}

	@media (min-width: 1280px) {
		font-size: 72px;
		width: 100%;
		line-height: ($baseline * 7);
		margin: 0;
		padding: 0;
		display: block;
	}

	@media (min-width: 1440px) {
		font-size: 64px;
		line-height: ($baseline * 7);
		margin: 0;
		padding: 0;
	}

	@media (min-width: 1600px) {
		font-size: 64px;
		line-height: ($baseline * 7);
		margin: 0;
	}

	@media (min-width: 1920px) {
		font-size: 72px;
		line-height: ($baseline * 7);
		margin: 0;
	}
}

#subscribe p {
	opacity: 0;
	padding: 0;
	font-family: $font-family-secondary;
	font-weight: 400;
	color: rgba($primary, 0.6);
	position: relative;
	top: -2px;
	//letter-spacing: 0.007em;

	@media (min-width: 320px) {
		font-size: 17px;
		line-height: 24px;
		margin: ($baseline * 1) 0 ($baseline * 3	);
		width: 100%;
		padding: 0 20px;
	}

	@media (min-width: 480px) {
		font-size: 18px;
		line-height: 32px;
		margin: ($baseline * 1) 0;
		width: 100%;
		padding: 6px 20px;
	}

	@media (min-width: 600px) {
		margin: ($baseline * 1);
		width: 100%;
		padding: 6px 40px;
	}

	@media (min-width: 720px) {
		margin: ($baseline * 1);
		width: 75%;
		padding: 6px 40px;
	}

	@media (min-width: 1280px) {
		margin: ($baseline * 3 ) 0 0;
		width: 100%;
		padding: 6px 0;
	}

	@media (min-width: 1440px) {
		margin: ($baseline * 1 ) 0 0;
		width: 100%;
		padding: 6px 0;
	}

	@media (min-width: 1920px) {
		margin: ($baseline * 3 ) 0 0;
		width: 100%;
		padding: 6px 0;
	}
}

#subscribe #subscribe__submit-small {
	@media	(min-width: 320px) {
		display: block;
		margin: 0 20px;
		opacity: 0;
	}

	@media	(min-width: 480px) {
		display: none;
	}
}

#terminal-img {
	opacity: 0;

	@media (min-width: 320px) {
		display: block;
		width: 100%;
		height: 979px;
		background: url('../images/home/terminal/terminal-320.png') no-repeat center center;
		background-size: 458px 979px;
	}

	@media (min-width: 480px) {
		display: block;
		width: 100%;
		height: 871px;
		background: url('../images/home/terminal/terminal-480.png') no-repeat center center;
		background-size: 592px 871px;
	}

	@media (min-width: 600px) {
		display: block;
		width: 100%;
		height: 895px;
		background: url('../images/home/terminal/terminal-600.png') no-repeat center center;
		background-size: 692px 895px;
	}

	@media (min-width: 720px) {
		display: block;
		width: 100%;
		height: 895px;
		background: url('../images/home/terminal/terminal-720.png') no-repeat center center;
		background-size: 812px 895px;
	}

	@media (min-width: 840px) {
		display: block;
		width: 100%;
		height: 895px;
		background: url('../images/home/terminal/terminal-840.png') no-repeat center center;
		background-size: 932px 895px;
	}

	@media (min-width: 960px) {
		display: block;
		width: 826px;
		height: 895px;
		background: url('../images/home/terminal/terminal-960.png') no-repeat;
		background-size: 826px 895px;
	}

	@media (min-width: 1024px) {
		display: block;
		width: 874px;
		height: 895px;
		background: url('../images/home/terminal/terminal-1024.png') no-repeat;
		background-size: 874px 895px;
	}

	@media (min-width: 1280px) {
		display: none;
	}
}

#subscribe form {
	opacity: 0;
	position: relative;

	@media (min-width: 320px) {
		display: none;
	}

	@media (min-width: 480px) {
		width: 310px;
		margin: 0;
		top: -82px;
		display: block;
	}

	@media (min-width: 600px) {
		width: 75%;
		margin: 0;
		top: -54px
	}

	@media (min-width: 960px) {
		width: 50%;
		margin: 0;
		top: -54px
	}

	@media (min-width: 1280px) {
		margin: 46px 0 0;
		width: 100%;
		top: 0;
	}

	@media (min-width: 1440px) {
		margin: 32px 0 0;
		width: 100%;
		top: 0;
	}

	@media (min-width: 1920px) {
		margin: 46px 0 0;
		width: 100%;
		top: 0;
	}
}

#subscribe form input {
	height: 72px;
	font-family: 	$font-family-secondary-semibold;
	font-size: 15px;
	line-height: 72px;
	color: rgba($primary, 0.9);
	padding: 0 19px;
}

#subscribe form .form-group {
	margin-bottom: 0px;
}

#subscribe form .form-validation {
	margin: 0;
	padding: 0 4px;
	height: ($baseline * 3);
	color: #ff4040;
	visibility: hidden;
	font-size: 14px;
	line-height: 36px;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	width: calc(100% - 8px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#subscribe form .form-validation.active {
	visibility: visible;
}

.form-control.error {
	background: rgba(#ff4040, .1);
}

#subscribe #subscribe__submit-small,
#subscribe form .btn {
	height: 72px;
}

#subscribe #subscribe__submit-small span,
#subscribe form .btn span {
	font-size: 17px;
	font-family: 	$font-family-secondary-bold;
	line-height: 72px;
	letter-spacing: 0.0002em;
}

#subscribe form small {
	margin: ($baseline * 1) 0 0;
	padding: 0 4px;
	display: block;
	height: ($baseline * 3);
	color: rgba($primary, .4);
	font-size: 11px;
	line-height: 24px;
	font-family: $font-family-secondary;
	text-align: left;
	width: calc(100% - 8px);
}
