---
title: "Auth"
url: "/docs/auth/getting-started/"
icon: "persons"
weight: 3
layout: false
---

{namespace pageDocsAuthIndex}

/**
 */
{template .render}
  {@param page: ?}

  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; URL='{$page.url}'">
  </head>
  </html>
{/template}
