@import "web/vendor/steel-bootstrap/src/bootstrap.scss";
@import "web/vendor/steel-topbar/src/topbar.scss";

body {
	overflow-x: hidden;
}

/* ==========================================================================
	 Topbar
	 ========================================================================== */

.topbar {
	position: relative;
	z-index: 1;
}

.topbar-list {
	margin: 33px 0;
}

.topbar-link {
	color: rgba(white, .5);
}

.topbar-link:hover,
.topbar-link:focus {
	color: rgba(white, .8);
}

.topbar-link-selected {
	color: white;
}

.topbar-link-selected:hover,
.topbar-link-selected:focus {
	color: white;
}

@media (max-width: 480px) {
	.topbar {
	    padding: 0 10px;
	}

	.topbar-logo-text {
		margin-left: 10px;
	}

	.topbar-logo-complementary {
		display: none;
	}
}

/* ==========================================================================
	 Footer
	 ========================================================================== */

.footer {
	background: $primary;
}

.footer-paragraph {
	color: white;
	font-size: 18px;
	margin: 54px 0;
	text-align: center;
}

.footer-link {
	@include anim(color);
	color: $accent;
	text-decoration: none;
}

.footer-link:hover,
.footer-link:focus {
	color: rgba($accent, .7);
}