---
description: "Serve static files easily using WeDeploy™ Hosting."
icon: "folder"
headerTitle: "Hosting"
layout: "guide"
title: "Hosting"
weight: 5
---

{namespace pageDocsHostingIndex}

/**
 *
 */
{template .render}
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="refresh" content="0; URL='getting-started.html'">
	</head>
	</html>
{/template}