---
title: "Hosting"
url: "/docs/hosting/getting-started.html"
icon: "folder"
layout: "guide"
weight: 5
---

{namespace pageDocsHostingIndex}

/**
 *
 */
{template .render}
{/template}

/**
 * @param page
 */
{template .soyweb}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="0; URL='{$page.description}'">
</head>
</html>
{/template}
