---
description: "Serve static files easily using WeDeploy™ Hosting."
icon: "folder"
headerTitle: "Hosting"
layout: "guide"
title: "Hosting"
url: "/docs/hosting/getting-started.html"
weight: 5
---

{namespace pageDocsHostingIndex}

/**
 *
 */
{template .render}
{/template}

/**
 *
 */
{template .soyweb}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="0; URL='/docs/hosting/getting-started.html'">
</head>
</html>
{/template}
