/* Topbar
   ========================================================================== */

.topbar.topbar-inverse.topbar-docs {
	position: static;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.topbar-docs-aux {
	display: none;
}

.topbar-docs-main {
	display: block;
}

/* Navigation
   ========================================================================== */

.docs-nav-container {
	position: relative;
	display: none;
}

.docs-nav-group a {
	@include anim(color);
	color: rgba($primary, .8);
	font-family: $font-family-secondary;
	font-size: 18px;
	margin-bottom: 36px;
}

.docs-nav-group a:hover,
.docs-nav-group a:focus {
	color: $accent;
	text-decoration: none;
}

.docs-nav-list {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 46px;
}

.docs-nav-item {
	list-style: none;
	margin-bottom: 10px;
}

.docs-nav-link {
	@include anim(color);
	color: rgba($primary, 0.6);
	font-size: 14px;
}

.docs-nav-link:hover,
.docs-nav-link:focus {
	color: $accent;
	text-decoration: none;
}

/* Content
	 ========================================================================== */

.docs-faq {
	margin: 80px 0;
}

.docs-guide {
	margin-top: 80px;
	position: relative;
}

.docs-content {
	color: rgba($primary, .6);
}

.docs-content a {
	@include anim(color);
	color: $accent;
	font-weight: 400;
}

.docs-content a:hover,
.docs-content a:focus {
	color: rgba($accent, .6);
	text-decoration: none;
}

.docs-content h1,
.docs-content h2,
.docs-content h3,
.docs-content h4,
.docs-content h5,
.docs-content h6 {
	color: rgba($primary, .8);
	font-family: $font-family-secondary;
	font-weight: 700;
}

.docs-content h1 {
	font-size: 36px;
	margin: 0 0 32px;
}

.docs-content h2 {
	font-size: 24px;
	margin: -28px 0 40px;
	padding-top: 94px;
}

.docs-content h3 {
	font-size: 22px;
	margin: 22px 0;
}

.docs-content h4 {
	font-size: 20px;
	margin: 20px 0;
}

.docs-content h5 {
	font-size: 18px;
	margin: 18px 0;
}

.docs-content h6 {
	border-bottom: 2px solid rgba($primary, .1);
	color: rgba($primary, .4);
	font-size: 18px;
	font-style: italic;
	line-height: 24px;
	margin: 0;
	padding-bottom: 36px;
	font-weight: 400;
}

.docs-content ul {
	list-style: none;
	padding: 0;
	margin: 0 0 10px;
}

.docs-content ul li {
	padding-left: 1em;
	text-indent: -.7em;
}

.docs-content ul li:before {
	color: rgba($primary, .4);
	content: "• ";
	margin-right: 10px;
}

.docs-content ul li p {
	display: inline-block;
}

.docs-content ol {
	color: rgba($primary, .4);
	font-size: 16px;
}

.docs-content ol li,
.docs-content ul li {
	padding-left: 24px;
}

.docs-content ol li p {
	color: rgba($primary, .6);
}

.docs-content p,
.docs-content li,
.docs-content pre {
	font-size: 15px;
	line-height: 24px;
}

.docs-content pre {
	border: 0;
	overflow: auto;
	word-break: normal;
	word-wrap: normal;
}

.docs-content code {
	background: rgba($accent, 0.1);
	border: 1px solid $accent;
	color: $accent;
	padding: 2px;
}

.docs-content pre {
	background: rgba($primary, .9);
}

.docs-content pre code {
	background: transparent;
	border: 0;
	color: rgba(white, .9);
	padding: 0.5em;
	white-space: inherit;
}

.docs-content {
	.hljs-string, .hljs-value, .hljs-inheritance, .hljs-header, .hljs-name, .ruby .hljs-symbol, .xml .hljs-cdata {
	  color: #ffb700;
	}

	.hljs-number, .hljs-preprocessor, .hljs-pragma, .hljs-built_in, .hljs-literal, .hljs-constant {
		color: #72ca57;
	}

	.hljs-keyword, .javascript .hljs-function, .hljs-params {
		color: #039cf1;
	}

	.hljs-variable, .hljs-attribute, .hljs-tag, .hljs-regexp, .ruby .hljs-constant, .xml .hljs-tag .hljs-title, .xml .hljs-pi, .xml .hljs-doctype, .html .hljs-doctype, .css .hljs-id, .css .hljs-class, .css .hljs-pseudo {
		color: #ff536b;
	}

	.hljs-function, .python .hljs-decorator, .python .hljs-title, .ruby .hljs-function .hljs-title, .ruby .hljs-title .hljs-keyword, .perl .hljs-sub, .javascript .hljs-title, .coffeescript .hljs-title {
		color: rgba(white, .9);
	}
}

/* Home - Top
   ========================================================================== */

.docs-home-top {
	margin-bottom: 72px;
}

.docs-home-top-title {
	color: rgba($primary, .8);
	font-size: 36px;
	font-weight: 300;
	letter-spacing: -1px;
	line-height: 48px;
	margin: 80px 0 56px;
	text-align: center;
}

.docs-home-top-title span {
	font-weight: 700;
}

.docs-home-top-description {
	color: rgba($primary, .8);
	font-family: $font-family-secondary;
	font-size: 20px;
	line-height: 36px;
	margin: 0 0 78px;
	text-align: center;
}

.docs-home-top-form .form-control .input-inner-icon-helper {
	@include anim(color);
}

.docs-home-top-form .form-control:focus {
	background: white;
	border-color: $accent;
}

.docs-home-top-form .form-control:focus + .input-inner-icon-helper {
	color: $accent;
}

.docs-home-top-form .btn-sm {
	width: 100%;
}

/* Home - Middle
   ========================================================================== */

.docs-home-middle {
	margin: 0 0 56px;
}

.docs-home-middle-subtitle,
.docs-home-what-subtitle,
.newsletter-subtitle {
	color: rgba($primary, .8);
	font-family: $font-family-secondary;
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
	margin: 0 0 40px;
	text-align: center;
}

.docs-home-middle-description,
.docs-home-what-description,
.newsletter-description {
	color: rgba($primary, .6);
	font-family: $font-family-secondary;
	font-size: 16px;
	line-height: 24px;
	margin: 0;
	text-align: center;
}

.docs-home-what-subtitle,
.newsletter-subtitle {
	margin-bottom: 30px;
}

/* Home - What
   ========================================================================== */

.docs-home-what {
	margin: 78px 0 56px;
}

.docs-content .docs-home-description:first-child {
	margin-bottom: 130px;
}

/* Video
   ========================================================================== */

.docs-video {
	height: 0;
	margin: 0 -20px 72px -20px;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
}

.docs-video iframe {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/* ==========================================================================
   Newsletter
   ========================================================================== */

.newsletter {
	background: $accent;
}

.newsletter-subtitle,
.newsletter-description {
	color: white;
}

.newsletter-subtitle {
	font-size: 25px;
}

.newsletter-form {
	margin: 56px 0 72px;
}

.newsletter .form-group {
	margin-bottom: 12px;
}

.newsletter-avatar {
	background: transparent;
	border-radius: 50%;
	border: 1px solid white;
	display: block;
	height: 84px;
	margin: 72px auto 42px;
	text-align: center;
	width: 84px;
}

.newsletter-avatar .icon-16-mail {
	color: white;
	font-size: 32px;
	line-height: 84px;
}

.newsletter .btn-sm {
	width: 100%;
}

/* Medium screens
   ========================================================================== */

@media (min-width: $screen-md-min) {
	.topbar-docs-aux {
		display: flex;
	}

	.topbar-docs-main {
		display: none;
	}

	.docs-nav-container {
		display: block;
	}

	.docs-nav-list {
		margin-top: 75px;
	}

	.docs-home-top {
		margin-top: 124px;
		margin-bottom: 96px;
	}

	.docs-home-top-title {
		margin: 0 0 41px;
		font-size: 49px;
	}

	.docs-home-top-description {
		font-size: 24px;
	}

	.docs-home-middle {
		margin-bottom: 68px;
	}

	.docs-home-middle-subtitle {
		margin-bottom: 24px;
	}

	.docs-home-what-subtitle,
	.newsletter-subtitle {
		margin-bottom: 30px;
	}

	.docs-home-middle-subtitle,
	.docs-home-what-subtitle,
	.newsletter-subtitle {
		font-size: 32px;
	}

	.docs-home-what {
		margin-bottom: 80px;
	}

	.newsletter .btn-sm {
		width: auto;
	}

	.newsletter .form-group {
		margin-bottom: 0;
	}

	.docs-video {
		margin-left: 0;
		margin-right: 0;
	}

	.docs-guide {
		margin-top: 50px;
	}
}