/* Header
   ========================================================================== */

.guide-header {
	background: $accent;
	text-align: center;
	padding: 80px 0 40px;
}

.guide-header-title {
	color: white;
	font-family: $font-family-secondary-bold;
	font-size: 52px;
	font-weight: 400;
	margin: 0;
}

.guide-header-title span {
	font-family: $font-family-secondary-semibold;
	font-weight: 400;
}

/* Topics Button Group
   ========================================================================== */

.guide-topics-container {
	text-align: center;
	margin: 0 0 60px;
}

.guide-topics {
	.btn-default {
		background: white;
	}
}

/* Download Button
   ========================================================================== */

.guide-download {
	text-align: center;
	margin: 45px 0 0;

	.btn.btn-accent {
		color: $white;

		&:hover,
		&:focus {
			color: $white;
		}
	}
}

/* Feedback
   ========================================================================== */

.guide-feedback {
	background: rgba($accent, .1);
	border-radius: 4px;
	padding: 45px 0 35px;
	margin: 45px 0 25px;
	text-align: center;
	width: 100%;
}

.guide-feedback-btn {
	margin: 45px 12px 0 12px;
	width: 134px;
}

/* Edit on GitHub
   ========================================================================== */

.docs-content .guide-github {
	margin: 0 0 45px;
	width: 100%;
}

.docs-content .guide-github-img {
	background: rgba($primary, .1);
	border-radius: 4px 0 0 4px;
	float: left;
	height: 96px;
	line-height: 96px;
	text-align: center;
	width: 96px;
}

.docs-content .guide-github-text {
	align-items: center;
	background: rgba($primary, .05);
	border-radius: 0 4px 4px 0;
	color: rgba($primary, .6);
	display: flex;
	font-size: 16px;
	height: 96px;
	margin-left: 96px;
	padding: 0 20px;
}

.docs-content .guide-github-text p {
	margin: 0;
}

.docs-content .guide-github-link {
	font-weight: 600;
}

.guide-lang .docs-content pre code {
	background: transparent;
	border: 0;
	color: rgba(white, .9);
}

.docs-content img {
	max-width: 100%;
}

.guide-lang .sidebar-list-2 .sidebar-link {
	padding-left: 56px;
}

/* Medium screens
   ========================================================================== */

@media (min-width: $screen-md-min) {
	.guide-header {
		padding-top: 40px;
	}
}

@media (max-width: $screen-md-min) {

	// Header --------------------------------------------------------------------

	.sidebar-inverse .sidebar-header {
		background: rgba(white, .3);
		color: white;
	}

	.sidebar-inverse .sidebar-header:hover,
	.sidebar-inverse .sidebar-header:focus,
	.sidebar-inverse .sidebar-header .sidebar-icon {
		color: white;
	}

	// Search --------------------------------------------------------------------

	.sidebar-inverse .sidebar-search .form-control {
		background: white;
	}

	.sidebar-inverse .sidebar-search .form-control:focus {
		border-color: white;
	}

	// First level ---------------------------------------------------------------

	.guide-lang .sidebar-inverse .sidebar-list-1 .sidebar-link:hover,
	.guide-lang .sidebar-inverse .sidebar-list-1 .sidebar-link:focus,
	.guide-lang .sidebar-inverse .sidebar-list-1 .sidebar-link-selected,
	.guide-lang .sidebar-inverse .sidebar-list-1 .sidebar-link-selected:hover,
	.guide-lang .sidebar-inverse .sidebar-list-1 .sidebar-link-selected:focus {
		background: rgba(white, .1);
		color: white;
	}

	.guide-lang .sidebar-inverse .sidebar-list-1 .sidebar-link:hover .sidebar-icon,
	.guide-lang .sidebar-inverse .sidebar-list-1 .sidebar-link:focus .sidebar-icon,
	.guide-lang .sidebar-inverse .sidebar-list-1 .sidebar-link-selected .sidebar-icon {
		color: white;
	}

	// Second level ------------------------------------------------------------

	.guide-lang .sidebar-inverse .sidebar-list-2 .sidebar-link:hover,
	.guide-lang .sidebar-inverse .sidebar-list-2 .sidebar-link:focus,
	.guide-lang .sidebar-inverse .sidebar-list-2 .sidebar-link-selected,
	.guide-lang .sidebar-inverse .sidebar-list-2 .sidebar-link-selected:hover,
	.guide-lang .sidebar-inverse .sidebar-list-2 .sidebar-link-selected:focus {
		background: rgba(white, .1);
		color: white;
	}
}
