$curl: #77d55a;
$go: #bb8d66;
$java: #ff536b;
$js: #ffb700;
$local: #00a4ff;
$swift: #ff6e00;

@mixin lang($color) {

	// Topbar --------------------------------------------------------------------

	&.topbar.topbar-inverse {
		background: $color;
	}

	// Sidebar -------------------------------------------------------------------

	@media (max-width: $screen-md-min) {
		&.sidebar.sidebar-inverse,
		.sidebar.sidebar-inverse {
			background: $color;
		}
	}

	// Sidebar / Search ----------------------------------------------------------

	.sidebar-inverse .sidebar-search .form-control:focus {
		border-color: $color;
	}

	.sidebar-search .form-control:focus + .input-inner-icon-helper {
		color: $color;
	}

	// Sidebar / First level -----------------------------------------------------

	.sidebar-inverse .sidebar-list-1 .sidebar-link:hover,
	.sidebar-inverse .sidebar-list-1 .sidebar-link:focus,
	.sidebar-inverse .sidebar-list-1 .sidebar-link-selected,
	.sidebar-inverse .sidebar-list-1 .sidebar-link-selected:hover,
	.sidebar-inverse .sidebar-list-1 .sidebar-link-selected:focus {
		background: rgba($color, .1);
		color: $color;
	}

	.sidebar-inverse .sidebar-list-1 .sidebar-link:hover .sidebar-icon,
	.sidebar-inverse .sidebar-list-1 .sidebar-link:focus .sidebar-icon,
	.sidebar-inverse .sidebar-list-1 .sidebar-link-selected .sidebar-icon {
		color: $color;
	}

	// Sidebar / Second level ----------------------------------------------------

	.sidebar-inverse .sidebar-list-2 .sidebar-link:hover,
	.sidebar-inverse .sidebar-list-2 .sidebar-link:focus,
	.sidebar-inverse .sidebar-list-2 .sidebar-link-selected,
	.sidebar-inverse .sidebar-list-2 .sidebar-link-selected:hover,
	.sidebar-inverse .sidebar-list-2 .sidebar-link-selected:focus {
		background: rgba($color, .1);
		color: $color;
	}

	// Feedback ------------------------------------------------------------------

	.guide-feedback {
		background: rgba($color, .1);
	}

	// Button accent -------------------------------------------------------------

	.btn-accent {
		background: $color;
	}

	.btn-accent:hover,
	.btn-accent:focus,
	.btn-accent.focus {
	    background-color: rgba($color, .8);
	    border-color: rgba($color, .8);
	}

	// Button default ------------------------------------------------------------

	.btn-default {
    color: $color;
    border-color: $color;
	}

	.btn-default:hover,
	.btn-default:focus,
	.btn-default.focus {
    background-color: rgba($color, .1);
    border-color: $color;
	}

	// Button inverse ------------------------------------------------------------

	.btn-inverse-accent {
		color: $color;
	}

	// Guide header --------------------------------------------------------------

	.guide-header {
		background: $color;
	}

	// Newsletter ----------------------------------------------------------------

	.newsletter {
		background: $color;
	}

	// Docs ----------------------------------------------------------------------

	.docs-content a {
		color: $color;
	}

	.docs-content a:hover,
	.docs-content a:focus {
		color: rgba($color, .6);
	}

	.docs-content code {
		background: rgba($color, 0.1);
		border: 1px solid $color;
		color: $color;
	}

	// Autocomplete --------------------------------------------------------------

	&.autocomplete,
	.autocomplete-top,
	.autocomplete-bottom {
		border-color: $color;
	}

	.autocomplete-link:hover,
	.autocomplete-link:focus {
		background: rgba($color, .1);
	}

	.autocomplete-text em {
		background: rgba($color, .2);
		color: $color;
	}

	// Reading progress ----------------------------------------------------------

	.reading-progress .reading .reading-title {
		color: $color;
	}

	.reading-progress svg {
		stroke: $color;
	}
}

@mixin topic($color) {
	color: $color;

	.topic-icon,
	&.radial-out:before {
		background: $color;
	}
}

.topic-curl  { @include topic($curl);  }
.topic-go    { @include topic($go); }
.topic-java  { @include topic($java);  }
.topic-js    { @include topic($js);    }
.topic-local { @include topic($local); }
.topic-swift { @include topic($swift); }

.guide-lang-curl  { @include lang($curl);  }
.guide-lang-go    { @include lang($go); }
.guide-lang-java  { @include lang($java);  }
.guide-lang-js    { @include lang($js);    }
.guide-lang-swift { @include lang($swift); }
