.sidebar-search .form-control:focus {
	border-color: $accent;
}

/* Search input
   ========================================================================== */

.search {
	margin: 80px 0 0;
}

.search .form-control {
	font-size: 16px;
}

.search .form-control .input-inner-icon-helper {
	@include anim(color);
}

.search .form-control:focus + .input-inner-icon-helper {
	color: $accent;
}

/* Search results
   ========================================================================== */

#search-result-container {
	margin: 65px 0 0;
}

.search-result-summary {
	color: rgba($primary, .8);
	font-family: $font-family-secondary;
	font-weight: 400;
	font-size: 24px;
	margin: 0 0 50px;
}

.search-result-icon {
	border-radius: 50%;
	float: left;
	text-align: center;
	height: 84px;
	width: 84px;
}

.search-result-icon span {
	color: white;
	font-size: 48px;
	position: relative;
	top: 19px;
}

.search-result-link {
	@include anim(color);
	color: rgba($primary, .8);
	display: block;
	font-family: $font-family-secondary;
	font-size: 18px;
	font-weight: 700;
	margin-left: 104px;
}

.search-result-text {
	color: rgba($primary, .8);
	font-size: 14px;
	margin-left: 104px;
}

.search-result-text em {
	background: rgba($accent, .2);
	font-style: normal;
	padding: 0 2px;
}

.search-feedback {
	margin: 65px 0 32px;
}

.search-feedback-btn.btn-default {
	background: white;
	border-color: $accent;
	color: $accent;
	margin-bottom: 65px;
}

.search-feedback-btn.btn-default:hover,
.search-feedback-btn.btn-default:focus,
.search-feedback-btn.btn-default.focus {
    background-color: rgba($accent, .1);
    border-color: $accent;
}

@media (min-width: $screen-md-min) {
	.search {
		margin: 50px 0 0;
	}

	#search-result-container {
		margin-bottom: 65px;
	}
}
