/* Topbar
   ========================================================================== */

.topbar.topbar-inverse.topbar-docs {
	position: static;
	top: 0;
	width: 100%;
	z-index: 1000;
}

/* Sidebar
   ========================================================================== */

.sidebar {
	top: 84px;
	z-index: 1000;
}

@media (min-width: $screen-sm-min) {
	.sidebar-offset {
		margin-left: 265px;
		width: calc(100% - 265px);
	}
}

/* Navigation
   ========================================================================== */

.docs {
	margin-top: 100px;
	overflow-x: hidden;
}

.docs-nav-group a {
	@include anim(color);
	color: rgba($primary, .8);
	font-family: $font-family-secondary;
	font-size: 18px;
	margin-bottom: 36px;
}

.docs-nav-group a:hover,
.docs-nav-group a:focus {
	color: $accent;
	text-decoration: none;
}

.docs-nav-list {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 46px;
}

.docs-nav-item {
	list-style: none;
	margin-bottom: 10px;
}

.docs-nav-link {
	@include anim(color);
	color: rgba($primary, 0.6);
	font-size: 14px;
}

.docs-nav-link:hover,
.docs-nav-link:focus {
	color: $accent;
	text-decoration: none;
}

/* Content
	 ========================================================================== */

.docs-edit {
	display: none;
}

.docs-edit-icon {
	position: relative;
	top: 3px;
	margin-left: 3px;
}

.docs-content {
	color: rgba($primary, .6);
}

.docs-content a {
	@include anim(color);
	color: $accent;
	font-weight: 400;
}

.docs-content a:hover,
.docs-content a:focus {
	color: rgba($accent, .6);
	text-decoration: none;
}

.docs-content h1,
.docs-content h2,
.docs-content h3,
.docs-content h4,
.docs-content h5,
.docs-content h6 {
	color: rgba($primary, .8);
	font-family: $font-family-secondary;
	font-weight: 500;
}

.docs-content h1 {
	font-size: 36px;
	margin: 0 0 32px;
}

.docs-content h2 {
	font-size: 24px;
	margin: -30px 0 30px;
	padding-top: 94px;
}

.docs-content h3 {
	font-size: 22px;
	margin: 22px 0;
}

.docs-content h4 {
	font-size: 20px;
	margin: 20px 0;
}

.docs-content h5 {
	font-size: 18px;
	margin: 18px 0;
}

.docs-content h6 {
	font-size: 16px;
	margin: 16px 0;
}

.docs-content p,
.docs-content li,
.docs-content pre {
	font-size: 15px;
	line-height: 24px;
}

.docs-content pre {
	border: 0;
	overflow: auto;
	word-break: normal;
	word-wrap: normal;
}

.docs-content code {
	background: rgba($accent, 0.1);
	color: $accent;
	padding: 2px;
}

.docs-content pre code {
	background: #f5f5f5;
	color: rgba($primary, .6);
	padding: 0.5em;
	white-space: inherit;
}

.docs-content {
	.hljs-string,
	.apache .hljs-sqbracket,
	.coffeescript .hljs-subst,
	.coffeescript .hljs-regexp,
	.cpp .hljs-preprocessor,
	.c .hljs-preprocessor,
	.javascript .hljs-regexp,
	.json .hljs-attribute,
	.makefile .hljs-variable,
	.markdown .hljs-value,
	.markdown .hljs-link_label,
	.markdown .hljs-strong,
	.markdown .hljs-emphasis,
	.markdown .hljs-blockquote,
	.nginx .hljs-regexp,
	.nginx .hljs-number,
	.objectivec .hljs-preprocessor .hljs-title,
	.perl .hljs-regexp,
	.php .hljs-regexp,
	.xml .hljs-value,
	.less .hljs-built_in,
	.scss .hljs-built_in {
	  color: $accent;
	}
}

/* Home
   ========================================================================== */

.docs-content .docs-home-title {
	font-weight: 300;
	text-align: center;
}

.docs-content .docs-home-title span {
	font-weight: 700;
}

.docs-content .docs-home-subtitle {
	text-align: center;
	padding-top: 0;
	margin-top: 30px;
}

.docs-content .docs-home-description {
	text-align: center;
	margin-bottom: 32px;
}

.docs .input-inner-addon {
	margin-bottom: 40px;
}

/* Video
   ========================================================================== */

.docs-video {
    height: 0;
    margin-bottom: 30px;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}

.docs-video iframe {
    border: 4px solid $accent;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Medium screens
   ========================================================================== */

@media (min-width: $screen-sm-min) {
	.topbar.topbar-inverse.topbar-docs {
		position: fixed;
	}

	.docs {
		margin: 134px 0 0;
	}

	.docs-nav-list {
		margin-top: 75px;
	}

	.docs-edit {
		float: right;
		margin-top: 10px;
		text-transform: uppercase;
	}
}

/* ==========================================================================
   Newsletter
   ========================================================================== */

.newsletter {
	background: $accent;
	margin-left: -32px;
	margin-right: -32px;
}

.newsletter .docs-home-subtitle,
.newsletter .docs-home-description {
	color: white;
}

.newsletter-form {
	margin-bottom: 96px;
}

.newsletter .form-group {
	margin-bottom: 12px;
}

.newsletter-avatar {
	background: $accent;
	border: 1px solid white;
	margin: 72px auto 0;
}

.newsletter-avatar .icon-16-mail {
	color: white;
	font-style: 20px;
}

.newsletter .btn-sm {
	width: 100%;
}

@media (min-width: $screen-md-min) {
	.newsletter .btn-sm {
		width: auto;
	}

	.newsletter .form-group {
		margin-bottom: 0;
	}
}