/* Home - Topics
   ========================================================================== */

.topic-container  {
	margin: 48px auto;
}

.topic {
	display: block;
	margin: 20px auto 24px;
	text-align: center;
}

.topic-icon {
	display: block;
	margin: 0 auto 24px;
	color: $accent;
	font-size: 64px;
}

.topic-title {
	color: $primary;
	font-family: $font-family-secondary;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

.topic-description {
	color: rgba($primary, .7);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 0 0 27px;
}

/* Docs - Topics
   ========================================================================== */

.docs-home-topics {
	background: rgba($accent, .1);
	margin-left: -30px;
	margin-right: -30px;
}

.docs-home-topics .topic {
	background: white;
	border-radius: 8px;
	padding: 24px 0;
	margin-top: 0;
}

.docs-home-topics .topic:hover .topic-title,
.docs-home-topics .topic:focus .topic-title {
	opacity: .5;
}

.docs-home-topics .topic-title {
	@include anim(opacity);
	opacity: 1;
	margin: 0;
}