@import "node_modules/steel-bootstrap/src/bootstrap";

.senna-loading-bar {
	background: white;
	z-index: 99999;
}

.topbar {
	padding: 0 20px;
}

/* ==========================================================================
	 Footer
	 ========================================================================== */

.footer {
	background: $primary;
}

.footer-paragraph {
	color: white;
	font-size: 18px;
	margin: 54px 0;
	text-align: center;
}

.footer-link {
	@include anim(color);
	color: $accent;
	text-decoration: none;
}

.footer-link:hover,
.footer-link:focus {
	color: rgba($accent, .7);
}

@import "autocomplete";
@import "topics";
@import "home";
@import "search";
@import "docs";
@import "guide";
@import "lang";

.affix {
	top: 20px;
}