---
title: "Liferay DXP Tutorial"
description: "In this section, you'll learn how to deploy an application using Liferay DXP."
tutorialTitle: "Getting started with Liferay DXP"
url: "/tutorials/liferay-dxp/get-started/"
hidden: true
layout: false
---

{namespace liferayTutorials}

/**
 */
{template .render}
  {@param page: ?}

  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; URL='{$page.url}'">
  </head>
  </html>
{/template}
