.blog .terms .content {
	padding: calc(3rem * #{$lineHeight}) 0 0;
}

.blog .terms .content article {

	margin: 0 0 calc(3rem * #{$lineHeight});

	h3 {
		margin-bottom: calc(2rem * #{$lineHeight});
	}
}
