{namespace Try}

/**
 */
{template .render}
  <section class="view--try">
    <h2 class="heading--try">Try WeDeploy for FREE today.</h2>
    <p class="summary--try">Or get in touch for enterprise.</p>
    <ul class="actions--try">
      <li><a href="https://console.wedeploy.com/signup">Get Started, It’s Free</a></li>
      <li><a href="javascript:Intercom('show');">Contact Sales</a></li>
    </ul>
  </section>
{/template}
