{namespace Try}

/**
 */
{template .render}
  <section class="try">
    <h2 class="try-heading">Try WeDeploy for FREE today.</h2>
    <p class="try-summary">Or get in touch for enterprise.</p>
    <ul class="try-actions">
      <li><a class="-dash" href="https://console.wedeploy.com/signup">Get Started, It’s Free</a></li>
      <li><a href="javascript:Intercom('showNewMessage', 'Hello there, can I contact sales?');">Contact Sales</a></li>
    </ul>
  </section>
{/template}
