{namespace Bubbles}

/**
 * @param positions
 * @param images
 */
{template .render}
  <div class="bubbles">
    {foreach $position in $positions}
      {let $image: $images[index($position)] /}
      <div class="bubble" style="width: {$position.size}px; height: {$position.size}px; top: {$position.top}px; left: {$position.left}px; background-size: {$position.size}px; background-image: url(/static/images/bubbles/{$image}.png);"></div>
    {/foreach}
  </div>
{/template}
