.col--browser {
	border:0px solid rgba(0,0,0,0);
	float:left;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-moz-background-clip:padding-box !important;
	-webkit-background-clip:padding-box !important;
	background-clip:padding-box !important;
}

.col--browser {
	margin-left:0%;
	padding:0 12px;
}

.row .col--browser:first-child {
	margin-left:0;
}

.col--browser.offset_1 {
	margin-left: 12.5%;
}

.col--browser.offset_2 {
	margin-left: 25.0%;
}

.col--browser.span_1 {
	width:12.5%;
}

.col--browser.span_2 {
	width:25.0%;
}

.col--browser.span_3 {
	width:37.5%;
}

.col--browser.span_4 {
	width:50.0%;
}

.col--browser.span_5 {
	width:62.5%;
}

.col--browser.span_6 {
	width:75.0%;
}

.col--browser.span_7 {
	width:87.5%;
}

.col--browser.span_8 {
	margin-left:0;
	width:100%;
}
