.col--terminal {
	border:0px solid rgba(0,0,0,0);
	float:left;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-moz-background-clip:padding-box !important;
	-webkit-background-clip:padding-box !important;
	background-clip:padding-box !important;
}

.col--terminal {
	margin-left:0%;
	padding:0 12px;
}

.row .col--terminal:first-child {
	margin-left:0;
}

.col--terminal.offset_1 {
	margin-left:11.1111111111%;
	left:11.1111111111%;
}
.col--terminal.offset_2 {
	margin-left:22.2222222222%;
	left:22.2222222222%;
}

.col--terminal.span_1 {
	width:11.1111111111%;
}

.col--terminal.span_2 {
	width:22.2222222222%;
}

.col--terminal.span_3 {
	width:33.3333333333%;
}

.col--terminal.span_4 {
	width:44.4444444444%;
}

.col--terminal.span_5 {
	width:55.5555555556%;
}

.col--terminal.span_6 {
	width:66.6666666667%;
}

.col--terminal.span_7 {
	width:77.7777777778%;
}

.col--terminal.span_8 {
	width:88.8888888889%;
}

.col--terminal.span_9 {
	margin-left:0;
	width:100%;
}
