#view-3__1 .container-wedeploy {
	position: relative;
	height: 100%;
	padding: 0;
}

#view-3__1 {
	width: 100%;
	background: rgba($primary, .02);
	position: relative;

	@media (min-width: 320px) {
		height: ($baseline * 113); //1356px
	}

	@media (min-width: 480px) {
		height: ($baseline * 114); //1368px
	}

	@media (min-width: 600px) {
		height: ($baseline * 109); //1308px
	}

	@media (min-width: 840px) {
		height: ($baseline * 104); //1248px
	}

	@media (min-width: 1024px) {
		height: ($baseline * 69); //828px;
	}
}

#view-3__1 .info-box {
	position: absolute;
	z-index: 20;

	@media (min-width: 320px) {
		left: 20px;
		margin-left: 0;
		top: 132px;
		width: 87.5%;
		text-align: center;
	}

	@media (min-width: 480px) {
		top: 144px;
	}

	@media (min-width: 600px) {
		left: 40px;
		width: 86.666666667%;
	}

	@media (min-width: 720px) {
		width: 88.888888889%;
	}

	@media (min-width: 840px) {
		width: 85.714285714%;
	}

	@media (min-width: 960px) {
		left: 50%;
		margin-left: -31.875%;
		width: 68.125%;
	}

	@media (min-width: 1024px) {
		left: 40px;
		margin-left: 0;
		top: 135px;
		width: 360px;
		text-align: left;
	}

	@media (min-width: 1440px) {
		left: 6.25%;
	}

	@media (min-width: 1920px) {
		left: 12.5%;
	}
}

#view-3__1 .info-box h3 {
	font-family: $font-primary;
	font-weight: 700;
	line-height: 48px;
	margin-bottom: ($baseline * 3);
	color: rgba($primary, .9);

	@media (min-width: 320px) {
		font-size: 24px;
		line-height: 36px;
	}

	@media (min-width: 480px) {
		font-size: 36px;
		line-height: 48px;
	}
}

#view-3__1 .info-box p {
	font-family: $font-primary;
	font-weight: 600;
	line-height: 36px;
	margin-bottom: ($baseline * 3);
	color: rgba($primary, .4);

	&.top-title {
		margin-bottom: ($baseline * 2);
		font-family: $font-primary;
		font-weight: 600;
	}

	@media (min-width: 320px) {
		font-size: 14.5px;
		line-height: 24px;
	}

	@media (min-width: 480px) {
		font-size: 20px;
		line-height: 36px;
	}
}

//SHADOW
#view-3__1 .bg-text {
	position: absolute;
	left: 0;
	z-index: 10;
	height: 100%;
	width: 100%;

	@media (min-width: 320px) {
		display: none;
	}

	@media (min-width: 1024px) {
		display: block;
		padding: 0;
	}

	@media (min-width: 1440px) {
		padding: 0 20px;
	}
}

#view-3__1 .bg-text .bg-text__solid {
	background: #fafafb;
	height: 100%;
	float: left;

	@media (min-width: 1024px) {
		width: 346px
	}

	@media (min-width: 1440px) {
		width: 34.5%;
	}

	@media (min-width: 1600px) {
		width: 30.25%;
	}

	@media (min-width: 1920px) {
		width: 34.5%;
	}
}

#view-3__1 .bg-text .bg-text__gradient {
	background-image: -webkit-gradient(linear, left top, right top, from(#fafafb), to(rgba(255, 255, 255, 0)));
	background-image: -webkit-linear-gradient(left, #fafafb, rgba(255, 255, 255, 0));
	background-image: -moz-linear-gradient(left, #fafafb, rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(left, #fafafb, rgba(255, 255, 255, 0));
	background-image: linear-gradient(to right, #fafafb, rgba(255, 255, 255, 0));

	height: 100%;
	float: left;

	@media (min-width: 1024px) {
		width: 129px;
	}

	@media (min-width: 1440px) {
		width: 90px;
	}

	@media (min-width: 1600px) {
		width: 99px;
	}

	@media (min-width: 1920px) {
		width: 100px;
	}
}

#view-3__1 .info-img {
	position: absolute;
	z-index: 1;
	height: 100%;

	@media (min-width: 320px) {
		width: 100%;
		top: 0;
		background: url('../images/home/card/card-320.png') no-repeat;
		background-size: 1248px 1248px;
		background-position: center 288px;
	}

	@media (min-width: 480px) {
		top: 0;
		background: url('../images/home/card/card-720.png') no-repeat;
		background-size: 1248px 1248px;
		background-position: center 288px;
	}

	@media (min-width: 600px) {
		background-position: center 276px;
	}

	@media (min-width: 720px) {
		background-position: center 228px;
	}

	@media (min-width: 840px) {
		width: 100%;
		background: url('../images/home/card/card-1920.png') no-repeat;
		background-size: 1248px 1248px;
		background-position: center 172px;
		right: 0;
	}

	@media (min-width: 960px) {
		width: 960px;
	}

	@media (min-width: 1024px) {
		width: 1248px;
		background-position: center -248px;
		right: -437px
	}

	@media (min-width: 1280px) {
		right: -185px
	}

	@media (min-width: 1440px) {
		right: -165px
	}

	@media (min-width: 1920px) {
		right: -4px;
	}
}
