#view-4 {
	padding: ($baseline * 10) 0;
	position: relative;
	overflow: hidden;
}

#view-4 .giant {
	position: absolute;
	left: 50%;

	top: 0;
	z-index: 1;
	text-align: center;

	@media (min-width: 320px) {
		-webkit-transform: translateX(-50%);
    	transform: translateX(-50%);
	}

	@media (min-width: 480px) {
		-webkit-transform: translateX(-50%);
    	transform: translateX(-50%);
	}

	@media (min-width: 600px) {
		-webkit-transform: translateX(-50%);
    	transform: translateX(-50%);
	}

	@media (min-width: 720px) {
		-webkit-transform: translateX(-50%);
    	transform: translateX(-50%);
	}

	@media (min-width: 840px) {
		-webkit-transform: translateX(-49%);
    	transform: translateX(-49%);
	}

	@media (min-width: 960px) {
		-webkit-transform: translateX(-42.5%);
    	transform: translateX(-42.5%);
	}

	@media (min-width: 1024px) {
		-webkit-transform: translateX(-50%);
    	transform: translateX(-50%);
	}

	@media (min-width: 1280px) {
		-webkit-transform: translateX(-50%);
    	transform: translateX(-50%);
	}

	@media (min-width: 1440px) {
		-webkit-transform: translateX(-52%);
    	transform: translateX(-52%);
	}

	@media (min-width: 1600px) {
		-webkit-transform: translateX(-52%);
    	transform: translateX(-52%);
	}

	@media (min-width: 1920px) {
		-webkit-transform: translateX(-55%);
    	transform: translateX(-55%);
	}
}

#view-4 .giant span {
	margin: 0;
	padding: 0;

	text-shadow: 0px 12px 20px rgba(0, 0, 0, 0.02), 0px 40px 40px rgba(0, 0, 0, 0.04);
	color: $white;
	font-family: 'galano-bold', sans-serif;
	
	position: relative;
	left: 0;
	width: 100%;
	display: block;

	@media (min-width: 320px) {
		font-size: 186px;
		line-height: 186px;
		top: -211px;
		text-align: center;
	}

	@media (min-width: 480px) {
		font-size: 279px;
		line-height: 279px;
		top: -241px;
	}

	@media (min-width: 600px) {
		font-size: 345px;
		line-height: 345px;
		top: -245px;
	}

	@media (min-width: 720px) {
		font-size: 258px;
		line-height: 258px;
		top: -236px;
		text-align: left;
	}

	@media (min-width: 840px) {
		font-size: 309px;
		line-height: 309px;
		top: -243px;
	}

	@media (min-width: 960px) {
		font-size: 360px;
		line-height: 360px;
		top: -247px;
	}

	@media (min-width: 1024px) {
		font-size: 386px;
		line-height: 386px;
		top: -260px;
	}

	@media (min-width: 1280px) {
		font-size: 404px;
		line-height: 404px;
		top: -268px;;
	}

	@media (min-width: 1440px) {
		font-size: 517px;
		line-height: 517px;
		left: 20px;
		top: -312px;
	}

	@media (min-width: 1600px) {
		font-size: 577px;
		line-height: 577px;
		top: -363px;
	}

	@media (min-width: 1920px) {
		font-size: 648px;
		line-height: 648px;
		top: -414px;
	}
}

#view-4 .container-wedeploy {
	position: relative;
	z-index: 10;

	@media (min-width: 480px) {
		padding: 0 20px;
	}

	@media (min-width: 600px) {
		padding: 0 40px;
	}

	@media (min-width: 1280px) {
		padding: 0;
	}

	@media (min-width: 1440px) {
		padding: 0 20px;
	}
}

#view-4 .container-wedeploy .text-center,
#view-4 .container-wedeploy .text-center h2,
#view-4 .container-wedeploy .text-center h4,
#view-4 #features-container {
	z-index: 20;
}

#view-4 h2 {
	margin:0 0 ($baseline *2);
	padding:0;
	
	position:relative;
	top: -1px;

	font-family: 'galano-medium', sans-serif;
	color: rgba($primary, .9);
	letter-spacing: -0.0125em;

	@media (min-width: 320px) {
		font-size: 28px;
		line-height: ($baseline * 3);
	}

	@media (min-width: 480px) {
		font-size: 40px;
		line-height: ($baseline * 4);
	}
}

#view-4 h4 {
	margin:0 0 ($baseline *5);

	position:relative;
	top: -3px;

	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: rgba($primary, .6);

	@media (min-width: 320px) {
		font-size: 17px;
		line-height: ($baseline * 2);
	}

	@media (min-width: 480px) {
		padding: 0 20px;
		font-size: 24px;
		line-height: ($baseline * 3);
	}

	@media (min-width: 600px) {
		padding: 0;
	}
}

//FEATURES
.feature {
	padding: 0;
	//opacity: 0;
	position: relative;
}

.feature .feature__box {
	margin-bottom: ($baseline * 3);
}	

li.feature {
	flex: 0 1 auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;

	@media (min-width: 320px) {
		width: 100%;		
	}
	
	@media (min-width: 600px) {
		width: 50%;		
	}

	@media (min-width: 840px) {
		width: 33.33333334%;		
	}

	@media (min-width: 840px) {
		width: 33.33333334%;		
	}

	@media (min-width: 1440px) {
		margin: 0 12px;
		width: 25.1%;
	}
}

.feature .feature__box {

	@media (min-width: 480px) {
	    width: 74%;
	}

	@media (min-width: 600px) {
	    width: 95%;
	}

	@media (min-width: 720px) {
	    width: 90%;
	}

	@media (min-width: 840px) {
	    width: 91%;
	}

	@media (min-width: 960px) {
	    width: 90%;
	}

	@media (min-width: 1024px) {
	    width: 87%;
	}

	@media (min-width: 1280px) {
		width: 81%;
	}

	@media (min-width: 1440px) {
		width: 99%;
	}

	@media (min-width: 1600px) {
		width: 87.5%;
	}

	@media (min-width: 1920px) {
		width: 72.5%;
	}
}

@media screen and (min-width: 1600px) {

	li.feature:nth-child(3n+1) {
		justify-content: flex-end;
	}

	li.feature:nth-child(3n+1) .feature__box {
		position: relative;
		left: -4px;
	}

	li.feature:nth-child(3n+2) {
		justify-content: center;
	}

	li.feature:nth-child(3n+3) {
		justify-content: flex-start;     
	}

	li.feature:nth-child(3n+3) .feature__box {
		position: relative;
		left: 5px;
	}
}

//BADGE CONTAINER
.feature .feature__box .box__badge-container {
	height: ($baseline * 8);
	position: relative;
	margin-bottom: ($baseline * 3);
}

//BADGE
.feature .feature__box .box__badge-container .badge {
	width: ($unit * 21);
	height: ($baseline * 7);
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -(($unit * 21)/2);
	border-radius: 50%;
	background: $white;
	box-shadow: 0 2px 8px rgba(14, 20, 26, 0.2);
}

#badge-data img 			{ width: 28px; height: 30px; }
#badge-users img 			{ width: 34px; height: 32px; }
#badge-cloud img 			{ width: 36px; height: 26px; }
#badge-terminal img 		{ width: 32px; height: 28px; }
#badge-servers img 			{ width: 28px; height: 28px; }
#badge-velocimeter img 		{ width: 32px; height: 32px; }
#badge-file img 			{ width: 25px; height: 30px; }
#badge-heart img 			{ width: 32.5px; height: 30px; }
#badge-globe img 			{ width: 32px; height: 32px; }

//WE-CONTAINER
.feature .feature__box .box__badge-container .we-container {
	width: ($unit * 21);
	height: ($baseline * 7);
	position: relative;
	left: 50%;
	margin-left: -(($unit * 21)/2);
	top: ($baseline * 1);
}

//WE
.feature .feature__box .box__badge-container .we-container .we {
	width: ($unit * 9);
	height: ($baseline * 3);

	position: absolute;
	top: -8px;
	right: -8px;

	border-radius: 50%;
	background: $white;
	box-shadow: 0 2px 8px rgba(14, 20, 26, 0.2);
}

.feature .feature__box .box__badge-container .we-container .we span {
	font-size: 14px;
	line-height: ($baseline * 2);
	font-family: 'galano-bold', sans-serif;
	font-weight: 400;
	color: $theme;
}

//TITLE
.feature .feature__title {
	height: ($baseline * 3);
	margin-bottom: ($baseline * 1);
}

.feature .feature__title h3 {
	margin: 0;
	padding: 0;

	font-size: 22px;
	font-family: 'galano-semibold', sans-serif;
	line-height: 24px;
	color: rgba($primary, .9);
	font-weight: 400;
	
	position: relative;
	top: 6px;
}

//DESCRIPTION
.feature .feature__description {
	
}

.feature .feature__description p {
	margin: 0;
	padding: 0 0 $baseline;

	font-size: 15.8px;
	font-family: 'Open Sans', sans-serif;
	line-height: 24px;
	color: rgba(14, 20, 26, 0.6);
	font-weight: 400;
	position: relative;

	top: 6px;
	letter-spacing: 0.014em;
}
