{% extends "src/layouts/base.html" %}

{% block markup %}
	<nav class="topbar topbar-large topbar-light topbar-docs topbar-docs-main">
		<div class="topbar-logo">
			<a class="topbar-logo-link" href="/">
				<span class="wedeploy-logo">
					<span class="we-circle"><span class="we">We</span></span>
					<span class="deploy">Deploy™</span>
					<span class="liferay">by Liferay</span>
					<span class="alpha-container">
						<span class="arrow-up"></span>
						<span class="alpha">alpha</span>
					</span>
				</span>
			</a>
		</div>
		<ul class="topbar-list">
			<li class="topbar-item">
				<a href="/docs" class="topbar-link topbar-link-selected">Documentation</a>
			</li>
			<li class="topbar-item">
				<a href="//dashboard.wedeploy.com/login" class="topbar-link">Log in</a>
			</li>
			<li class="topbar-item get-started">
				<a href="//dashboard.wedeploy.com/signup" class="btn btn-accent btn-sm">Get Started</a>
			</li>
		</ul>
	</nav>

	<main class="docs">
		{{contents}}
	</main>
{% endblock %}

{% block scripts %}
	<script data-senna-track="temporary" src="/scripts/misc/docs.js"></script>
	<script data-senna-track="temporary" src="/scripts/misc/newsletter.js"></script>
	<script data-senna-track="temporary" src="/scripts/misc/menu.js"></script>
{% endblock %}
