{% extends "src/layouts/base.html" %}

{% block markup %}
	{% macro menu(isMain) %}
	<nav class="topbar topbar-large topbar-inverse topbar-docs guide-topic guide-topic-{{topic}} {%if isMain %}topbar-docs-main{% else %}topbar-docs-aux{% endif %}">
		<div class="topbar-logo">
			<a class="topbar-logo-link" href="/">
				<span class="wedeploy-logo">
					<span class="we-circle"><span class="we">We</span></span>
					<span class="deploy">Deploy™</span>
					<span class="liferay">by Liferay</span>
					<span class="alpha-container">
						<span class="arrow-up"></span>
						<span class="alpha">alpha</span>
					</span>
				</span>
			</a>
		</div>

		<ul class="topbar-list">
			<li class="topbar-item">
				<a href="/docs" class="topbar-link topbar-link-selected">Documentation</a>
			</li>
			<li class="topbar-item">
				<a href="//chat.wedeploy.com/" class="topbar-link">Chat</a>
			</li>
			<li class="topbar-item">
				<a href="//dashboard.wedeploy.com/login" class="topbar-link">Log in</a>
			</li>
			<li class="topbar-item get-started">
				<a href="//dashboard.wedeploy.com/signup" class="btn btn-accent btn-sm">Get Started</a>
			</li>
		</ul>
	</nav>
	{% endmacro %}

	{{menu(true)}}

	<main class="docs guide-topic guide-topic-{{topic}}">
		<nav class="sidebar sidebar-inverse">
			<a class="sidebar-header toggler-header-collapsed">
				<span class="sidebar-icon icon-16-menu"></span>
				<span>Docs Menu</span>
				<span class="sidebar-icon-right">
					<span class="icon-12-arrow-down-short"></span>
					<span class="icon-12-arrow-up-short"></span>
				</span>
			</a>
			<ul class="sidebar-list sidebar-list-1 toggler-collapsed">
				<li class="sidebar-item">
					<form class="sidebar-search" action="/docs/search/" method="GET" enctype="multipart/form-data">
						<div class="form-group">
							<div class="input-inner-addon input-inner-addon-right">
								<input name="q" class="form-control" type="text" placeholder="Search Docs" autocomplete="off" data-topic="{{topic}}" required>
								<span class="input-inner-icon-helper icon-16-magnifier"></span>
							</div>
						</div>
					</form>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/">
						<span class="sidebar-icon icon-16-house"></span>
						<span>Docs Home</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/intro/">
						<span class="sidebar-icon icon-16-arrow-right-rod"></span>
						<span>Intro</span>
					</a>
					<ul class="sidebar-list sidebar-list-2 {%if topic != 'intro' %}hidden{% endif %}">
						<li class="sidebar-item">
							<a class="sidebar-link {%if basename == 'index' %}sidebar-link-selected{% endif %}" href="/docs/{{topic}}/">
								<span>What, Why and How</span>
							</a>
							<a class="sidebar-link {%if basename == 'feature-overview' %}sidebar-link-selected{% endif %}" href="/docs/{{topic}}/feature-overview.html">
								<span>Feature Overview</span>
							</a>
							<a class="sidebar-link {%if basename == 'configuration-files' %}sidebar-link-selected{% endif %}" href="/docs/{{topic}}/configuration-files.html">
								<span>Configuration Files</span>
							</a>
							<a class="sidebar-link {%if basename == 'using-the-dashboard' %}sidebar-link-selected{% endif %}" href="/docs/{{topic}}/using-the-dashboard.html">
								<span>Using the Dashboard</span>
							</a>
							<a class="sidebar-link {%if basename == 'using-the-command-line' %}sidebar-link-selected{% endif %}" href="/docs/{{topic}}/using-the-command-line.html">
								<span>Using the Command-line</span>
							</a>
							<a class="sidebar-link {%if basename == 'using-the-api-client' %}sidebar-link-selected{% endif %}" href="/docs/{{topic}}/using-the-api-client.html">
								<span>Using the API Client</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/auth/js/">
						<span class="sidebar-icon icon-16-persons"></span>
						<span>Auth</span>
					</a>
					<ul class="sidebar-list sidebar-list-2 {%if topic != 'auth' %}hidden{% endif %}">
						<li class="sidebar-item">
							<a class="sidebar-link {%if basename == 'index' %}sidebar-link-selected{% endif %}" href="/docs/{{topic}}/{{section}}/">
								<span>Getting Started</span>
							</a>
							<a class="sidebar-link {%if basename == 'manage-users' %}sidebar-link-selected{% endif %}" href="/docs/{{topic}}/{{section}}/manage-users.html">
								<span>Manage Users</span>
							</a>
							<a class="sidebar-link {%if basepath == 'sign-in-with-facebook' %}sidebar-link-selected{% endif %}" href="/docs/{{topic}}/{{section}}/sign-in-with-facebook.html">
								<span>Sign-in With Facebook</span>
							</a>
							<a class="sidebar-link {%if basename == 'sign-in-with-github' %}sidebar-link-selected{% endif %}" href="/docs/{{topic}}/{{section}}/sign-in-with-github.html">
								<span>Sign-in With GitHub</span>
							</a>
							<a class="sidebar-link {%if basename == 'sign-in-with-google' %}sidebar-link-selected{% endif %}" href="/docs/{{topic}}/{{section}}/sign-in-with-google.html">
								<span>Sign-in With Google</span>
							</a>
							<a class="sidebar-link {%if basename == 'sign-in-with-password' %}sidebar-link-selected{% endif %}" href="/docs/{{topic}}/{{section}}/sign-in-with-password.html">
								<span>Sign-in With Password</span>
							</a>

						</li>
					</ul>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/data/js">
						<span class="sidebar-icon icon-16-database"></span>
						<span>Data</span>
					</a>
					<ul class="sidebar-list sidebar-list-2 {%if topic != 'data' %}hidden{% endif %}">
						<li class="sidebar-item">
							<a class="sidebar-link {%if basename == 'index' %}sidebar-link-selected{% endif %}" href="/docs/{{topic}}/{{section}}/">
								<span>Getting Started</span>
							</a>
							<a class="sidebar-link {%if basename == 'saving-data' %}sidebar-link-selected{% endif %}" href="/docs/{{topic}}/{{section}}/saving-data.html">
								<span>Saving Data</span>
							</a>
							<a class="sidebar-link {%if basename == 'updating-data' %}sidebar-link-selected{% endif %}" href="/docs/{{topic}}/{{section}}/updating-data.html">
								<span>Updating Data</span>
							</a>
							<a class="sidebar-link {%if basename == 'deleting-data' %}sidebar-link-selected{% endif %}" href="/docs/{{topic}}/{{section}}/deleting-data.html">
								<span>Deleting Data</span>
							</a>
							<a class="sidebar-link {%if basename == 'retrieving-data' %}sidebar-link-selected{% endif %}" href="/docs/{{topic}}/{{section}}/retrieving-data.html">
								<span>Retrieving Data</span>
							</a>
							<a class="sidebar-link {%if basename == 'searching-data' %}sidebar-link-selected{% endif %}" href="/docs/{{topic}}/{{section}}/searching-data.html">
								<span>Searching Data</span>
							</a>
							<a class="sidebar-link {%if basename == 'real-time-feeds' %}sidebar-link-selected{% endif %}" href="/docs/{{topic}}/{{section}}/real-time-feeds.html">
								<span>Real-time feeds</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/email/js/">
						<span class="sidebar-icon icon-16-mail-full"></span>
						<span>Email</span>
					</a>
					<ul class="sidebar-list sidebar-list-2 {%if topic != 'email' %}hidden{% endif %}">
						<li class="sidebar-item">
							<a class="sidebar-link {%if basename == 'index' %}sidebar-link-selected{% endif %}" href="/docs/{{topic}}/{{section}}/">
								<span>Getting Started</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/hosting/">
						<span class="sidebar-icon icon-16-folder"></span>
						<span>Hosting</span>
					</a>
					<ul class="sidebar-list sidebar-list-2 {%if topic != 'hosting' %}hidden{% endif %}">
						<li class="sidebar-item">
							<a class="sidebar-link {%if basename == 'index' %}sidebar-link-selected{% endif %}" href="/docs/{{topic}}/">
								<span>Getting Started</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/other/">
						<span class="sidebar-icon icon-16-module"></span>
						<span>Other</span>
					</a>
					<ul class="sidebar-list sidebar-list-2 {%if topic != 'other' %}hidden{% endif %}">
						<li class="sidebar-item">
							<a class="sidebar-link {%if basename == 'index' %}sidebar-link-selected{% endif %}" href="/docs/{{topic}}/">
								<span>Getting Started with Liferay</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link {%if basename == 'nodejs' %}sidebar-link-selected{% endif %}" href="/docs/{{topic}}/nodejs.html">
								<span>Getting Started with Node.js</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link {%if basename == 'ruby' %}sidebar-link-selected{% endif %}" href="/docs/{{topic}}/ruby.html">
								<span>Getting Started with Ruby</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link {%if basename == 'java' %}sidebar-link-selected{% endif %}" href="/docs/{{topic}}/java.html">
								<span>Getting Started with Java</span>
							</a>
						</li>

					</ul>
				</li>
			</ul>
		</nav>

		<div class="sidebar-offset">
			{{menu()}}
			<header class="guide-header">
				<div class="container-hybrid">
					<h1 class="guide-header-title">{%if topic == 'intro' %}Intro{% endif %}{%if topic == 'auth' %}Auth{% endif %}{%if topic == 'data' %}Data{% endif %}{%if topic == 'email' %}Email{% endif %}{%if topic == 'hosting' %}Hosting{% endif %}{%if topic == 'other' %}Other{% endif %} <span>Guide</span></h1>
				</div>
			</header>
			<div class="container-hybrid">
				<div class="docs-guide row">
					{%if section %}
					<!-- <div class="guide-topics-container">
						<div class="guide-topics btn-group">
							<a href="/docs/{{topic}}/js{%if basename == 'index' %}/{% else %}/{{basename}}.html{% endif %}" class="btn btn-default {%if section == 'js' %}btn-active{% endif %}">
								JavaScript
							</a>
							<a href="/docs/{{topic}}/rest{%if basename == 'index' %}/{% else %}/{{basename}}.html{% endif %}" class="btn btn-default {%if section == 'rest' %}btn-active{% endif %}">
								REST
							</a>
						</div>
					</div> -->
					{% endif %}

					<div class="docs-content col-xs-16 col-md-9">
						{{contents}}

						<div class="guide-feedback">
							<p>Was this section helpful?</p>
							<button class="btn btn-accent guide-feedback-btn guide-feedback-btn-yes">Yes</button>
							<button class="btn btn-accent guide-feedback-btn guide-feedback-btn-no">No</button>
						</div>
						<div class="guide-github">
							<div class="guide-github-img">
								<img src="/images/misc/octocat.png" alt="Octocat"v>
							</div>
							<div class="guide-github-text">
								<p>Contribute to this Doc on Github! <a href="https://github.com/wedeploy/docs/edit/master/{{fullpath}}.md" class="docs-github-link" target="_blank">Edit this section</a>.</p>
							</div>
						</div>
					</div>
					<nav class="col-xs-16 col-md-offset-2 col-md-5">
						<div class="docs-nav-container">
							<div class="docs-nav">
								<div id="reading-container"></div>
							</div>
						</div>
					</nav>
				</div>
			</div>
			<div class="newsletter">
				<div class="container-hybrid">
					<div class="row">

						<h2 class="newsletter-subtitle">Couldn't find what you want?</h1>
						<p class="newsletter-description">Don't worry, we're constantly working on improvements. Stay tuned!</p>

						<form autocomplete="off" class="row newsletter-form">
							<div class="col-md-7 col-md-offset-3 col-xs-16">
								<div class="form-group">
									<input class="form-control" name="email" type="email" placeholder="Your email address" required>
								</div>
							</div>
							<div class="col-md-3 col-xs-16">
								<input class="btn btn-accent btn-block" type="submit" value="Submit">
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}

{% block scripts %}
	<script data-senna-track="temporary" src="/scripts/vendor/highlight.pack.min.js"></script>

	<script data-senna-track="temporary" src="/scripts/misc/newsletter.js"></script>
	<script data-senna-track="temporary" src="/scripts/misc/guide.js"></script>
	<script data-senna-track="temporary" src="/scripts/misc/menu.js"></script>
{% endblock %}
