{% extends "src/layouts/base.html" %}

{% block markup %}

	<nav class="topbar topbar-large topbar-light topbar-docs hidden-md hidden-lg">
		<div class="topbar-logo">
			<a class="topbar-logo-link" href="/">
				<span class="wedeploy-logo">
					<span class="we-circle"><span class="we">We</span></span>
					<span class="deploy">Deploy™</span>
					<span class="liferay">by Liferay</span>
					<span class="alpha-container">
						<span class="arrow-up"></span>
						<span class="alpha">alpha</span>
					</span>
				</span>
			</a>
		</div>
		<ul class="topbar-list">
			<li class="topbar-item">
				<a href="/docs" class="topbar-link">Documentation</a>
			</li>
			<li class="topbar-item">
				<a href="//dashboard.wedeploy.com/login" class="topbar-link">Log in</a>
			</li>
			<li class="topbar-item get-started">
				<a href="//dashboard.wedeploy.com/signup" class="btn btn-accent btn-sm">Get Started</a>
			</li>
		</ul>
	</nav>

	<main class="docs">

		<nav class="sidebar">
			<a class="sidebar-header toggler-header-collapsed">
				<span class="sidebar-icon icon-16-menu"></span>
				<span>Docs Menu</span>
				<span class="sidebar-icon-right">
					<span class="icon-12-arrow-down-short"></span>
					<span class="icon-12-arrow-up-short"></span>
				</span>
			</a>
			<ul class="sidebar-list sidebar-list-1 toggler-collapsed">
				<li class="sidebar-item">
					<form class="sidebar-search" action="/docs/search/" method="GET" enctype="multipart/form-data">
						<div class="form-group">
							<div class="input-inner-addon input-inner-addon-right">
								<input name="q" class="form-control" type="text" placeholder="Search Docs" autocomplete="off" required>
								<span class="input-inner-icon-helper icon-16-magnifier"></span>
							</div>
						</div>
					</form>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link sidebar-link-selected" href="/docs/">
						<span class="sidebar-icon icon-16-house"></span>
						<span>Docs Home</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/intro/">
						<span class="sidebar-icon icon-16-arrow-right-rod"></span>
						<span>Intro</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/auth/js/">
						<span class="sidebar-icon icon-16-persons"></span>
						<span>Auth</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/data/js/">
						<span class="sidebar-icon icon-16-database"></span>
						<span>Data</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/email/js/">
						<span class="sidebar-icon icon-16-mail-full"></span>
						<span>Email</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/hosting/">
						<span class="sidebar-icon icon-16-folder"></span>
						<span>Hosting</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/other/">
						<span class="sidebar-icon icon-16-module"></span>
						<span>Other</span>
					</a>
				</li>
			</ul>
		</nav>

		<div class="sidebar-offset">
			<nav class="topbar topbar-large topbar-light topbar-docs hidden-xs hidden-sm">
				<div class="topbar-logo">
					<a class="topbar-logo-link" href="/">
						<span class="wedeploy-logo">
							<span class="we-circle"><span class="we">We</span></span>
							<span class="deploy">Deploy™</span>
							<span class="liferay">by Liferay</span>
							<span class="alpha-container">
								<span class="arrow-up"></span>
								<span class="alpha">alpha</span>
							</span>
						</span>
					</a>
				</div>
				<ul class="topbar-list">
					<li class="topbar-item">
						<a href="/docs" class="topbar-link">Documentation</a>
					</li>
					<li class="topbar-item">
						<a href="//dashboard.wedeploy.com/login" class="topbar-link">Log in</a>
					</li>
					<li class="topbar-item get-started">
						<a href="//dashboard.wedeploy.com/signup" class="btn btn-accent btn-sm">Get Started</a>
					</li>
				</ul>
			</nav>

			{{contents}}
			<div class="newsletter">
				<div class="container-hybrid">
					<div class="row">
						<span class="newsletter-avatar">
							<span class="icon-16-mail"></span>
						</span>
						<h2 class="newsletter-subtitle">Couldn't find what you want?</h1>
						<p class="newsletter-description">Don't worry, we're constantly working on improvements. Stay tuned!</p>
						<form autocomplete="off" class="row newsletter-form">
							<div class="col-md-7 col-md-offset-3 col-xs-16">
								<div class="form-group">
									<input class="form-control" name="email" type="email" placeholder="Your email address" required>
								</div>
							</div>
							<div class="col-md-3 col-xs-16">
								<input class="btn btn-accent" type="submit" value="Subscribe">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</main>
{% endblock %}

{% block scripts %}
	<script data-senna-track="temporary" src="/scripts/vendor/handlebars.min.js"></script>

	<script data-senna-track="temporary" src="/scripts/misc/search.js"></script>
	<script data-senna-track="temporary" src="/scripts/misc/newsletter.js"></script>
	<script data-senna-track="temporary" src="/scripts/misc/menu.js"></script>

{% endblock %}
