{% extends "src/layouts/base.html" %}

{% block markup %}
	<nav class="topbar topbar-large topbar-light topbar-docs">
		<div class="topbar-logo">
			<a class="topbar-logo-link" href="/">
				<span class="wedeploy-logo">
					<span class="we-circle"><span class="we">We</span></span>
					<span class="deploy">Deploy™</span>
					<span class="liferay">by Liferay</span>
					<span class="alpha-container">
						<span class="arrow-up"></span>
						<span class="alpha">alpha</span>
					</span>
				</span>
			</a>
		</div>
		<ul class="topbar-list">
			<li class="topbar-item">
				<a href="/docs" class="topbar-link">Documentation</a>
			</li>
			<li class="topbar-item">
				<a href="//dashboard.wedeploy.com/login" class="topbar-link">Log in</a>
			</li>
			<li class="topbar-item get-started">
				<a href="//dashboard.wedeploy.com/signup" class="btn btn-accent btn-sm">Get Started</a>
			</li>
		</ul>
	</nav>

	<main class="docs">
		<div class="container">
			<div class="row">
				<div class="col-xs-16 col-md-10 col-md-offset-3">
					<article class="docs-content docs-terms">
						{{contents}}
					</article>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
