.tutorial .notfound {
	.notfound-icon {
		margin-bottom: 18px;

		.icon-16-thumb-up {
			font-size: 72px;
			position: relative;
			top: -5px;
		}
	}

	.notfound-text {
		font-size: 24px;
	}

	.checklist {
		display: inline-block;
		margin: 8px 0 auto;
		text-align: left;
	}
}
