$font-primary: "Circular Std", sans-serif;
$font-secondary: "Circular Std", sans-serif;
$accent: #00AE55;
$color-green: #00AE55;
$brand-success: #00AE55;

// Marble
@import "marble";
@import "templates/root";
@import "templates/landing";
@import "templates/docs";
@import "templates/search";
@import "templates/updates";
@import "templates/blog";
@import "templates/tutorial";

// Custom
@import "fonts";
@import "docs";
@import "terms";
@import "tutorials";
@import "updates";
@import "blog";
@import "selection";
@import "code";
@import "tooltip";
