---
title: "Ruby Tutorial"
description: "In this section, you'll learn how to deploy an application using Ruby."
tutorialTitle: "Getting started with Ruby"
url: "/tutorials/ruby/get-started/"
hidden: true
---

{namespace rubyTutorials}

/**
 *
 */
{template .render}
{/template}

/**
 * @param page
 */
{template .soyweb}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="0; URL='{$page.url}'">
</head>
</html>
{/template}
