---
title: "Data"
url: "/docs/data/getting-started/"
icon: "database"
weight: 4
layout: false
---

{namespace pageDocsDataIndex}

/**
 */
{template .render}
  {@param page: ?}

  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; URL='{$page.url}'">
  </head>
  </html>
{/template}
