/* Actions
/* ========================================================================== */

@mixin actions {
  @include unset-l;

  display: flex;
  margin-top: 48px;

  @media ($sm) {
    flex-wrap: wrap;
  }

  & li, & a {
    @media ($s-nav) {
      width: 100%;
    }
  }

  & li {
    &:nth-child(1) {
      @media ($sm) {
        margin-bottom: 12px;
      }

      @media ($s-nav) {
        margin-right: 0;
      }
    }

    &:nth-last-child(n+2) {
      @media ($l-nav) {
        margin-right: 12px;
      }
    }

    &:nth-child(odd) {
      & a {
        @include green-button;
      }
    }

    &:nth-child(even) {
      & a {
        @include black-button;
      }
    }
  }

  & a {
    @include unset-a;

    display: inline-block;

    @media ($s-nav) {
      justify-content: center;
    }
  }
}
