/* Colors
/* ========================================================================== */

$white: #ffffff;
$black: #0e141a;
$green: mix(#00d46a, $black, 80%);
$blue: #00a4ff;
$violet: #9552ef;
$red: #ff4040;
$orange: #ff6e02;
$yellow: #ffb700;
