/* Document
/* ========================================================================== */

html {
  @include normalize-html;

  background-color: mix($white, $black, 98%);
  color: $black;
  font: 15px/24px "Circular Std";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: relative;

  &::after {
    @media ($s-nav) {
      background-color: rgba($black, .8);
      content: "";
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      opacity: 0;
      position: fixed;
      transition: opacity .6s;
      z-index: -1;
    }
  }

  &[data-expanded="true"] {
    &::after {
      @media ($s-nav) {
        opacity: 1;
        z-index: 0;
      }
    }
  }
}

body {
  @include unset-body;
}
