/* Colors
/* ========================================================================== */

:root {
  $white: #ffffff;
  $black: #0e141a;
  $black-2: color($black alpha(2%));
  $black-60: color($black alpha(60%));
  $black-80: color($black alpha(80%));
  $black-90: color($black alpha(90%));
  $green: color(#00d46a blend($black 20%));
  $green-dark: color(#00d46a blend($black 20%));
  $blue: #00a4ff;
  $blue-light: #1f7aff;
  $violet: #9552ef;
  $red: #ff4040;
  $orange: #ff6e02;
  $yellow: #ffb700;
}
