/* Features
/* ========================================================================== */

@mixin features {
  @include unset-l;

  color: rgba($black, .8);
  font-size: 14px;
  line-height: 18px;
  margin-top: 36px;

  & > ::before {
    display: inline-block;
    margin-right: 6px;
    width: 18px;
    height: 18px;
    vertical-align: top;
  }
}
