/* Inset (1104px + 36px * 2)
/* ========================================================================== */

%inset-styles {
  @media (--s-nav) {
    padding-inline: 24px;
  }

  @media (--l-nav) and (width < 1344px) {
    padding-inline: 36px;
  }

  @media (width >= 1344px) {
    padding-inline: calc(50% - 636px);
  }
}
