%normalize-a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

%normalize-button {
  &::-moz-focus-inner {
    border-style: none;
    outline: 1px dotted ButtonText;
    padding: 0;
  }

  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }

  -webkit-appearance: button;
  margin: 0;
  overflow: visible;
  text-transform: none;
}

%normalize-html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

%normalize-input {
  margin: 0;
  overflow: visible;
}

%normalize-input-type-search {
  -webkit-appearance: textfield;
  outline-offset: -2px;

  &::-ms-clear {
    display: none;
  }

  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}
