/* Underline
/* ========================================================================== */

%underline {
  background-image: linear-gradient(currentColor 25%, transparent 50%);
  background-repeat: no-repeat;
  background-position: calc(200% - 2px) 100%;
  background-size: 200% 2px;
  margin-block-end: -3px;
  padding-block-end: 3px;
  transition: background-position 250ms;
}

%underline-hover {
  background-position: 100% 100%;
}
