---
description: "Leverage a NoSQL database with search and real-time capabilities using WeDeploy™ Data."
icon: "database"
headerTitle: "Data"
layout: "guide"
title: "Data"
weight: 3
---

{namespace pageDocsDataIndex}

/**
 *
 */
{template .render}
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="refresh" content="0; URL='getting-started.html'">
	</head>
	</html>
{/template}