---
title: "Data"
url: "/docs/data/getting-started.html"
icon: "database"
layout: "guide"
weight: 3
---

{namespace pageDocsDataIndex}

/**
 *
 */
{template .render}
{/template}

/**
 * @param page
 */
{template .soyweb}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="0; URL='{$page.description}'">
</head>
</html>
{/template}
