---
title: "Intro"
url: "/docs/intro/what-why-and-how/"
icon: "arrow-right-rod"
weight: 1
layout: false
---

{namespace pageDocsIntroIndex}

/**
 */
{template .render}
  {@param page: ?}

  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; URL='{$page.url}'">
  </head>
  </html>
{/template}
