---
description: "Tutorials description"
title: "Tutorials"
tutorialTitle: "Lorem Tutorials Ipsum"
url: "/tutorials/hosting/get-started/"
hidden: true
---

{namespace pageTutorialsIndex}

/**
 *
 */
{template .render}
{/template}

/**
 */
{template .soyweb}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="0; URL='/tutorials/hosting/get-started/'">
</head>
</html>
{/template}
