---
title: "Liferay Hack Day 2017"
description: "The holiday season is an exciting time. Not only do we get to put all our diets on hold because of the never ending flow of tree shaped cookies and ooey gooey chocolate fudge, but it also means that the annual Liferay engineering retreat is right around the corner."
date: "Feb 15, 2017"
author: "Jonni Lundy"
image: "/images/blog/post-5--0.png"
layout: "blog"
srcFilePath: src/pages/blog/liferay-hack-day.md
---

{namespace EAIyu}

/**
 * @param page
 * @param site
 */
{template .render}
	{call blog.render data="all"}
		{param content kind="html"}
			
<article>
<p>{$page.description}</p>
<p><strong>Every January, developers from all around the world gather at our Los Angeles office.</strong></p>
<p>It's an exhilarating time together full of talks, catered meals, new friendships, and even spontaneous adventures to the Hollywood sign and the Santa Monica Pier.</p>
<figure>
    <img src="../images/blog/post-5--0.png" alt="Engineering Retreat">
</figure>
<p>On the final day of the retreat, we put on a hack day (because how could we bring all the engineers to one location without having one?!).</p>
<blockquote>
<p>Every year we are amazed at the creativity of the projects, and this year did not disappoint.</p>
</blockquote>
<p>There are only two requirements for their projects:</p>
<ul>
<li>The code needs to be new</li>
<li>It has to be pushed to Github</li>
</ul>
<p>On top of that, this year we encouraged the teams to use WeDeploy to host their projects. Four teams did, and these were there projects.</p>
<h4><a href="https://youtu.be/SEtTxgRpw28">Game Room Availability</a></h4>
<p>Nobody wants to walk all the way down to the Game Room to find that the ping pong table is taken. Never fear, Game Room Availability app is here to show you in real time if anyone is using your game.</p>
<h6>What they used: <a href="/docs/hosting">WeDeploy™ Hosting</a>.</h6>
<figure>
        <img src="../images/blog/post-5--1.png" alt="Game Room Availability">
</figure>
<h4><a href="https://youtu.be/Za3nUelYPsE">Liferay Home</a></h4>
<p>Don't ever come home to a freezing cold house again. Liferay home will learn your habits, track your commute, and automate pretty much anything in your house.</p>
<h6>What they used: <a href="/docs/hosting">WeDeploy™ Hosting</a>, <a href="/docs/data">WeDeploy™ Data</a>.</h6>
<figure>
    <img src="../images/blog/post-5--2.png" alt="Liferay Home">
</figure>
<h4><a href="https://youtu.be/LfcGDiQq0zI">Release Notes</a></h4>
<p>Annoyed by manually checking for fix pack releases for Portal 7.0? This team created an app that fetched the fix pack information and sorted them by component so you easily find what you need.</p>
<h6>What they used: <a href="/docs/hosting">WeDeploy™ Hosting</a>.</h6>
<figure>
    <img src="../images/blog/post-5--3.png" alt="Release Notes">
</figure>
<h4><a href="https://youtu.be/cYvZuL_9W4M">Chicken Fingers</a></h4>
<p>Don't let the name deceive you, this project was the real deal- and the grand prize winner of the hack day. Using voice recognition, they paved the way for a stellar hands-free-recipe cooking experience.</p>
<h6>What they used: <a href="/docs/hosting">WeDeploy™ Hosting</a>, <a href="/docs/data">WeDeploy™ Data</a>.</h6>
<figure>
    <img src="../images/blog/post-5--4.png" alt="Chicken Fingers">
</figure>
<p>We were so impressed with what the teams came up with in less than nine hours! We hope that these projects have inspired you to keep creating, to keep dreaming, and of course, to keep deploying. 🚀</p>
</article>


			<input type="hidden" value="{$page.title}">
			<input type="hidden" value="{$site.title}">
		{/param}
	{/call}
{/template}


/**
 *
 */
{template .soyweb}
	{call base.render data="all"}
		{param content kind="html"}
			{call .render data="all" /}
		{/param}
	{/call}
{/template}
