@font-face {
  font-family: "galano-medium";
  src: url('../fonts/galano/311196_1_0.eot');
  src: url('../fonts/galano/311196_1_0.eot?#iefix') format('eot'),
    url('../fonts/galano/311196_1_0.woff') format('woff'),
    url('../fonts/galano/311196_1_0.ttf') format('truetype');
}

@font-face {
  font-family: "galano-semibold";
  src: url('../fonts/galano/311196_2_0.eot');
  src: url('../fonts/galano/311196_2_0.eot?#iefix') format('eot'),
    url('../fonts/galano/311196_2_0.woff') format('woff'),
    url('../fonts/galano/311196_2_0.ttf') format('truetype');
}

@font-face {
  font-family: "galano-bold";
  src: url('../fonts/galano/311196_0_0.eot');
  src: url('../fonts/galano/311196_0_0.eot?#iefix') format('eot'),
    url('../fonts/galano/311196_0_0.woff') format('woff'),
    url('../fonts/galano/311196_0_0.ttf') format('truetype');
}
