@import "practical-styles";

/* Colors
/* ========================================================================== */

:root {
  --black: #0e141a;
  --black-2: color(var(--black) alpha(2%));
  --black-60: color(var(--black) alpha(60%));
  --black-80: color(var(--black) alpha(80%));
  --black-90: color(var(--black) alpha(90%));
  --blue: #00a4ff;
  --green: color(#00d46a blend(var(--black) 20%));
  --orange: #ff6e02;
  --red: #ff4040;
  --violet: #9552ef;
  --white: #ffffff;
  --white-60: color(var(--white) alpha(60%));
  --yellow: #ffb700;
}

/* Actions
/* ========================================================================== */

%actions-styles {
  @extend %c-unset-l-styles;

  display: flex;
  margin-block-start: 48px;

  @media (--sm) {
    flex-wrap: wrap;
  }

  & li {
    &:nth-child(1) {
      @media (--sm) {
        margin-block-end: 12px;
      }
    }

    &:nth-last-child(n+2) {
      margin-inline-end: 12px;
    }

    &:nth-child(odd) {
      & a {
        @extend %green-button-styles;
      }
    }

    &:nth-child(even) {
      & a {
        @extend %black-button-styles;
      }
    }
  }

  & a {
    @extend %c-unset-a-styles;

    display: inline-block;
  }
}

/* Buttons
/* ========================================================================== */

%button-base-styles {
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px color(var(--black) alpha(4%)), 0 2px 6px 0 color(var(--black) alpha(10%));
  color: var(--white);
  display: inline-flex;
  font-size: 16px;
  font-weight: 900;
  line-height: 18px;
  text-align: center;
  transition: background-color 300ms;
  white-space: nowrap;

  @media (--sm) {
    padding: 15px 24px;
  }

  @media (--l) {
    padding: 15px 36px;
  }
}

%black-button-styles {
  @extend %button-base-styles;

  background-color: var(--black);

  &:hover, &:focus {
    background-color: color(var(--black) alpha(80%));
  }
}

%green-button-styles {
  @extend %button-base-styles;

  background-color: var(--green);

  &:hover, &:focus {
    background-color: color(var(--green) alpha(80%));
  }
}

/* Features
/* ========================================================================== */

%features-styles {
  @extend %c-unset-l-styles;

  color: color(var(--black) alpha(80%));
  font-size: 14px;
  line-height: 18px;
  margin-block-start: 36px;

  & > * {
    &::before {
      display: inline-block;
      margin-inline-end: 6px;
      size: 18px;
      vertical-align: top;
    }
  }
}

/* Heading Symbol ::before Styles
/* ========================================================================== */

%heading-symbol-styles {
  display: block;
  margin-block-end: 30px;
  size: 66px;
}

%secondary-heading-symbol-styles {
  display: block;
  margin-block-end: 18px;
  size: 42px;
}

/* Insets (1104px + 36px * 2)
/* ========================================================================== */

@custom-media --s-inset (width <  1344px);
@custom-media --l-inset (width >= 1344px);

:root {
  --inset: 1272px;
}

%inset-styles {
  @media (--s-inset) {
    padding-inline: 36px;
  }

  @media (--l-inset) {
    padding-inline: calc((100% - var(--inset)) / 2);
  }
}

/* Sizes (480px | 960px)
/* ========================================================================== */

@custom-media --s  (width <  480px);
@custom-media --sm (width <  960px);
@custom-media --m  (width >= 480px) and (width < 960px);
@custom-media --ml (width >= 480px);
@custom-media --l  (width >= 960px);
