@import "./_inset";

.group-created--authdemo {
  background-color: #4A618D;
  color: var(--white);
}

.footer-created--authdemo {
  background-color: color(var(--black) alpha(20%));
}

.back-created--authdemo {
  @extend %c-unset-button-styles;

  inset-start: 66px 18px;
  position: absolute;

  &::before {
    background-color: color(var(--white) alpha(20%));
    border-radius: 50%;
    content: url("../images/back-created--authdemo.svg");
    cursor: pointer;
    display: block;
    size: 36px;
    transition: background-color 150ms;
  }

  &:matches(:hover, :focus)::before {
    background-color: color(var(--white) alpha(40%));
  }
}

.heading-created--authdemo {
  @extend %c-unset-h-styles;

  font-size: 40px;
  font-weight: 900;
  line-height: 66px;
  margin-block: 162px 6px;
  text-align: center;

  &::before {
    content: url("../images/heading-created--authdemo.svg");
    display: block;
    margin-block-end: 18px;
    margin-inline: auto;
    size: 150px;
  }
}

.summary-created--authdemo {
  @extend %c-unset-p-styles;

  color: color(var(--white) alpha(80%));
  font-size: 18px;
  line-height: 30px;
  margin-block-end: 144px;
  text-align: center;
}

.footer-created--authdemo span {
  color: color(var(--white) alpha(60%));
}
