@import "./_inset";

/* JS Focus Ring (move this)
/* ========================================================================== */

.js-focus-ring :focus:not(.focus-ring) {
  outline-width: 0;
}

/* Underline (move this)
/* ========================================================================== */

%underline-styles {
  background-image: linear-gradient(currentColor 25%, transparent 50%);
  background-repeat: no-repeat;
  background-position: calc(200% - 2px) 100%;
  background-size: 200% 2px;
  display: inline-block;
  margin-block-end: -3px;
  padding-block-end: 3px;
  transition: background-position 250ms;

  &:hover {
    background-position: 100% 100%;
  }
}

/* Auth Demo: Actions
/* ========================================================================== */

.actions--authdemo {
  @extend %c-unset-l-styles;

  display: flex;
  font-family: "Circular Std";
  inset-block-end: 36px;
  inset-inline-start: 48px;
  position: absolute;

  & > * {
    &:nth-child(n+2) {
      margin-inline-start: 12px;
    }
  }

  & a {
    @extend %c-unset-a-styles;

    background-color: color(var(--white) alpha(16%));
    box-shadow: inset 0 0 0 1px color(var(--black) alpha(4%)), 0 2px 4px 0 color(var(--black) alpha(6%));
    border-radius: 4px;
    color: var(--white);
    display: block;
    font-size: 13px;
    line-height: 24px;
    padding: 3px 12px;

    &:hover, &:focus {
      opacity: .9;
    }

    &::after {
      content: url("../images/actions--authdemo.svg");
      display: inline-block;
      size: 22px 20px;
      vertical-align: middle;
    }
  }
}

/* Auth Demo
/* ========================================================================== */

.view--authdemo {
  display: flex;
  padding-top: calc(126px + 18px);
  position: relative;

  @media (--sm) {
    flex-wrap: wrap;
  }

  & > * {
    @media (--sm) {
      flex-basis: 100%;
    }

    &:nth-child(3) {
      background-color: color(var(--black) alpha(4%));
      display: flex;
      flex-grow: 1;
      position: relative;
      justify-content: center;

      @media (--sm) {
        flex-basis: 100%;
      }

      & > * {
        @media (--sm) {
          flex-basis: 100%;
        }
      }
    }
  }
}

.tip--authdemo {
  @extend %c-unset-p-styles;

  color: color(var(--black) alpha(80%));
  display: none;
  font-size: 12px;
  line-height: 18px;
  position: absolute;

  @media (--l) and (width < 1200px) {
    inset-block-start: calc(-126px + 12px);
    inset-inline-start: calc(50% - 426px / 2 - 56px);
  }

  @media (--l) and (width >= 1200px) {
    inset-block-start: -126px;
    inset-inline-start: calc(50% + 426px / 2 + 6px);
  }

  &::after {
    content: url("../images/tip--authdemo.svg");
    display: block;
    position: absolute;
    size: 26px 39px;

    @media (--l) and (width < 1200px) {
      margin-inline-start: 18px;
      transform: rotate(13deg) scaleX(-1);
    }

    @media (--l) and (width >= 1200px) {
      transform: rotate(-13deg);
    }
  }
}

/* Auth Demo: Code
/* ========================================================================== */

.group--authdemo-code {
  background-color: var(--black);
  color: color(var(--white) alpha(50%));
  min-height: calc(420px + 48px * 2);
  padding: 48px;
  position: relative;
  overflow: auto;

  & pre {
    @extend %c-unset-pre-styles;

    font-family: "Roboto Mono", "ArialUnicodeMS", monospace;
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    width: 100%;

    &:not(.is-active) {
      max-height: 0;
      opacity: 0;
      transition: max-height 0s, opacity 0s;
    }

    &.is-active {
      max-height: 900px;
      opacity: 1;
      transition: max-height 0s 300ms, opacity 300ms;
    }

    & code {
      font-family: inherit;
    }
  }
}

/* Auth Demo: Menu
/* ========================================================================== */

.menu--authdemo-code {
  @extend %c-unset-l-styles;

  color: color(var(--black) alpha(80%));
  display: flex;
  font-size: 14px;
  inset-block-start: calc(-42px + 126px + 18px);
  line-height: 24px;
  position: absolute;

  @media (--s) {
    justify-content: center;
    width: 100%;
  }

  @media (--ml) {
    padding-inline-start: 48px;
  }

  & > * {
    &:nth-child(n+2) {
      margin-inline-start: 24px;
    }
  }

  & button {
    @extend %c-unset-button-styles;

    color: var(--black-80);
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
  }

  & span {
    display: block;
    padding-block-end: 18px;
    padding-inline: 6px;

    &::before {
      background-color: color(var(--black) alpha(20%));
      border-radius: 2px;
      display: inline-block;
      margin-inline-end: 12px;
      size: 24px;
      vertical-align: top;
    }
  }

  & :matches(:hover, :focus) span::before {
    background-color: color(var(--black) alpha(90%));
    transition: 300ms;
  }

  & .is-active span {
    box-shadow: inset 0 -3px 0 0 var(--violet);

    &::before {
      background-color: color(var(--black) alpha(90%));
    }
  }

  & .is-web span::before {
    content: url("../images/tab-web--authdemo.svg");
  }

  & .is-ios span::before {
    content: url("../images/tab-ios--authdemo.svg");
  }

  & .is-android span::before {
    content: url("../images/tab-android--authdemo.svg");
  }
}

/* Auth Demo: Component
/* ========================================================================== */

.group--authdemo {
  background-repeat: no-repeat;
  background-size: 100% auto, 100% auto;
  box-shadow: 3px 12px 16px 0 color(var(--black) alpha(12%)), 6px 18px 36px 0 color(var(--black) alpha(10%));
  border-radius: 4px;
  padding-block-start: 30px;
  padding-inline: 42px;
  position: relative;
  max-width: 100%;

  @media (--l) {
    width: 426px;
  }

  &:not(.is-active) {
    display: none;
  }

  &::before {
    inset-block-start: 0;
    inset-inline-start: 0;
    position: absolute;
  }

  &::after {
    inset-block-start: 0;
    inset-inline-end: 0;
    position: absolute;
  }
}

.group-signin--authdemo {
  background-image: url("../images/view--authdemo.png");
}

.group-signin--authdemo,
.group-signup--authdemo {
  background-color: var(--white);
}

.group-signin--authdemo::before,
.group-signup--authdemo::before {
  content: url("../images/view--authdemo-bar--start.svg");
  size: 80px 30px;
}

.group-signin--authdemo::after,
.group-signup--authdemo::after {
  content: url("../images/view--authdemo-bar--end.svg");
  size: 98px 30px;
}

.group-created--authdemo::before {
  content: url("../images/view-created--authdemo-bar--start.svg");
  size: 80px 30px;
}

.group-created--authdemo::after {
  content: url("../images/view-created--authdemo-bar--end.svg");
  size: 98px 30px;
}

/* Auth Demo: Headings
/* ========================================================================== */

.heading-group--authdemo {
  margin-block-end: 54px;
}

.subheading-signin--authdemo {
  @extend %c-unset-h-styles;

  color: color(var(--black) alpha(40%));
  font-size: 16px;
  font-weight: 900;
  line-height: 30px;
  margin-block-start: 36px;
}

.heading-signin--authdemo {
  @extend %c-unset-h-styles;

  color: var(--black);
  font-size: 46px;
  font-weight: 900;
  line-height: 60px;
}

/* Auth Demo: Form
/* ========================================================================== */

.login--authdemo {
  margin-block: 54px 48px;
}

.login-username--authdemo, .login-password--authdemo {
  @extend %c-unset-input-styles;

  background-color: color(var(--black) alpha(1%));
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px color(var(--black) alpha(18%));
  color: color(var(--black) alpha(80%));
  display: block;
  font-size: 16px;
  height: 60px;
  line-height: 24px;
  padding-inline: 18px;
  transition: box-shadow 300ms;
  width: 100%;

  &:hover {
    background-color: color(var(--black) alpha(1%));
    box-shadow: inset 0 0 0 1px color(var(--black) alpha(40%));
  }

  &:focus {
    background-color: color(var(--black) alpha(1%));
    box-shadow: inset 0 0 0 1px #365080;
    outline-width: 0;
  }

  &::placeholder {
    color: color(var(--black) alpha(80%));
  }
}

.login-submit--authdemo {
  @extend %c-unset-button-styles;

  background-color: #37517E;
  border: 1px solid color(var(--black) alpha(4%));
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 900;
  line-height: 60px;
  text-transform: uppercase;
  transition: background-color 300ms;
  width: 100%;

  &:hover, &:focus {
    background-color: color(#37517E alpha(90%));
  }
}

.login-password--authdemo {
  margin-block-start: 18px;
}

/* Auth Demo: Forgot Password
/* ========================================================================== */

.forgot--authdemo {
  font-size: 16px;
  line-height: 24px;
  text-align: right;

  & a {
    @extend %c-unset-a-styles;
    @extend %underline-styles;

    color: var(--green);
  }
}

.altlogin-heading--authdemo {
  @extend %c-unset-p-styles;

  display: flex;
  margin-block: 48px;

  &::before, &::after {
    box-shadow: 0 1px 0 0 color(var(--black) alpha(18%));
    content: "";
    flex-grow: 1;
    transform: translateY(-50%);
  }

  &::before {
    margin-inline-end: 1em;
  }

  &::after {
    margin-inline-start: 1em;
  }
}

.altlogin-list--authdemo {
  @extend %c-unset-l-styles;

  display: flex;
  margin-block: 48px;

  @media (--s) {
    flex-direction: column;
  }

  & li {
    @media (--ml) {
      flex-basis: calc(100% / 3);
    }

    &:nth-child(n+2) {
      @media (--s) {
        margin-block-start: 12px;
      }

      @media (--ml) {
        margin-inline-start: 12px;
      }
    }
  }

  & a {
    border-radius: 4px;
    display: block;
    padding: 13px;
    transition: opacity 300ms;

    &[aria-label="google"] {
      background-color: #ff4040;

      &::before {
        content: url("../images/login-google.svg");
        display: block;
        margin-inline: auto;
        size: 33px;
      }
    }

    &[aria-label="facebook"] {
      background-color: #3c5a9a;

      &::before {
        content: url("../images/login-facebook.svg");
        display: block;
        margin-inline: auto;
        size: 33px;
      }
    }

    &[aria-label="github"] {
      background-color: #000000;

      &::before {
        content: url("../images/login-github.svg");
        display: block;
        margin-inline: auto;
        size: 33px;
      }
    }

    &[aria-label]:matches(:hover, :focus) {
      opacity: .8;
    }
  }
}

/* Auth Demo: Signup
/* ========================================================================== */

.footer--authdemo {
  @extend %c-unset-p-styles;

  font-size: 16px;
  line-height: 24px;
  margin-block-start: 48px;
  margin-inline: -42px;
  padding: 30px 42px;
  text-align: center;

  & a {
    @extend %c-unset-a-styles;
    @extend %underline-styles;

    display: inline-block;
    margin-inline-start: .25em;
  }
}

.footer-login--authdemo, .footer-signup--authdemo {
  background-color: color(var(--black) alpha(2%));
  color: color(var(--black) alpha(80%));

  & a {
    color: var(--green);
  }
}

/* Auth Demo: Signup
/* ========================================================================== */

.demo--authdemo {
  @media (--sm) {
    flex-basis: 100%;
  }
}
