@import "practical-styles";

/* Custom Media
/* ========================================================================== */

@custom-media --rows (width < 960px);
@custom-media --columns (width >= 960px);

@custom-media --s  (width <  480px);
@custom-media --sm (width <  960px);
@custom-media --m  (width >= 480px) and (width < 960px);
@custom-media --ml (width >= 480px);
@custom-media --l  (width >= 960px);

:root {
  /* Color Properties
  /* ====================================================================== */

  --white: #ffffff;
  --black: #0e141a;
  --black-2: color(var(--black) alpha(2%));
  --black-60: color(var(--black) alpha(60%));
  --black-80: color(var(--black) alpha(80%));
  --black-90: color(var(--black) alpha(90%));
  --green: color(#00d46a blend(var(--black) 20%));
  --green-dark: color(#00d46a blend(var(--black) 20%));
  --blue: #00a4ff;
  --blue-light: #1f7aff;
  --violet: #9552ef;
  --red: #ff4040;
  --orange: #ff6e02;
  --yellow: #ffb700;
}

/* Button Styles
/* ========================================================================== */

%c-button-base-styles {
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px color(var(--black) alpha(4%)), 0 2px 6px 0 color(var(--black) alpha(10%));
  color: var(--white);
  display: inline-flex;
  font-size: 16px;
  font-weight: 900;
  line-height: 18px;
  padding: 15px 36px;
  text-align: center;
  transition: background-color 300ms;
  white-space: nowrap;
}

%c-black-button-styles {
  @extend %c-button-base-styles;

  background-color: var(--black);

  &:hover, &:focus {
    background-color: color(var(--black) alpha(80%));
  }
}

%c-green-button-styles {
  @extend %c-button-base-styles;

  background-color: var(--green);

  &:hover, &:focus {
    background-color: color(var(--green) alpha(80%));
  }
}

/* Action Styles
/* ========================================================================== */

%c-actions-styles {
  @extend %c-unset-p-styles;

  display: flex;

  @media (--rows) {
    flex-wrap: wrap;
  }

  & > * {
    @extend %c-unset-a-styles;

    &:nth-child(1) {
      @extend %c-green-button-styles;
    }

    &:nth-child(1) {
      @extend %c-black-button-styles;

      margin-inline-start: 12px;
    }
  }
}

/* Heading Symbol ::before Styles
/* ========================================================================== */

%symbol-primary-heading-before-styles {
  display: block;
  margin-block-end: 30px;
  size: 66px;
}

%symbol-secondary-heading-before-styles {
  display: block;
  margin-block-end: 18px;
  size: 42px;
}

/* Actions List Layout
/* ========================================================================== */

%c-actions-list-styles {
  @extend %c-unset-l-styles;

  margin-block-start: 48px;

  @media (--rows) {
    text-align: center;
  }

  @media (--columns) {
    display: flex;
  }

  & > * a {
    @extend %c-unset-a-styles;
  }

  & > :nth-child(1) a {
    @extend %c-green-button-styles;
  }

  & > :nth-child(2) a {
    @extend %c-black-button-styles;

    @media (--rows) {
      margin-block-start: 12px;
    }

    @media (--columns) {
      margin-inline-start: 12px;
    }
  }
}

/* Features List Styles
/* ========================================================================== */

%c-features-list-styles {
  @extend %c-unset-l-styles;

  color: color(var(--black) alpha(80%));
  font-size: 14px;
  line-height: 18px;
  margin-block-start: 30px;

  & > * {
    &::before {
      display: inline-block;
      margin-inline-end: 6px;
      size: 18px;
      vertical-align: top;
    }

    &:nth-child(n+2) {
      margin-block-start: 24px;
    }
  }
}

/* 1440 Layout (1440px + 36px * 2 inset)
/* ========================================================================== */

%c-1440-layout-styles {
  @media (width >= 1512px) {
    padding-inline: calc((100% - 1440px) / 2);
  }

  @media (width < 1512px) {
    padding-inline: 36px;
  }
}

/* 33/33/33 Layout
/* ========================================================================== */

%c-33-33-33-layout-styles {
  padding-block: 60px 66px;

  @media (--rows) {
    & > * {
      margin-inline: auto;
      max-width: 520px;
    }
  }

  @media (--columns) {
    display: flex;

    & > * {
      flex-basis: calc(100% / 3);
      padding-inline: 60px;
    }
  }

  & h2 {
    @extend %c-unset-h-styles;

    font-size: 18px;
    font-weight: 900;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 6px color(var(--black) alpha(5%));
  }

  & p:not([class]) {
    @extend %c-unset-p-styles;

    color: color(var(--black) alpha(80%));
    font-size: 16px;
    line-height: 24px;
    margin-block-start: 24px;
    text-shadow: 0 1px 6px rgba(14,20,26,0.05);
  }
}

/* Service Layout
/* ========================================================================== */

%c-service-layout-styles {
  align-items: flex-end;
  padding-block: 60px 66px;

  @media (--columns) {
    display: flex;
  }

  @media (width < 1128px) {
    padding-inline: 12px;
  }

  @media (width >= 1128px) {
    padding-inline: calc((100% - 1104px) / 2);
  }

  & .list--features {
    @extend %c-features-list-styles;

    column-count: 2;
    column-gap: 24px;
  }

  & .list--actions {
    @extend %c-actions-list-styles;
  }
}

/* 50/50 Service Layout
/* ========================================================================== */

%c-50-50-service-layout-styles {
  @extend %c-service-layout-styles;

  & > * {
    @media (--columns) {
      flex-basis: calc(100% / 2);
    }
  }

  & h2 {
    @extend %c-unset-h-styles;

    font-size: 33px;
    font-weight: 900;
    line-height: 42px;
    text-shadow: 0 1px 6px color(var(--black) alpha(5%));
  }

  & section h3 {
    @extend %c-unset-h-styles;

    font-size: 18px;
    line-height: 30px;
  }

  & section:nth-child(n+2) h3 {
    margin-block-start: 36px;
  }

  & p:not([class]) {
    @extend %c-unset-p-styles;

    color: color(var(--black) alpha(80%));
    font-size: 16px;
    line-height: 24px;
    margin-block-start: 24px;
    text-shadow: 0 1px 6px rgba(14,20,26,0.05);
  }

  & section p:not([class]) {
    color: color(var(--black) alpha(90%));
    margin-block-start: 18px;
  }

  & .view {
    max-width: 480px;

    @media (--rows) {
      margin-inline: auto;
    }
  }
}

/* 50/50 (RTL) Service Layout
/* ========================================================================== */

%c-50-50-rtl-service-layout-styles {
  @extend %c-50-50-service-layout-styles;

  @media (--rows) {
    & > :nth-child(2) {
      margin-block-start: 36px;
    }
  }

  @media (--columns) {
    flex-direction: row-reverse;

    & > * {
      &:nth-child(1) {
        padding-inline-start: 72px;

        & .view {
          margin-inline-end: auto;
        }
      }

      &:nth-child(2) {
        padding-inline-end: 72px;

        & .view {
          margin-inline-start: auto;
        }
      }
    }
  }
}

/* 50/50 (LTR) Service Layout
/* ========================================================================== */

%c-50-50-ltr-service-layout-styles {
  @extend %c-50-50-service-layout-styles;

  flex-direction: row;

  @media (--rows) {
    & > :nth-child(2) {
      margin-block-start: 36px;
    }
  }

  @media (--columns) {
    & > * {
      &:nth-child(1) {
        padding-inline-end: 72px;

        & .view {
          @media (--columns) {
            margin-inline-start: auto;
          }
        }
      }

      &:nth-child(2) {
        padding-inline-start: 72px;

        & .view {
          @media (--columns) {
            margin-inline-end: auto;
          }
        }
      }
    }
  }
}
