@import "./_inset";

/* Data
/* ========================================================================== */

.group--data-more {
  @media (--ml-feature) {
    margin-inline-start: 36px;
  }
}

.heading--data::before {
  content: url(../images/heading--data.svg);
}

.features--data > ::before {
  content: url(../images/features--data.svg);
}

.heading--data-delight::before {
  content: url(../images/heading--data-delight.svg);
}

.heading--data-build::before {
  content: url(../images/heading--data-build.svg);
}
