@import "./_inset";

/* Data Demo
/* ========================================================================== */

.view--demo {
  @extend %inset-styles;
}

.demo-data {
  background-color: var(--white);
  background-image: url(../images/data-demo.jpg);
  background-size: 100% 100%;
  border-radius: 4px;
  box-shadow: 2px 8px 15px 0 color(var(--black) alpha(12%)), 5px 15px 35px 0 color(var(--black) alpha(10%));
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  position: relative;
  width: 100%;

  & > * {
    display: flex;
    width: 100%;

    @media (width < 640px) {
      flex-wrap: wrap;
    }
  }
}

/* Data Demo: Header
/* ========================================================================== */

.demo-data-header {
  display: block;
  height: 66px;
  margin-inline-end: 60px;
  order: 1;
  user-select: none;

  @media (width < 640px) {
    display: none;
  }

  @media (width >= 640px) {
    width: 162px;
  }

  & h2, & h3 {
    @extend %c-unset-h-styles;
  }

  & h2 {
    color: color(var(--black) alpha(50%));
    font-size: 11px;
    font-weight: 900;
    line-height: 18px;
    text-transform: uppercase;
  }

  & h3 {
    color: var(--black);
    font-size: 33px;
    font-weight: 900;
    line-height: 48px;
  }
}

/* Data Demo: Search
/* ========================================================================== */

.demo-data-search {
  display: flex;
  flex-grow: 1;
  margin-block-end: 18px;
  order: 3;

  @media (width >= 640px) {
    height: 36px;
    justify-content: flex-end;
  }

  & label {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 100%;
    z-index: 0;

    @media (width < 640px) {
      margin-block-end: 6px;
    }

    @media (width >= 640px) {
      max-width: 312px;
    }
  }

  & input {
    @extend %c-normalize-input-styles;
    @extend %c-normalize-input-type-search-styles;
    @extend %c-unset-input-styles;

    color: var(--black);
    font-size: 13px;
    line-height: 18px;
    padding: 9px 12px;
    padding-inline-start: 42px;
    position: relative;
    width: 100%;

    @media (--s) {
      font-size: 16px;
    }

    &:hover {
      & + span {
        background: color(var(--black) alpha(12%));
        border-radius: 6px;
      }
    }

    &:focus {
      outline: 0;

      & + span {
        background: var(--white);
        box-shadow: 0 1px 2px 0 color(var(--black) alpha(10%)), 0 1px 6px 0 color(var(--black) alpha(10%));
        border-radius: 6px;
      }
    }

    &::placeholder {
      color: color(var(--black) alpha(50%));
    }
  }

  & span {
    background: color(var(--black) alpha(8%));
    border-radius: 6px;
    content: "";
    display: inline-block;
    inset: 0;
    position: absolute;
    z-index: -1;

    &::before {
      content: url("../images/demo-data-search.svg");
      inset-start: 9px 12px;
      position: absolute;
      size: 17px;
    }
  }
}

/* Data Demo: Sidebar
/* ========================================================================== */

.demo-data-sidebar {
  margin-block-start: 18px;
  margin-inline-end: 60px;
  width: 162px;
  order: 2;
  user-select: none;

  @media (width < 640px) {
    display: none;
  }

  & section {
    &:nth-child(n+2) {
      margin-block-start: 18px;
    }
  }

  & h4 {
    @extend %c-unset-h-styles;

    color: color(var(--black) alpha(50%));
    font-size: 11px;
    font-weight: 900;
    line-height: 18px;
    margin-block-end: 12px;
    text-transform: uppercase;
  }

  & ul {
    @extend %c-unset-l-styles;
  }

  & label {
    display: flex;
    position: relative;

    & span:nth-child(n+3):last-child {
      color: color(var(--black) alpha(50%));
      margin-inline-start: auto;
    }
  }
}

.demo-data-sidebar-genre, .demo-data-sidebar-year, .demo-data-sidebar-ratings {
  & [type="checkbox"] {
    @extend %c-unset-input-styles;

    cursor: pointer;
    inset: 0;
    opacity: 0;
    position: absolute;
    size: 100%;
  }
}

.demo-data-sidebar-genre, .demo-data-sidebar-year {
  & [type="checkbox"] {
    @extend %c-unset-input-styles;

    cursor: pointer;
    inset: 0;
    opacity: 0;
    position: absolute;
    size: 100%;

    & + span {
      background: color(var(--black) alpha(12%));
      border-radius: 3px;
      display: inline-block;
      margin-inline-end: 9px;
      size: 16px;
    }

    &:hover + span {
      background-color: color(var(--black) alpha(20%));
    }

    &:checked + span {
      background-color: var(--white);
      border-radius: 3px;
      box-shadow: 0 1px 2px 0 color(var(--black) alpha(10%)), 0 1px 6px 0 color(var(--black) alpha(10%));
      display: flex;
      justify-content: center;

      &::before {
        content: url("../images/demo-data-sidebar-checkbox.svg");
        size: 12px 9px;
      }
    }
  }
}

.demo-data-sidebar-genre, .demo-data-sidebar-year {
  & ul {
    color: color(var(--black) alpha(70%));
    font-size: 12px;
    line-height: 18px;

    & > :nth-child(n+2) {
      margin-top: 6px;
    }
  }
}

.demo-data-sidebar-genre {
  & form label {
    display: inline-block;
    margin-block-end: 18px;
    position: relative;
    vertical-align: middle;
    width: 100%;
    z-index: 0;
  }

  & form input {
    @extend %c-normalize-input-styles;
    @extend %c-normalize-input-type-search-styles;
    @extend %c-unset-input-styles;

    color: var(--black);
    font-size: 12px;
    line-height: 18px;
    outline: 0;
    padding: 3px;
    padding-inline-start: 30px;
    position: relative;
    width: 100%;

    &::placeholder {
      color: color(var(--black) alpha(50%));
    }
  }

  & form input {
    outline: 0;

    & + span {
      background: color(var(--black) alpha(8%));
      border-radius: 6px;
      content: "";
      display: inline-block;
      inset: 0;
      position: absolute;
      z-index: -1;

      &::before {
        content: url("../images/demo-data-search.svg");
        inset-start: 2px 6px;
        position: absolute;
        size: 12px;
      }
    }

    &:hover + span {
      background: color(var(--black) alpha(12%));
    }

    &:focus + span {
      background-color: var(--white);
      box-shadow: 0 1px 2px 0 color(var(--black) alpha(10%)), 0 1px 6px 0 color(var(--black) alpha(10%));
    }
  }
}

.demo-data-sidebar-ratings li {
  & input + span {
    border-radius: 3px;
    padding-block: 3px;
  }

  & input:checked + span {
    background-color: var(--white);
    box-shadow: 0 1px 2px 0 color(var(--black) alpha(10%)), 0 1px 6px 0 color(var(--black) alpha(10%));
    margin-inline-start: -6px;
    padding: 3px 6px;
  }

  & input + span::after {
    display: block;
    size: 115px 18px;
  }

  &:nth-child(1) input {
    & + span::after {
      content: url(../images/ranking-4-up.svg);
    }

    &:matches(:hover, :checked) + span::after {
      content: url(../images/ranking-4-up--focus.svg);
    }
  }

  &:nth-child(2) input {
    & + span::after {
      content: url(../images/ranking-3-up.svg);
    }

    &:matches(:hover, :checked) + span::after {
      content: url(../images/ranking-3-up--focus.svg);
    }
  }

  &:nth-child(3) input {
    & + span::after {
      content: url(../images/ranking-2-up.svg);
    }

    &:matches(:hover, :checked) + span::after {
      content: url(../images/ranking-2-up--focus.svg);
    }
  }

  &:nth-child(4) input {
    & + span::after {
      content: url(../images/ranking-1-up.svg);
    }

    &:matches(:hover, :checked) + span::after {
      content: url(../images/ranking-1-up--focus.svg);
    }
  }
}

/* Data Demo: Results
/* ========================================================================== */

.demo-data-results {
  display: flex;
  flex-direction: column;
  margin-block-start: -12px;
  order: 3;

  @media (--s) {
    min-height: 560px;
  }

  @media (width >= 640px) {
    width: calc(100% - 162px - 60px);
  }

  @media (width >= 1200px) {
    min-height: 700px;
  }

  & p {
    @extend %c-unset-p-styles;

    font-size: 12px;
    color: color(var(--black) alpha(50%));
    line-height: 18px;
    margin-block-end: 12px;
  }
}

.demo-data-results-items {
  @extend %c-unset-l-styles;

  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  margin-block-end: 12px;
  margin-inline: -9px;

  & li {
    box-shadow: 0 2px 3px 0 color(var(--black) alpha(20%)), 0 2px 6px 0 color(var(--black) alpha(4%));
    margin-block-end: 18px;
    margin-inline: 9px;
    position: relative;
    transition: width 300ms;

    @media (--s) {
      width: 73px;
    }

    @media (--ml) and (width < 1500px) {
      width: 120px;
    }

    @media (width > 1500px) {
      width: 205px;
    }
  }

  & img {
    border-radius: 2px;
    display: block;
    size: 100% auto;
  }
}

.demo-data-results-items {
  & li > span {
    color: color(var(--white) alpha(90%));
    font-size: 14px;
    font-weight: 900;
    inset: 0;
    line-height: 18px;
    opacity: 0;
    padding: 6px;
    position: absolute;
    z-index: 0;

    &::before {
      content: "";
      display: block;
      inset: 0;
      position: absolute;
      z-index: -1;
    }
  }

  & li:hover > span {
    background-color: color(var(--black) alpha(60%));
    opacity: 1  g;
  }
}

/* Data Demo: Pagination
/* ========================================================================== */

.demo-data-results-pagination {
  @extend %c-unset-l-styles;

  display: flex;
  margin-block-start: auto;
  justify-content: center;

  & button {
    @extend %c-unset-button-styles;

    color: color(var(--black) alpha(30%));
    cursor: pointer;
    display: block;
    font-size: 13px;
    line-height: 24px;
    margin-inline: 3px;
    padding-inline: 6px;

    &:hover, &[disabled] {
      color: color(var(--black) alpha(60%));
    }

    &[disabled] {
      background-color: var(--white);
      border-radius: 3px;
      box-shadow: 0 1px 2px 0 color(var(--black) alpha(10%)), 0 1px 6px 0 color(var(--black) alpha(10%));
    }
  }
}

/* Data Demo: Results
/* ========================================================================== */

.first-pagination--datademo,
.previous-pagination--datademo,
.next-pagination--datademo,
.last-pagination--datademo {
  &::before {
    display: inline-block;
    vertical-align: middle;
  }
}

.first-pagination--datademo,
.last-pagination--datademo {
  @media (--s) {
    display: none;
  }
}

.first-pagination--datademo::before {
  content: url("../images/demo-data-results-pagination-first.svg");
  size: 12px 11px;
}

.first-pagination--datademo:hover::before {
  content: url("../images/demo-data-results-pagination-first--hover.svg");
}

.previous-pagination--datademo::before {
  content: url("../images/demo-data-results-pagination-previous.svg");
  size: 6px 11px;
}

.previous-pagination--datademo:hover::before {
  content: url("../images/demo-data-results-pagination-previous--hover.svg");
}

.next-pagination--datademo::before {
  content: url("../images/demo-data-results-pagination-next.svg");
  size: 6px 11px;
}

.next-pagination--datademo:hover::before {
  content: url("../images/demo-data-results-pagination-next--hover.svg");
}

.last-pagination--datademo::before {
  content: url("../images/demo-data-results-pagination-last.svg");
  size: 12px 11px;
}

.last-pagination--datademo:hover::before {
  content: url("../images/demo-data-results-pagination-last--hover.svg");
}

/* Just more stuff
/* ==== */

.demo-data-results--none {
  & p {
    text-align: center;

    &::before {
      content: url("../images/demo-data-results--none.svg");
      display: block;
      margin-block: 108px 24px;
      margin-inline: auto;
      size: 107px;
    }
  }
}
