@import "./_inset";

/* Auth Layout
/* ========================================================================== */

.view--email {
  @media (--l-feature) {
    flex-direction: row-reverse;
  }
}

.group--email {
  @media (--l-feature) {
    margin-inline-start: 36px;
  }
}

.group--email-more {
  @media (--m-feature) {
    margin-inline-start: 36px;
  }
}

.heading--email::before {
  content: url(../images/heading--email.svg);
}

.features--email > ::before {
  content: url(../images/features--email.svg);
}

.heading--email-send::before {
  content: url(../images/heading--email-send.svg);
}

.heading--email-integrate::before {
  content: url(../images/heading--email-integrate.svg);
}
