@import "./_inset";

/* Feature (Auth, Hosting)
/* ========================================================================== */

@custom-media --s-feature  (width <  660px);
@custom-media --sm-feature (width <  900px);
@custom-media --m-feature  (--sm-feature) and (--ml-feature);
@custom-media --ml-feature (width >= 660px);
@custom-media --l-feature  (width >= 900px);

.view--feature {
  @extend %inset-styles;

  padding-block: 96px 120px;
  padding-block-start: calc(96px + 72px);

  @media (--ml-feature) {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
  }

  & > * {
    @media (--ml-feature) {
      flex-basis: calc(50% - 20px);
    }
  }
}

.group--feature-more {
  @media (--s-feature) {
    margin-block-start: 54px;
  }

  & > :nth-child(n+2) {
    margin-block-start: 36px;
  }
}

/* Feature: Headings and Summaries
/* ========================================================================== */

.heading--feature {
  @extend %c-unset-h-styles;

  font-size: 33px;
  font-weight: 900;
  line-height: 42px;
}

.heading--feature-more {
  @extend %c-unset-h-styles;

  font-size: 18px;
  font-weight: 900;
  line-height: 30px;
}

.heading--feature::before {
  @extend %heading-symbol-styles;
}

.heading--feature-more::before {
  @extend %secondary-heading-symbol-styles;
}

.summary--feature {
  @extend %c-unset-p-styles;

  color: var(--black-80);
  font-size: 16px;
  line-height: 24px;
  margin-block-start: 24px;
}

.summary--feature-more {
  @extend %c-unset-p-styles;

  color: var(--black-80);
  font-size: 16px;
  line-height: 24px;
  margin-block-start: 18px;

  & a {
    @extend %c-unset-a-styles;
    @extend %underline-styles;

    color: var(--green);
  }
}

/* Feature: Features
/* ========================================================================== */

.features--feature {
  @extend %features-styles;

  @media (--l-feature) {
    column-count: 2;
    column-gap: 24px;
    max-width: 100%;
    width: 480px;
  }

  & > :nth-child(n+2) {
    @media (--sm-feature) {
      margin-block-start: 24px;
    }
  }

  & > :nth-child(3n+2), & > :nth-child(3n+3) {
    @media (--l-feature) {
      margin-block-start: 24px;
    }
  }
}

/* Feature: Actions
/* ========================================================================== */

.actions--feature {
  @extend %actions-styles;

  & li, & a {
    @media (width < 960px) {
      width: 100%;
    }
  }

  & li:nth-last-child(n+2) {
    @media (width < 960px) {
      margin-inline-end: 0;
    }
  }

  & a {
    @media (width < 960px) {
      justify-content: center;
    }
  }
}
