@import "./_inset";

@custom-media --s-footer (width <  960px);
@custom-media --l-footer (width >= 960px);

/* Footer
/* ========================================================================== */

.view--footer {
  @extend %inset-styles;

  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  padding-block: 144px 24px;

  @media (--l-footer) {
    align-items: center;
  }

  & ul {
    @extend %c-unset-l-styles;

    margin-block-start: 18px;
  }

  & a {
    @extend %c-unset-a-styles;

    color: var(--white-60);
    font-size: 16px;
    line-height: 36px;
  }
}

/* Footer: Headings
/* ========================================================================== */

.heading--footer {
  @extend %c-unset-h-styles;

  font-size: 22px;
  font-weight: 900;
  line-height: 30px;

  @media (--s-footer) {
    flex-basis: 100%;
    margin-block-end: 48px;
    text-align: center;
  }

  @media (--l-footer) {
    flex-basis: calc(100% / 2 / 3);
  }
}

.heading--footer-learn, .heading--footer-resources {
  @extend %c-unset-h-styles;

  font-size: 18px;
  font-weight: 900;
  line-height: 36px;
}

/* Footer: Navigation
/* ========================================================================== */

.nav--footer-learn, .nav--footer-resources {
  display: flex;

  @media (--s-footer) {
    flex-basis: calc((100% / 2) - 12px * 2);
  }

  @media (--l-footer) {
    flex-basis: calc(100% / 2 / 3);
  }
}

.nav--footer-learn {
  justify-content: center;

  @media (--s-footer) {
    margin-inline-end: 12px;
  }
}

.nav--footer-resources {
  justify-content: center;

  @media (--s-footer) {
    margin-inline-start: 12px;
  }
}

.nav--footer-social {
  @media (--s-footer) {
    flex-basis: 100%;
    margin-block-start: 48px;
  }

  @media (--l-footer) {
    flex-basis: calc(100% / 2);
  }
}

/* Footer: Social Navigation
/* ========================================================================== */

.nav--footer-social {
  @media (--l-footer) {
    flex-basis: calc(100% / 2);
  }

  & ul {
    @extend %c-unset-l-styles;

    display: flex;

    @media (--s-footer) {
      justify-content: center;
    }

    @media (--l-footer) {
      justify-content: flex-end;
    }
  }

  & li {
    &:nth-last-child(n+2) {
      margin-inline-end: 12px;
    }
  }
}

.link--footer-social-twitter, .link--footer-social-github {
  background-color: color(var(--black) alpha(60%));
  border-radius: 50%;
  box-shadow: inset 0 0 0 7px color(var(--white) alpha(30%));
  display: block;
  padding: 7px;
  transition: box-shadow 400ms;

  &::before {
    display: block;
    size: 28px;
  }

  &:hover, &:focus {
    box-shadow: inset 0 0 0 7px var(--white);
  }
}

.link--footer-social-twitter {
  &::before {
    content: url("../images/link--footer-social-twitter.svg");
  }
}

.link--footer-social-github {
  &::before {
    content: url("../images/link--footer-social-github.svg");
  }
}

/* Footer: Copyright
/* ========================================================================== */

.view--footer-copyright {
  @extend %c-unset-p-styles;

  color: var(--white-60);
  flex-basis: 100%;
  padding-block-start: 102px;
  text-align: center;
}
