@import "./branding";
@import "./navigation";
@import "./_inset";

/* Header
/* ========================================================================== */

@custom-media --s-header (width <  640px);
@custom-media --l-header (width >= 640px);

/* Header Insets (1614px + 36px * 2)
/* ========================================================================== */

@custom-media --s-header-inset (width <  1686px);
@custom-media --l-header-inset (width >= 1686px);

:root {
  --header-inset: 1614px;
}

%header-inset-styles {
  @media (--s-header-inset) {
    padding-inline: 36px;
  }

  @media (--l-header-inset) {
    padding-inline: calc((100% - var(--header-inset)) / 2);
  }
}

.header {
  @extend %header-inset-styles;

  display: flex;
  padding-block-start: 24px;
  transition: background-color 1s ease-in-out, color .75s ease-in-out;
  will-change: background-color, color;
}

.header--1 {
  background-color: color(var(--black) alpha(2%));
}

.header--2 {
  background-color: color(var(--black) alpha(4%) blend(var(--blue) 6%));
}

.header--3 {
  background-color: color(var(--black) alpha(92%));
  color: var(--white);
}
