@import "./_inset";

/* Hosting Layout
/* ========================================================================== */

.view--highlights {
  @extend %inset-styles;

  padding-block: 96px;

  @media (--l) {
    display: flex;
  }

  & > * {
    @media (--m) {
      margin-inline: auto;
      max-width: 640px;
    }

    @media (--l) {
      flex-basis: calc((100% / 3) - 24px / 3 * 2);
    }

    &:nth-child(n+2) {
      @media (--sm) {
        margin-block-start: 54px;
      }

      @media (--l) {
        margin-inline-start: calc(24px * 2);
      }
    }
  }

  & h2 {
    @extend %c-unset-h-styles;

    font-size: 27px;
    font-weight: 900;
    line-height: 42px;
  }

  & p:not([class]) {
    @extend %c-unset-p-styles;

    color: var(--black-90);
    font-size: 16px;
    line-height: 24px;
    margin-block-start: 18px;
  }

  & .heading--highlights-build {
    &::before {
      @extend %heading-symbol-styles;

      content: url(../images/heading--highlights-build.svg);
      margin-block-end: 18px;
    }
  }

  & .heading--highlights-control {
    &::before {
      @extend %heading-symbol-styles;

      content: url(../images/heading--highlights-control.svg);
      margin-block-end: 18px;
    }
  }

  & .heading--highlights-scale {
    &::before {
      @extend %heading-symbol-styles;

      content: url(../images/heading--highlights-scale.svg);
      margin-block-end: 18px;
    }
  }

  & .features--highlights-build, & .features--highlights-control, & .features--highlights-scale {
    @extend %features-styles;

    & > ::before {
      content: url(../images/features--highlights.svg);
    }

    & > :nth-child(n+2) {
      margin-block-start: 24px;
    }
  }

  & .actions--build_faster, & .actions--stay_in_control, & .actions--scale_anytime {
    @extend %actions-styles;
  }
}
