@import "./_inset";

/* Hosting Layout
/* ========================================================================== */

.view--hosting {
  @media (--l-feature) {
    flex-direction: row-reverse;
  }

  /*padding-block-start: 162px;*/
}

.group--hosting {
  @media (--l-feature) {
    margin-inline-start: 36px;
  }
}

.group--hosting-more {
  @media (--m-feature) {
    margin-inline-start: 36px;
  }
}

.heading--hosting::before {
  content: url(../images/heading--hosting.svg);
}

.features--hosting > ::before {
  content: url(../images/features--hosting.svg);
}

.heading--hosting-deploy::before {
  content: url(../images/heading--hosting-deploy.svg);
}

.heading--hosting-control::before {
  content: url(../images/heading--hosting-control.svg);
}
