@import "./_inset";

/* WeDeploy.com
/* ========================================================================== */

@import "./fontface";
@import "./feature";

@import "./answers";
@import "./auth";
@import "./authdemo-created";
@import "./authdemo-signup";
@import "./auth-demo";
@import "./benefits";
@import "./data";
@import "./datademo";
@import "./demodata";
@import "./demodeploy";
@import "./email";
@import "./enterprise";
@import "./footer";
@import "./header";
@import "./highlights";
@import "./hosting";
@import "./plugnplay";
@import "./plugnplay-demo";
@import "./possibilities";
@import "./pricing";
@import "./start";
@import "./support";
@import "./try";

/* Reset
/* ========================================================================== */

*, ::before, ::after {
  box-sizing: border-box;
}

/* Body
/* ========================================================================== */

body {
  @extend %c-unset-body-styles;

  background-color: var(--white);
  color: var(--black);
  font: 15px/24px "Circular Std";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
