@import "./_inset";

/* Navigation
/* ========================================================================== */

.navigation {
  @media (--s-header) {
    flex-basis: 100%;
  }

  @media (width < 640px) {
    margin-block-start: 12px;
  }

  & ul {
    @extend %c-unset-l-styles;

    align-items: center;
    display: flex;
    list-style-type: none;

    @media (--s-header) {
      flex-wrap: wrap;
      justify-content: center;
    }

    & li:nth-child(4) {
      @media (width < 740px) {
        display: none;
      }
    }
  }

  & li {
    @media (--s-header) {
      margin-inline: 6px;
      padding-block: 3px;
    }
  }

  & li:nth-child(n+2) {
    @media (width >= 640px) {
      margin-inline-start: 24px;
    }
  }

  & li:nth-child(4) {
    @media (--l-header) {
      margin-inline-start: 18px;
    }
  }

  & a {
    @extend %c-unset-a-styles;

    color: color(var(--black) alpha(80%));
    display: block;
    font-size: 14px;
    line-height: 24px;
    transition: color 2s ease-in-out;
    white-space: nowrap;

    @nest .header--3 & {
      color: var(--white);
    }

    &:not([class="navigation-button"]) {
      @extend %underline-styles;

      @media (--l-header) {
        margin-block-end: -6px;
        padding-block-end: 6px;
      }
    }
  }

  & .navigation-button {
    @extend %green-button-styles;

    font-size: 14px;
    padding: 9px 12px;
  }

  & .navigation-login {
    position: relative;

    @media (width < 640px) {
      margin-inline-start: 0;
    }

    @media (width >= 640px) {
      margin-inline-start: 12px;
    }

    &::before {
      @media (--l-header) and (width >= 740px) {
        color: color(var(--black) alpha(40%));
        content: "or";
        display: inline-block;
        inset-inline-end: calc(100% + 12px);
        position: absolute;
        font-size: 12px;
        text-align: center;
        width: 12px;
      }
    }
  }
}
