@import "./_inset";

/* Support
/* ========================================================================== */

.view--support {
  @extend %inset-styles;

  background-color: color(var(--black) alpha(2%) blend(var(--blue) 1%));
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @media (--sm) {
    padding-block: calc(24px + 378px - 84px - 24px * 2) 48px;
  }

  @media (--l) {
    padding-block: 96px 120px;
  }

  /* Support: Image (9 units from right)
  /* ======================================================================== */

  &::after {
    content: url("../images/view--support.svg");
    inset-block-start: -162px;
    max-width: 100%;
    position: absolute;
    width: calc(402px + 48px * 2);

    @media (--sm) {
      inset-inline-start: 0;
    }

    @media (--l) and (width < 1200px) {
      inset-inline-end: calc((100% - 1272px) / 2 - 66px + 6px * 37);
      width: 348px;
    }

    @media (--l) and (width >= 1200px) {
      inset-inline-end: calc((100% - var(--inset)) / 2 - 36px + 6px * 15);
    }
  }
}

.mainview--support {
  flex-basis: 100%;
}

.subview--support {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  overflow-wrap: break-word;

  @media (--sm) {
    flex-basis: 100%;
  }

  @media (--l) {
    flex-basis: calc(100% * 660 / 1104);
    padding-block-start: 12px;
  }

  & > :nth-child(n+2) {
    @media (--sm) {
      margin-block-start: 48px;
    }
  }

  & > :nth-last-child(n+3) {
    @media (--l) {
      margin-block-end: 48px;
    }
  }

  & > :nth-child(2n+2) {
    @media (--l) {
      margin-inline-start: 24px;
    }
  }
}

.view--support-service, .view--support-chat, .view--support-help, .view--support-status {
  padding-inline-start: 54px;

  @media (--sm) {
    flex-basis: 100%;
  }

  @media (--l) {
    flex-basis: calc(50% - 24px / 2);
  }
}

.subview--support-aside {
  @media (--s) {
    display: flex;
    flex-basis: 100%;
    margin-block-start: 48px;
  }

  @media (--ml) {
    margin-block-start: 48px;
  }

  @media (--l) {
    flex-basis: calc(366 / 1104 * 100%);
    margin-inline-start: auto;
  }
}

/* Support: Headings
/* ========================================================================== */

.heading--support {
  @extend %c-unset-h-styles;

  font-size: 27px;
  font-weight: 900;
  line-height: 36px;
}

.heading--support-service, .heading--support-chat, .heading--support-help, .heading--support-status {
  @extend %c-unset-h-styles;

  font-size: 18px;
  font-weight: 900;
  line-height: 30px;
  position: relative;

  &::before {
    display: block;
    inset-inline-end: calc(100% + 18px);
    position: absolute;
    size: 36px;
  }
}

.heading--support-service::before {
  content: url("../images/heading--support-service.svg");
}

.heading--support-chat::before {
  content: url("../images/heading--support-chat.svg");
}

.heading--support-help::before {
  content: url("../images/heading--support-help.svg");
}

.heading--support-status::before {
  content: url("../images/heading--support-status.svg");
}

/* Support: Summaries
/* ========================================================================== */

.summary--support {
  @extend %c-unset-p-styles;

  color: var(--black-80);
  font-size: 16px;
  line-height: 24px;
  margin-block: 24px 54px;

  @media (--l) {
    max-width: 660px;
  }
}

.summary--support-service, .summary--support-chat, .summary--support-help, .summary--support-status {
  @extend %c-unset-p-styles;

  color: var(--black-90);
  font-size: 16px;
  line-height: 24px;
  margin-block-start: 12px;
}

/* Support: Actions
/* ========================================================================== */

.action--support-service, .action--support-chat, .action--support-help, .action--support-status, .action--support-247 {
  @extend %c-unset-p-styles;

  color: var(--green);
  font-size: 16px;
  line-height: 24px;

  & a {
    @extend %c-unset-a-styles;

    background-image: linear-gradient(currentColor 25%, transparent 50%);
    background-repeat: no-repeat;
    background-position: calc(200% - 1px) 100%;
    background-size: 200% 3px;
    color: var(--green);
    display: inline-block;
    margin-block: 12px -6px;
    padding-block-end: 6px;
    transition: background-position 250ms;

    &:hover {
      background-position: 100% 100%;
    }

    &::after {
      content: url("../images/action--support.svg");
      display: inline-block;
      margin-inline-start: 6px;
      size: 10px 8px;
    }
  }
}

/* Support: 24/7
/* ========================================================================== */

.view--support-247 {
  @extend %c-unset-p-styles;

  background-color: var(--white);
  box-shadow: inset 0 0 0 1px color(var(--black) alpha(1%)), 0 1px 3px 0 color(var(--black) alpha(4%)), 0 3px 6px 0 color(var(--black) alpha(8%));
  border-radius: 6px;
  padding: 24px;

  @media (--l) {
    max-width: 366px;
  }
}

.heading--support-247 {
  @extend %c-unset-h-styles;

  font-size: 18px;
  font-weight: 900;
  line-height: 30px;
  margin-inline-start: calc(18px + 36px);
  position: relative;

  &::before {
    content: url("../images/heading--support-247.svg");
    inset-inline-end: calc(100% + 18px);
    position: absolute;
    size: 36px;
  }
}

.summary--support-247 {
  @extend %c-unset-p-styles;

  font-size: 16px;
  margin-block-start: 12px;
  margin-inline-start: calc(18px + 36px);
}

.action--support-247 {
  margin-inline-start: calc(18px + 36px);
}
