{namespace termsPage}

/**
 * @param content
 */
{template .render}
	{call main.render data="all"}
		{param elementClasses: 'blog' /}
		{param content kind="html"}
			<div class="blog terms">
				<div class="container">
					<div class="content">
						{$content}

						<article>
							<div class="we-container">
								<span class="we-circle">
									<span class="we">We</span>
								</span>
							</div>
						</article>
					</div>
				</div>
			</div>
		{/param}
	{/call}
{/template}
