---
url: "/docs/email/getting-started.html"
icon: "mail-full"
layout: "guide"
weight: 4
---

{namespace pageDocsEmailIndex}

/**
 *
 */
{template .render}
{/template}

/**
 * @param page
 */
{template .soyweb}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="0; URL='{$page.description}'">
</head>
</html>
{/template}
