---
description: Serve static files easily using WeDeploy™ Hosting.
icon: "mail-full"
headerTitle: "Email"
layout: "guide"
title: "Email"
weight: 4
---

{namespace pageDocsEmailIndex}

/**
 *
 */
{template .render}
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="refresh" content="0; URL='getting-started.html'">
	</head>
	</html>
{/template}