---
title: "Blog"
description: "Discover all the latest about WeDeploy."
url: '/blog/my-first-three-months-with-wedeploy'
type: "blog"
---

{namespace pageBlogIndex}

/**
 *
 */
{template .render}
{/template}

/**
 *
 */
{template .soyweb}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="0; URL='/blog/my-first-three-months-with-wedeploy'">
</head>
</html>
{/template}
