{namespace main}

/**
 * @param content
 * @param site
 * @param? elementClasses
 */
{template .render}
  <div class="{$elementClasses ?: 'main'}">
    <main class="content">
      {call Topbar.render data="all"}
          {param items: $site.topbar /}
          {param style: 'topbar-light' /}
          {param logo: [
            'image': '/images/logo.svg'
          ] /}
        {/call}

      {$content}
    </main>
  </div>
{/template}
