#footer {
	background: $primary;
	@media (min-width: 320px) {
		height: ($baseline * 44);
	}
	@media (min-width: 600px) {
		height: ($baseline * 29);
	}
}

#footer .container-wedeploy {
	height: inherit;

	@media (min-width: 320px) {
		justify-content: center;
		align-items: flex-start;
		align-content: flex-start;
	}
	@media (min-width: 600px) {
		justify-content: flex-start;
		align-items: center;
		align-content: center;
	}
}

#footer .col-lg-offset-1 {
	@media (min-width: 1280px) {
		margin-left: 0;
	}

	@media (min-width: 1440px) {
		margin-left: 6.25%;
	}
}

#footer .col-lg-offset-6 {
	@media (min-width: 1280px) {
		margin-left: 0;
	}

	@media (min-width: 1440px) {
		margin-left: 37.5%;
	}
}

#footer .col-lg-2 {
	@media (min-width: 1280px) {
		width: 25%;
	}

	@media (min-width: 1440px) {
		width: 12.5%;
	}
}

#footer .col-lg-3 {
	@media (min-width: 1280px) {
		width: 25%;
	}

	@media (min-width: 1440px) {
		width: 18.75%;
	}
}

#footer .col-sm-offset-6 {
	@media (min-width: 320px) {
		margin-left: 0;
	}

	@media (min-width: 960px) {
		margin-left: 0;
	}

	@media (min-width: 1440px) {
		margin-left: 31.25%;
	}
}

#footer .info-container {
	@media (min-width: 320px) {
		text-align: center;
		margin-top: ($baseline * 6);
	}

	@media (min-width: 600px) {
		text-align: left;
		margin-top: 0;
	}

	@media (min-width: 960px) {
		height: 48px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
	}

}

#footer .info {
	@media (min-width: 320px) {
		display: block;
	}

	@media (min-width: 960px) {
		display: inline-flex;
	}
}

#footer .footer__logo {

	@media (min-width: 320px) {
		padding: 0 0 48px 0;
	}

	@media (min-width: 600px) {
		padding: 0 12px 24px 0;
	}

	@media (min-width: 960px) {
		padding: 0 36px 0 0;
	}

	@media (min-width: 1280px) {
		padding: 0 48px 0 0;
	}
}

#footer .footer__logo span {
	margin:0;
	padding: 0;
	font-size: 24px;
	font-family: $font-primary;
	font-weight: 700;
	color: $white;
}

#footer .footer__copy {
	@media (min-width: 320px) {
		padding: 0 0 36px 0;
	}

	@media (min-width: 600px) {
		padding: 0 12px 12px 0;
	}

	@media (min-width: 960px) {
		padding: 0 24px 0 0;
	}

	@media (min-width: 1024px) {
		padding: 0 36px 0 0;
	}

	@media (min-width: 1280px) {
		padding: 0 48px 0 0;
	}
}

#footer .footer__link {
	@media (min-width: 320px) {
		padding: 0 0 36px 0;
	}

	@media (min-width: 600px) {
		padding: 0 12px 12px 0;
	}

	@media (min-width: 960px) {
		padding: 0 24px 0 0;
	}

	@media (min-width: 1024px) {
		padding: 0 36px 0 0;
	}

	@media (min-width: 1280px) {
		padding: 0 48px 0 0;
	}

	span {
		margin:0;
		padding: 0;
		font-size: 16px;
		font-family: $font-primary;
		font-weight: 400;
		color: rgba($white, .7);
		text-align: left;
	}

	a:hover span {
		color: rgba($white, .9);
	}
}

#footer .footer__link:last-child {

	@media (min-width: 320px) {
		padding: 0 0 36px 0;
	}

	@media (min-width: 600px) {
		padding: 0;
	}

}

#footer .footer__copy span {
	margin:0;
	padding: 0;
	font-size: 16px;
	font-family: $font-primary;
	font-weight: 400;
	color: rgba($white, .5);
	text-align: left;
}

#footer .footer__copy a:hover span {
	color: rgba($white, .7);
}

#footer .footer__media-kit {
	position: relative;

	@media (min-width: 320px) {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
	}

	@media (min-width: 600px) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
	}
}

#footer .footer__media-kit .btn {
	flex: 0 1 auto;
	height: ($baseline * 4);
	line-height: ($baseline * 4);
	display: flex;
	font-size: 15px;
	font-family: $font-primary;
	font-weight: 600;
	padding: 0 20px;

	@media (min-width: 320px) {
		margin: 0 0 36px;
	}

	@media (min-width: 600px) {
		margin: 0;
	}

}


#footer {
	.ic-github, .ic-twitter {
		flex: 0 1 auto;
		height: 32px;

		@media (min-width: 320px) {
			margin-left: 0;
		}

		@media (min-width: 600px) {
			margin-left: 30px;
		}

		span {
			font-size: 32px;
			color: $theme;
		}

		&:hover span {
			color: rgba($theme, .8);
		}
	}

	.ic-twitter {
		margin-top: 30px;

		@media (min-width: 600px) {
			margin-top: 0px;
		}
	}

}
