.modal {
	display: none;
	opacity: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background: $white;
	z-index: 9999;
	overflow-y: auto;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.modal.active,
.modal #modal__form-container.active,
.modal #modal__response-container.active {
	opacity: 1;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
	transition-timing-function: cubic-bezier(.165,.84,.44,1);
}

.modal #modal__form-container.active,
.modal #modal__response-container.active {
	transform: scale(1);
}

.modal .modal-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.modal .modal__close {
	z-index: 50;
	margin: 0;
	width: 48px;
	height: 48px;
	background: rgba($primary, .1);
	border-radius: 50%;
	display: flex;
	position: absolute;
	color: rgba($primary, .4);
	transition: all 0.3s;
	-webkit-transition: all 0.3s;

	&:hover {
		background: rgba($theme, .2);
		color: rgba($theme, 1);

		transition: all 0.3s;
		-webkit-transition: all 0.3s;
	}

	@media (min-width: 320px) {
		top: 24px;
		right: 20px;
	}

	@media (min-width: 720px) {
		top: 36px;
		right: 40px;
	}
}

.modal #modal__form-container {
	position: absolute;
	z-index: 30;
	opacity: 0;
	transform: scale(.3);
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
	transition-timing-function: cubic-bezier(.165,.84,.44,1);

	@media (min-width: 320px) {
		width: 100%;
		height: 696px;
		top: 0;
		left: 0;
		border-radius: 0;
	}

	@media (min-width: 480px) {
		height: 636px;
	}

	@media (min-width: 720px) {
		width: 608px;
		height: 732px;
		top: 50%;
		left: 50%;
		margin: -366px 0 0 -304px;
		border-radius: 4px;
	}
}

#modal__form-container .form {
	align-content: flex-start;
	background: $white;
	box-shadow: 0 20px 50px rgba(14, 20, 26, 0.16);

	@media (min-width: 320px) {
		width: 100%;
		height: 612px;
		border-radius: 0;
	}

	@media (min-width: 480px) {
		height: 552px;
	}

	@media (min-width: 720px) {
		width: 608px;
		height: 660px;
		border-radius: 4px;
	}
}

#modal__form-container .form .logo {
	background: $theme;
	border-radius: 50%;

	@media (min-width: 320px) {
		width: 96px;
		height: 96px;
		margin-top: ($baseline * 3);
	}

	@media (min-width: 720px) {
		width: 120px;
		height: 120px;
		margin-top: ($baseline * 4);
	}
}

#modal__form-container .form .logo span {
	line-height: ($baseline * 2);
	font-family: $font-primary;
	font-weight: 700;
	color: $white;

	@media (min-width: 320px) {
		font-size: 40px;
	}

	@media (min-width: 720px) {
		font-size: 50px;
	}
}

#modal__form-container .form h2 {
	text-align: center;
	font-family: $font-primary;
	font-weight: 600;
	color: rgba($primary, .9);

	@media (min-width: 320px) {
		padding: 0 20px;
		width: calc(100% - 40px);
		min-width: 245px;
		font-size: 22px;
		line-height: 36px;
		margin-top: ($baseline * 2);
	}

	@media (min-width: 480px) {
		min-width: 420px;
	}

	@media (min-width: 600px) {
		padding: 0 40px;
		width: calc(100% - 80px);
		min-width: 520px;
	}

	@media (min-width: 720px) {
		padding: 0;
		width: 100%;
		font-size: 28px;
		line-height: 48px;
		margin-top: ($baseline * 3);
	}
}

#modal__form-container .form p {
	text-align: center;
	font-family: $font-secondary;
	color: rgba($primary, .6);

	@media (min-width: 320px) {
		padding: 0 20px;
		width: calc(100% - 40px);
		min-width: 245px;
		font-size: 15px;
		line-height: 24px;
		margin-top: 12px;
	}

	@media (min-width: 480px) {
		min-width: 420px;
		line-height: 36px;
		margin-top: 0px;
	}

	@media (min-width: 600px) {
		padding: 0 40px;
		width: calc(100% - 50px);
		min-width: 520px;
	}

	@media (min-width: 720px) {
		padding: 0;
		width: 100%;
		font-size: 17px;
		line-height: 36px;
		margin-top: ($baseline * 1);
	}
}

#modal__form-container .form form {
	@media (min-width: 320px) {
		padding: 0 20px;
		width: calc(100% - 40px);
		min-width: 280px;
		margin-top: ($baseline * 1);
	}

	@media (min-width: 480px) {
		min-width: 420px;
		margin-top: ($baseline * 1);
	}

	@media (min-width: 600px) {
		padding: 0 40px;
		width: calc(100% - 80px);
		min-width: 520px;
	}

	@media (min-width: 720px) {
		padding: 0;
		width: 526px;
		margin-top: ($baseline * 1);
	}
}

#modal__form-container .form form label {
	width: 100%;
	font-size: 14px;
	font-family: $font-secondary;
	line-height: 36px;
	color: rgba($primary, .6);
	text-align: left;
}

#modal__form-container .form form .form-group,
#modal__form-container .form form input {
	width: 100%;
}

#modal__form-container .form form input {
	height: 72px;
}

#modal__form-container .form form .form-group {
	margin-bottom: 0;
}

#modal__form-container .form form .form-validation {
	margin: 0;
	padding: 0 4px;
	height: ($baseline * 3);
	color: #ff4040;
	visibility: hidden;
	font-size: 14px;
	line-height: 36px;
	font-family: $font-secondary;
	text-align: left;
	width: calc(100% - 8px);
	min-width: calc(100% - 8px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#modal__form-container .form form .form-validation.active {
	visibility: visible;
}

#modal__form-container .form form .btn {
	font-family: $font-primary;
	font-weight: 600;
	font-size: 17px;
	line-height: 60px;
	position:relative;
	top: -2px;
	letter-spacing: 0.0002em;
	padding: 0;

	@media (min-width: 320px) {
		width: 100%;
		height: 72px;
		margin-top: 0;
	}

	@media (min-width: 720px) {
		width: 230px;
		height: 60px;
		margin-top: ($baseline * 2);
	}
}

#modal__form-container .form form .small-container {
	width: 100%;
}

#modal__form-container .form form small {
	margin: ($baseline * 1) 0 0;
	padding: 0;
	display: block;
	color: rgba($primary, .4);
	font-size: 12px;
	line-height: 24px;
	font-family: $font-secondary;
	text-align: center;
	position: relative;

	@media (min-width: 320px) {
		width: 100%;
		min-width: 100%;
		top:0;
	}

	@media (min-width: 720px) {
		width: 230px;
		min-width: 230px;
		top: 8px
	}
}


#modal__form-container .copy {
	margin: 24px 0 0;

	@media (min-width: 320px) {
		width: 100%;
	}

	@media (min-width: 720px) {
		width: 608px;
	}
}

#modal__form-container .copy p {
	width: 100%;
	font-size: 14px;
	line-height: 48px;
	color: rgba($primary, .4);
	text-align: center;
	font-family: $font-secondary;
	font-weight: 600;
}

//RESPONSE
#modal__response-container {
	opacity: 0;
	transform: scale(.3);
	z-index: 20;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
	transition-timing-function: cubic-bezier(.165,.84,.44,1);
	width: 100%;
	height: 320px;
	align-content: flex-start;
	position: absolute;

	@media (min-width: 320px) {
		top: ($baseline * 8);
		margin: 0;
	}

	@media (min-width: 720px) {
		top: 50%;
		margin: -160px 0 0;
	}
}

#modal__response-container .logo {
	background: $theme;
	border-radius: 50%;

	@media (min-width: 320px) {
		width: 132px;
		height: 132px;
	}

	@media (min-width: 720px) {
		width: 204px;
		height: 204px;
	}
}

#modal__response-container .logo span {
	line-height: ($baseline * 2);
	font-family: $font-primary;
	font-weight: 700;
	color: $white;

	@media (min-width: 320px) {
		font-size: 56px;
	}

	@media (min-width: 720px) {
		font-size: 80px;
	}
}

#modal__response-container h2 {
	text-align: center;
	font-family: $font-primary;
	font-weight: 600;
	color: rgba($primary, .9);

	@media (min-width: 320px) {
		padding: 0 20px;
		width: calc(100% - 40px);
		min-width: 280px;

		font-size: 32px;
		line-height: 36px;
		margin-top: ($baseline * 3);
	}

	@media (min-width: 600px) {
		padding: 0 40px;
		width: calc(100% - 80px);
		min-width: 520px;
	}

	@media (min-width: 720px) {
		padding: 0 20px;
		font-size: 40px;
		line-height: 48px;
		margin-top: ($baseline * 4);
	}
}

#modal__response-container p {
	text-align: center;
	font-size: 20px;
	line-height: 36px;
	font-family: $font-secondary;
	color: rgba($primary, .6);

	@media (min-width: 320px) {
		padding: 0 20px;
		width: calc(100% - 40px);
		min-width: 280px;
		font-size: 14px;
		line-height: 24px;
		margin-top: ($baseline * 1);
	}

	@media (min-width: 480px) {
		line-height: 36px;
	}

	@media (min-width: 600px) {
		padding: 0 40px;
		width: calc(100% - 80px);
		min-width: 520px;
	}

	@media (min-width: 720px) {
		padding: 0 20px;
		font-size: 20px;
		line-height: 36px;
		margin-top: ($baseline * 2);
	}
}
