#topbar {
	opacity: 0;
	box-shadow: 0 0 100px white;
	position: relative;
}

#topbar {
	@media	(min-width: 320px) {
		padding: 0 20px;
	}

	@media	(min-width: 600px) {
		padding: 0 40px;
	}

	@media	(min-width: 1440px) {
		padding: 0 20px;
	}
}

#topbar .hidden-small {
	@media	(min-width: 320px) {
		display: none;
	}

	@media	(min-width: 480px) {
		display: none;
	}

	@media	(min-width: 600px) {
		display: flex;
	}
}

#topbar .visible-small {
	@media	(min-width: 320px) {
		display: none;
	}

	@media	(min-width: 480px) {
		display: flex;
	}

	@media	(min-width: 600px) {
		display: none;
	}
}

@media screen and (min-width: 1280px) {
	#topbar .col-lg-offset-1 {
		margin-left: 0%;
	}
	#topbar .col-lg-14 {
		width: 100%;
	}
}

@media screen and (min-width: 1440px) {
	#topbar .col-lg-offset-1 {
		margin-left: 6.25%;
	}
	#topbar .col-lg-14 {
		width: 87.5%;
	}
}
