#view-3__2 .container-wedeploy {
	position: relative;
	height: 100%;
	padding: 0;
}

#view-3__2 {
	width: 100%;
	background: $primary;//rgba($primary, 0.9);
	position: relative;

	@media (min-width: 320px) {
		height: ($baseline * 136); //1632px
	}

	@media (min-width: 480px) {
		height: ($baseline * 144); //1728px
	}

	@media (min-width: 600px) {
		height: ($baseline * 141); //1692px
	}

	@media (min-width: 840px) {
		height: ($baseline * 118); //1416px
	}

	@media (min-width: 1024px) {
		height: ($baseline * 69); //828px;
	}
}

//TEXT
#view-3__2 .info-box {
	position: absolute;
	z-index: 20;

	@media (min-width: 320px) {
		right: 20px;
		margin-right: 0;
		top: 84px;
		width: 87%;
		text-align: center;
	}

	@media (min-width: 480px) {
		top: 84px;
		width: 87.5%;
	}

	@media (min-width: 600px) {
		top: 144px;
		right: 40px;
		width: 86.666666667%;
	}

	@media (min-width: 720px) {
		width: 75%;
		right: 50%;
		margin-right: -37.5%;
	}

	@media (min-width: 840px) {
		width: 88%;
		right: 50%;
		margin-right: -44%;
	}

	@media (min-width: 960px) {
		right: 50%;
		margin-right: -35%;
		width: 70%;
	}

	@media (min-width: 1024px) {
		right: 40px;
		margin-right: 0;
		top: 135px;
		width: 360px;
		text-align: left;
	}

	@media (min-width: 1440px) {
		right: 6.25%;
	}

	@media (min-width: 1920px) {
		right: 12.5%;
	}
}

#view-3__2 .info-box h3 {
	font-family: $font-primary;
	font-weight: 700;
	line-height: 48px;
	margin-bottom: ($baseline * 3);
	color: rgba($white, 1);

	@media (min-width: 320px) {
		font-size: 24px;
		line-height: 36px;
	}

	@media (min-width: 480px) {
		font-size: 36px;
		line-height: 48px;
	}

	@media (min-width: 840px) {
		width: 80%;
	}

	@media (min-width: 960px) {
		width: 100%;
	}
}

#view-3__2 .info-box p {
	font-family: $font-primary;
	font-weight: 600;
	line-height: 36px;
	margin-bottom: ($baseline * 3);
	color: rgba($white, .4);
	width: 100%;

	&.top-title {
		margin-bottom: ($baseline * 2);
		font-family: $font-primary;
		font-weight: 600;
	}

	@media (min-width: 320px) {
		font-size: 14.5px;
		line-height: 24px;
	}

	@media (min-width: 480px) {
		font-size: 20px;
		line-height: 36px;
	}
}

//SHADOW
#view-3__2 .bg-text {
	position: absolute;
	z-index: 10;
	height: 100%;
	width: 100%;

	@media (min-width: 320px) {
		display: none;
	}

	@media (min-width: 1024px) {
		display: block;
		padding: 0;
	}

	@media (min-width: 1440px) {
		padding: 0 20px;
	}
}

#view-3__2 .bg-text .bg-text__solid {
	background: $primary;
	height: 100%;
	float: right;

	@media (min-width: 1024px) {
		width: 346px
	}

	@media (min-width: 1280px) {
		width: 346px
	}

	@media (min-width: 1440px) {
		width: 26%;
	}

	@media (min-width: 1600px) {
		width: 30.25%;
	}

	@media (min-width: 1920px) {
		width: 34.5%;
	}
}

#view-3__2 .bg-text .bg-text__gradient {
	background-image: -webkit-gradient(linear, right top, left top, from($primary), to(rgba(38, 43, 48, 0)));
	background-image: -webkit-linear-gradient(right, $primary, rgba(38, 43, 48, 0) 98%);
	background-image: -moz-linear-gradient(right, $primary, rgba(38, 43, 48, 0) 98%);
	background-image: -o-linear-gradient(right, $primary, rgba(38, 43, 48, 0) 98%);
	background-image: linear-gradient(to left, $primary, rgba(38, 43, 48, 0) 98%);
	height: 100%;
	float: right;

	@media (min-width: 1024px) {
		width: 129px;
	}

	@media (min-width: 1280px) {
		width: 146px;
	}

	@media (min-width: 1440px) {
		width: 146px;
	}

	@media (min-width: 1600px) {
		width: 99px;
	}

	@media (min-width: 1920px) {
		width: 100px;
	}
}

//IMAGE
#view-3__2 .info-img {
	position: absolute;
	z-index: 1;
	height: 100%;

	@media (min-width: 320px) {
		width: 100%;
		top: 0;
		background: url('../images/home/containers/containers-720.png') no-repeat;
		background-size: 1229px 1549px;
		background-position: center 447px;
	}

	@media (min-width: 480px) {
		top: 0;
		background-position: center 543px;
	}

	@media (min-width: 600px) {
		background-position: center 507px;
	}

	@media (min-width: 720px) {
		background-position: center 507px;
	}

	@media (min-width: 840px) {
		width: 840px;
		background: url('../images/home/containers/containers-1920.png') no-repeat;
		background-size: 1416px 1250px;
		background-position: -593px 424px;
	}

	@media (min-width: 960px) {
		width: 960px;
		background-position: -486px 424px;
	}

	@media (min-width: 1024px) {
		width: 1042px;
		background-position: -828px -164px;
	}

	@media (min-width: 1280px) {
		width: 1280px;
		background-position: -567px -164px;
	}

	@media (min-width: 1440px) {
		width: 1280px;
		background-position: -477px -164px;
	}

	@media (min-width: 1600px) {
		width: 1600px;
		background-position: -322px -164px;
	}

	@media (min-width: 1920px) {
		width: 100%;
		background-position: center -164px;
		left: -483px;
	}
}
