// Custom fonts
@import "home/galano";

// Variables
@import "home/variables";

// Custom grids
@import "home/terminal-grid";
@import "home/browser-grid";

// Landing Page
@import "home/customize";
@import "home/topbar";
@import "home/view-1";
@import "home/languages";
@import "home/terminal";
@import "home/view_3-1";
@import "home/view_3-2";
@import "home/view-4";
@import "home/view-6";
@import "home/footer";
@import "home/modal";

// animations
@import "home/animations";
