@import "bower_components/westyle-v2/src/bootstrap";

.senna-loading-bar {
	background: white;
	z-index: 99999;
}

/* ==========================================================================
	 Footer
	 ========================================================================== */

.footer {
	background: $primary;
}

.footer-paragraph {
	color: white;
	font-size: 18px;
	margin: 54px 0;
	text-align: center;
}

.footer-link {
	@include anim(color);
	color: $accent;
	text-decoration: none;
}

.footer-link:hover,
.footer-link:focus {
	color: rgba($accent, .7);
}

@import "misc/autocomplete";
@import "misc/topics";
@import "misc/search";
@import "misc/docs";
@import "misc/guide";
@import "misc/topic-color";
