---
title: "Updates"
description: "See what is new with the WeDeploy"
url: "/updates/apis/android/"
hidden: true
layout: false
---

{namespace pageUpdatesIndex}

/**
 */
{template .render}
  {@param page: ?}

  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="refresh" content="0; URL='{$page.url}'">
    </head>
  </html>
{/template}
