{% extends "src/layouts/base.html" %}

{% block styles %}
	<link data-senna-track="temporary" rel="stylesheet" href="/styles/misc.css">
	<link data-senna-track="temporary" rel="stylesheet" href="/styles/vendor/westyle-v2/fonts/galano/font-galano.css">
	<link data-senna-track="temporary" rel="stylesheet" href="/styles/vendor/westyle-v2/fonts/icon-12.css">
	<link data-senna-track="temporary" rel="stylesheet" href="/styles/vendor/westyle-v2/fonts/icon-16.css">
{% endblock %}

{% block markup %}
	<nav class="topbar topbar-inverse topbar-docs">
		<div class="topbar-logo">
			<a class="topbar-logo-link" href="/">
				<span class="icon-12-wedeploy-logo"></span>
			</a>
		</div>
		<ul class="topbar-list">
			<li class="topbar-item">
				<a class="topbar-link topbar-link-selected" href="/faq">FAQ</a>
			</li>
			<li class="topbar-item">
				<a class="topbar-link" href="/docs">Docs</a>
			</li>
			<li class="topbar-item">
				<a class="topbar-link" href="http://dashboard.wedeploy.io/login/signin" data-senna-off>Login</a>
			</li>
		</ul>
	</nav>

	<main class="docs">
		<div class="container">
			<div class="row">
				<div class="col-xs-16 col-md-10 col-md-offset-3">
					<article class="docs-content docs-faq">
						{{contents}}
					</article>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
