{% extends "src/layouts/base.html" %}

{% block markup %}
	<nav class="topbar topbar-inverse">
		<div class="topbar-logo">
			<a class="topbar-logo-link" href="/">
				<span class="icon-16-launchpad-logo"></span>
				<span class="topbar-logo-text">Launchpad <span class="topbar-logo-complementary">Project <span class="topbar-logo-label">Dev Preview</span></span></span>
			</a>
		</div>
		<ul class="topbar-list">
			<li class="topbar-item">
				<a class="topbar-link topbar-link-selected" href="/faq">FAQ</a>
			</li>
			<li class="topbar-item">
				<a class="topbar-link" href="/docs">Docs</a>
			</li>
			<li class="topbar-item">
				<a class="topbar-link" href="/dashboard/login/signin">Login</a>
			</li>
		</ul>
	</nav>

	<main class="docs">
		<div class="container">
			<div class="row">
				<article class="docs-content col-xs-12 col-sm-6 col-sm-offset-3">
					{{contents}}
				</article>
			</div>
		</div>
	</main>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/vendor/styles/github-gist.css">
	<link rel="stylesheet" href="/styles/learn.css">
{% endblock %}

{% block scripts %}
	<script src="/vendor/scripts/highlight.pack.min.js"></script>
	<script src="/scripts/learn.js"></script>
{% endblock %}