{% extends "src/layouts/base.html" %}

{% block styles %}
	<link data-senna-track="temporary" rel="stylesheet" href="/styles/misc.css">
	<link data-senna-track="temporary" rel="stylesheet" href="/styles/vendor/westyle-v2/fonts/icon-12.css">
	<link data-senna-track="temporary" rel="stylesheet" href="/styles/vendor/westyle-v2/fonts/icon-16.css">
	<link data-senna-track="temporary" rel="stylesheet" href="/styles/vendor/tomorrow-night-eighties.css">
{% endblock %}

{% block markup %}
	{% macro menu(isMain) %}
	<nav class="topbar topbar-inverse topbar-docs guide-lang guide-lang-{{lang}} {%if isMain %}topbar-docs-main{% else %}topbar-docs-aux{% endif %}">
		<div class="topbar-logo">
			<a class="topbar-logo-link" href="/">
				<span class="icon-12-wedeploy-logo"></span>
			</a>
		</div>
		<ul class="topbar-list">
			<li class="topbar-item">
				<a class="topbar-link" href="/faq">FAQ</a>
			</li>
			<li class="topbar-item">
				<a class="topbar-link topbar-link-selected" href="/docs">Docs</a>
			</li>
			<li class="topbar-item">
				<a class="topbar-link" href="/dashboard/login/signin" data-senna-off>Login</a>
			</li>
		</ul>
	</nav>
	{% endmacro %}

	{% macro submenu(lang) %}
	<li class="sidebar-item">
		<a class="sidebar-link {%if basepath == (lang + '/index') %}sidebar-link-selected{% endif %}" href="/docs/{{lang}}/">
			<span>Praesent semper augue</span>
		</a>
		<a class="sidebar-link {%if basepath == (lang + '/lorem') %}sidebar-link-selected{% endif %}" href="/docs/{{lang}}/lorem.html">
			<span>Lorem ipsum dolor</span>
		</a>
		<a class="sidebar-link {%if basepath == (lang + '/maecenas') %}sidebar-link-selected{% endif %}" href="/docs/{{lang}}/maecenas.html">
			<span>Maecenas rutrum odio</span>
		</a>
	</li>
	{% endmacro %}

	{{menu(true)}}

	<main class="docs guide-lang guide-lang-{{lang}}">
		<nav class="sidebar sidebar-inverse">
			<a class="sidebar-header toggler-header-collapsed">
				<span class="sidebar-icon icon-16-menu"></span>
				<span>Docs Menu</span>
				<span class="sidebar-icon-right">
					<span class="icon-12-arrow-down-short"></span>
					<span class="icon-12-arrow-up-short"></span>
				</span>
			</a>
			<ul class="sidebar-list sidebar-list-1 toggler-collapsed">
				<li class="sidebar-item">
					<form class="sidebar-search" action="/docs/search/" method="GET" enctype="multipart/form-data">
						<div class="form-group">
							<div class="input-inner-addon input-inner-addon-right">
								<input name="q" class="form-control" type="text" placeholder="Search Docs" autocomplete="off" data-lang="{{lang}}" required>
								<span class="input-inner-icon-helper icon-16-magnifier"></span>
							</div>
						</div>
					</form>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/">
						<span class="sidebar-icon icon-16-house"></span>
						<span>Docs Home</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/local/">
						<span class="sidebar-icon icon-16-cloud"></span>
						<span>Local Cloud</span>
					</a>
					<ul class="sidebar-list sidebar-list-2 {%if lang != 'local' %}hidden{% endif %}">
						{{submenu(lang)}}
					</ul>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/js/">
						<span class="sidebar-icon icon-16-globe"></span>
						<span>JavaScript</span>
					</a>
					<ul class="sidebar-list sidebar-list-2 {%if lang != 'js' %}hidden{% endif %}">
						{{submenu(lang)}}
					</ul>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/swift/">
						<span class="sidebar-icon icon-16-swift"></span>
						<span>Swift</span>
					</a>
					<ul class="sidebar-list sidebar-list-2 {%if lang != 'swift' %}hidden{% endif %}">
						{{submenu(lang)}}
					</ul>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/java/">
						<span class="sidebar-icon icon-16-cup"></span>
						<span>Java</span>
					</a>
					<ul class="sidebar-list sidebar-list-2 {%if lang != 'java' %}hidden{% endif %}">
						{{submenu(lang)}}
					</ul>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/go/">
						<span class="sidebar-icon icon-16-dribbble"></span>
						<span>Go</span>
					</a>
					<ul class="sidebar-list sidebar-list-2 {%if lang != 'go' %}hidden{% endif %}">
						{{submenu(lang)}}
					</ul>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/curl/">
						<span class="sidebar-icon icon-16-command-line"></span>
						<span>cURL</span>
					</a>
					<ul class="sidebar-list sidebar-list-2 {%if lang != 'curl' %}hidden{% endif %}">
						{{submenu(lang)}}
					</ul>
				</li>
			</ul>
		</nav>

		<div class="sidebar-offset">
			{{menu()}}
			<header class="guide-header">
				<div class="container-hybrid">
					<h1 class="guide-header-title">{%if lang == 'local' %}Local Cloud{% endif %}{%if lang == 'js' %}JavaScript{% endif %}{%if lang == 'swift' %}Swift{% endif %}{%if lang == 'java' %}Java{% endif %}{%if lang == 'go' %}Go{% endif %}{%if lang == 'curl' %}cURL{% endif %} <span>Guide</span></h1>
				</div>
			</header>
			<div class="container-hybrid">
				<div class="docs-guide row">
					<div class="docs-content col-xs-16 col-md-12">
						{{contents}}
						<hr>
						<div class="guide-feedback">
							<p>Was this section helpful?</p>
							<button class="btn btn-accent guide-feedback-btn guide-feedback-btn-yes">Yes</button>
							<button class="btn btn-accent guide-feedback-btn guide-feedback-btn-no">No</button>
						</div>
						<div class="guide-github">
							<div class="guide-github-img">
								<img src="/images/misc/octocat.png" alt="Octocat" width="80" height="69">
							</div>
							<div class="guide-github-text">
								<p>Contribute to this Doc on Github! <a href="https://github.com/wedeploy/docs/edit/master/{{basepath}}.md" class="docs-github-link" target="_blank">Edit this section</a>.</p>
							</div>
						</div>
					</div>
					<nav class="col-xs-16 col-md-4">
						<div class="docs-nav-container">
						<div class="docs-nav">
							<div id="reading-container"></div>
							<p class="search-feedback">Do you have any questions?</p>
							<a class="search-feedback-btn btn btn-default" href="mailto:eduardo.lundgren@liferay.com">Contact Us!</a>
						</div>
						</div>
					</nav>
				</div>
			</div>
			<div class="newsletter">
				<div class="container-hybrid">
					<div class="row">
						<div class="col-md-12 col-md-offset-2 col-xs-16">
							<span class="newsletter-avatar">
								<span class="icon-16-mail"></span>
							</span>
							<h2 class="newsletter-subtitle">Couldn't find what you want?</h1>
							<p class="newsletter-description">Don't worry, we're constantly working on improvements. Stay tuned!</p>
							<form autocomplete="off" class="row newsletter-form">
								<div class="col-md-9 col-md-offset-2 col-xs-16">
									<div class="form-group">
										<input class="form-control input-inverse-accent" name="email" type="email" placeholder="Your email address">
									</div>
								</div>
								<div class="col-md-5 col-xs-16">
									<input class="btn btn-inverse-accent btn-sm" type="submit" value="Subscribe">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}

{% block scripts %}
	<script data-senna-track="temporary" src="/scripts/vendor/highlight.pack.min.js"></script>

	<script data-senna-track="temporary" src="/scripts/misc/newsletter.js"></script>
	<script data-senna-track="temporary" src="/scripts/misc/guide.js"></script>
	<script data-senna-track="temporary" src="/scripts/misc/menu.js"></script>
{% endblock %}
