{% extends "src/layouts/base.html" %}

{% block markup %}
	<nav class="topbar topbar-inverse topbar-docs">
		<div class="topbar-logo">
			<a class="topbar-logo-link" href="/">
				<span class="icon-16-launchpad-logo"></span>
				<span class="topbar-logo-text">Launchpad <span class="topbar-logo-complementary">Project <span class="topbar-logo-label">Dev Preview</span></span></span>
			</a>
		</div>
		<ul class="topbar-list">
			<li class="topbar-item">
				<a class="topbar-link" href="/faq">FAQ</a>
			</li>
			<li class="topbar-item">
				<a class="topbar-link topbar-link-selected" href="/docs">Docs</a>
			</li>
			<li class="topbar-item">
				<a class="topbar-link" href="/dashboard/login/signin" data-senna-off>Login</a>
			</li>
		</ul>
	</nav>

	{% macro submenu(lang) %}
	<li class="sidebar-item">
		<a class="sidebar-link {%if basepath == (lang + '/index') %}sidebar-link-selected{% endif %}" href="/docs/{{lang}}/">
			<span>Quickstart</span>
		</a>
	</li>
	<li class="sidebar-item">
		<a class="sidebar-link {%if basepath == (lang + '/building-apis') %}sidebar-link-selected{% endif %}" href="/docs/{{lang}}/building-apis.html">
			<span>Building APIs</span>
		</a>
	</li>
	<li class="sidebar-item">
		<a class="sidebar-link {%if basepath == (lang + '/understanding-data') %}sidebar-link-selected{% endif %}" href="/docs/{{lang}}/understanding-data.html">
			<span>Understanding Data</span>
		</a>
	</li>
	{% endmacro %}

	<main class="docs">
		<nav class="sidebar">
			<a class="sidebar-header toggler-header-collapsed">
				<span class="sidebar-icon icon-16-menu"></span>
				<span>Docs Menu</span>
				<span class="sidebar-icon-right">
					<span class="icon-12-arrow-down-short"></span>
					<span class="icon-12-arrow-up-short"></span>
				</span>
			</a>
			<ul class="sidebar-list sidebar-list-1 toggler-collapsed">
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/">
						<span class="sidebar-icon icon-16-house"></span>
						<span>Docs Home</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/js/">
						<span class="sidebar-icon icon-16-globe"></span>
						<span>JavaScript</span>
					</a>
					<ul class="sidebar-list sidebar-list-2 {%if lang != 'js' %}hidden{% endif %}">
						{{submenu(lang)}}
					</ul>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/java/">
						<span class="sidebar-icon icon-16-cup"></span>
						<span>Java</span>
					</a>
					<ul class="sidebar-list sidebar-list-2 {%if lang != 'java' %}hidden{% endif %}">
						{{submenu(lang)}}
					</ul>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/curl/">
						<span class="sidebar-icon icon-16-command-line"></span>
						<span>cURL</span>
					</a>
					<ul class="sidebar-list sidebar-list-2 {%if lang != 'curl' %}hidden{% endif %}">
						{{submenu(lang)}}
					</ul>
				</li>
			</ul>
		</nav>

		<div class="sidebar-offset">
			<div class="container-hybrid">
				<div class="row">
					<div class="col-xs-16 col-md-4 col-md-offset-12">
						<form class="docs-search-form" action="/docs/{{lang}}/search/" method="GET">
							<div class="form-group">
								<div class="input-inner-addon input-inner-addon-right">
									<input name="q" class="form-control" type="text" placeholder="Search...">
									<span class="input-inner-icon-helper icon-16-magnifier"></span>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<nav class="docs-nav col-xs-16 col-md-3">
						<ul class="docs-nav-list">
						{%if basepath.indexOf('index') != -1 %}
							<li class="docs-nav-item">
								<a href="#1-request-invitation" class="docs-nav-link">1. Request invitation</a>
							</li>
							<li class="docs-nav-item">
								<a href="#2-create-an-api" class="docs-nav-link">2. Create an API</a>
							</li>
							<li class="docs-nav-item">
								<a href="#3-connect-to-your-api" class="docs-nav-link">3. Connect to your API</a>
							</li>
							<li class="docs-nav-item">
								<a href="#4-read-write-data" class="docs-nav-link">4. Read & Write Data</a>
							</li>
						{%elif basepath.indexOf('building-apis') != -1 %}
							<li class="docs-nav-item">
								<a href="#1-method" class="docs-nav-link">1. Method</a>
							</li>
							<li class="docs-nav-item">
								<a href="#2-endpoint" class="docs-nav-link">2. Endpoint</a>
							</li>
							<li class="docs-nav-item">
								<a href="#3-parameters" class="docs-nav-link">3. Parameters</a>
							</li>
							<li class="docs-nav-item">
								<a href="#4-body" class="docs-nav-link">4. Body</a>
							</li>
							<li class="docs-nav-item">
								<a href="#5-handler" class="docs-nav-link">5. Handler</a>
							</li>
							<li class="docs-nav-item">
								<a href="#6-authentication" class="docs-nav-link">6. Authentication</a>
							</li>
							<li class="docs-nav-item">
								<a href="#7-validator" class="docs-nav-link">7. Validator</a>
							</li>
						{%elif basepath.indexOf('understanding-data') != -1 %}
							<li class="docs-nav-item">
								<a href="#1-write" class="docs-nav-link">1. Write</a>
							</li>
							<li class="docs-nav-item">
								<a href="#2-read" class="docs-nav-link">2. Read</a>
							</li>
							<li class="docs-nav-item">
								<a href="#3-search" class="docs-nav-link">3. Search</a>
							</li>
							<li class="docs-nav-item">
								<a href="#4-watch" class="docs-nav-link">4. Watch</a>
							</li>
						{% endif %}
						</ul>
					</nav>
					<article class="docs-content col-xs-16 col-md-13">
						<a href="https://github.com/launchpad-project/docs/edit/master/{{basepath}}.md" class="docs-edit" target="_blank">
							Edit <span class="docs-edit-icon icon-16-pen"></span>
						</a>
						{{contents}}
					</article>
				</div>
			</div>
		</div>
	</main>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/vendor/styles/github-gist.css">
{% endblock %}

{% block scripts %}
	<script src="/vendor/scripts/highlight.pack.min.js"></script>
	<script src="/vendor/scripts/api-min.js"></script>
	<script src="/vendor/scripts/soyutils.min.js"></script>
	<script src="/vendor/scripts/autocomplete-min.js"></script>
	<script src="/vendor/scripts/toggler-min.js"></script>
	<script src="/scripts/menu.js"></script>
	<script src="/scripts/guide.js"></script>
{% endblock %}