{% extends "src/layouts/base.html" %}

{% block styles %}
	<link data-senna-track="temporary" rel="stylesheet" href="/styles/misc.css">
	<link data-senna-track="temporary" rel="stylesheet" href="/styles/vendor/westyle-v2/fonts/galano/font-galano.css">
	<link data-senna-track="temporary" rel="stylesheet" href="/styles/vendor/westyle-v2/fonts/icon-12.css">
	<link data-senna-track="temporary" rel="stylesheet" href="/styles/vendor/westyle-v2/fonts/icon-16.css">
	<link data-senna-track="temporary" rel="stylesheet" href="/styles/vendor/tomorrow-night-eighties.css">
{% endblock %}

{% block markup %}
	{% macro menu(isMain) %}
	<nav class="topbar topbar-inverse topbar-docs guide-lang guide-lang-{{lang}} {%if isMain %}topbar-docs-main{% else %}topbar-docs-aux{% endif %}">
		<div class="topbar-logo">
			<a class="topbar-logo-link" href="/">
				<span class="icon-12-wedeploy-logo"></span>
			</a>
		</div>
		<ul class="topbar-list">
			<li class="topbar-item">
				<a class="topbar-link topbar-link-selected" href="/docs">Docs</a>
			</li>
			<li class="topbar-item">
				<a class="topbar-link" href="http://dashboard.wedeploy.io/login/signin" data-senna-off>Login</a>
			</li>
		</ul>
	</nav>
	{% endmacro %}

	{{menu(true)}}

	<main class="docs guide-lang guide-lang-{{lang}}">
		<nav class="sidebar sidebar-inverse">
			<a class="sidebar-header toggler-header-collapsed">
				<span class="sidebar-icon icon-16-menu"></span>
				<span>Docs Menu</span>
				<span class="sidebar-icon-right">
					<span class="icon-12-arrow-down-short"></span>
					<span class="icon-12-arrow-up-short"></span>
				</span>
			</a>
			<ul class="sidebar-list sidebar-list-1 toggler-collapsed">
				<li class="sidebar-item">
					<form class="sidebar-search" action="/docs/search/" method="GET" enctype="multipart/form-data">
						<div class="form-group">
							<div class="input-inner-addon input-inner-addon-right">
								<input disabled name="q" class="form-control" type="text" placeholder="Search Docs" autocomplete="off" data-lang="{{lang}}" required>
								<span class="input-inner-icon-helper icon-16-magnifier"></span>
							</div>
						</div>
					</form>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/">
						<span class="sidebar-icon icon-16-house"></span>
						<span>Docs Home</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/intro/">
						<span class="sidebar-icon icon-16-arrow-right-rod"></span>
						<span>Intro</span>
					</a>
					<ul class="sidebar-list sidebar-list-2 {%if lang != 'intro' %}hidden{% endif %}">
						<li class="sidebar-item">
							<a class="sidebar-link {%if basepath == (lang + '/index') %}sidebar-link-selected{% endif %}" href="/docs/{{lang}}/">
								<span>What, Why and How</span>
							</a>
							<a class="sidebar-link {%if basepath == (lang + '/features') %}sidebar-link-selected{% endif %}" href="/docs/{{lang}}/features.html">
								<span>Features</span>
							</a>
							<a class="sidebar-link {%if basepath == (lang + '/using-the-dashboard') %}sidebar-link-selected{% endif %}" href="/docs/{{lang}}/using-the-dashboard.html">
								<span>Using the Dashboard</span>
							</a>
							<a class="sidebar-link {%if basepath == (lang + '/using-the-command-line') %}sidebar-link-selected{% endif %}" href="/docs/{{lang}}/using-the-command-line.html">
								<span>Using the Command-line</span>
							</a>
							<a class="sidebar-link {%if basepath == (lang + '/wedeploy-api') %}sidebar-link-selected{% endif %}" href="/docs/{{lang}}/wedeploy-api.html">
								<span>Using the API Client</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/auth/">
						<span class="sidebar-icon icon-16-persons"></span>
						<span>Auth</span>
					</a>
					<ul class="sidebar-list sidebar-list-2 {%if lang != 'auth' %}hidden{% endif %}">
						<li class="sidebar-item">
							<a class="sidebar-link {%if basepath == (lang + '/index') %}sidebar-link-selected{% endif %}" href="/docs/{{lang}}/">
								<span>Getting Started</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/data/">
						<span class="sidebar-icon icon-16-database"></span>
						<span>Data</span>
					</a>
					<ul class="sidebar-list sidebar-list-2 {%if lang != 'data' %}hidden{% endif %}">
						<li class="sidebar-item">
							<a class="sidebar-link {%if basepath == (lang + '/index') %}sidebar-link-selected{% endif %}" href="/docs/{{lang}}/">
								<span>Getting Started</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/email/">
						<span class="sidebar-icon icon-16-mail-full"></span>
						<span>Email</span>
					</a>
					<ul class="sidebar-list sidebar-list-2 {%if lang != 'email' %}hidden{% endif %}">
						<li class="sidebar-item">
							<a class="sidebar-link {%if basepath == (lang + '/index') %}sidebar-link-selected{% endif %}" href="/docs/{{lang}}/">
								<span>Getting Started</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/hosting/">
						<span class="sidebar-icon icon-16-folder"></span>
						<span>Hosting</span>
					</a>
					<ul class="sidebar-list sidebar-list-2 {%if lang != 'hosting' %}hidden{% endif %}">
						<li class="sidebar-item">
							<a class="sidebar-link {%if basepath == (lang + '/index') %}sidebar-link-selected{% endif %}" href="/docs/{{lang}}/">
								<span>Getting Started</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" href="/docs/other/">
						<span class="sidebar-icon icon-16-module"></span>
						<span>Other</span>
					</a>
					<ul class="sidebar-list sidebar-list-2 {%if lang != 'other' %}hidden{% endif %}">
						<a class="sidebar-link {%if basepath == (lang + '/index') %}sidebar-link-selected{% endif %}" href="/docs/{{lang}}/">
							<span>Getting Started with Maven</span>
						</a>
						<a class="sidebar-link {%if basepath == (lang + '/nodejs') %}sidebar-link-selected{% endif %}" href="/docs/{{lang}}/nodejs.html">
							<span>Getting Started with Node.js</span>
						</a>
					</ul>
				</li>
			</ul>
		</nav>

		<div class="sidebar-offset">
			{{menu()}}
			<header class="guide-header">
				<div class="container-hybrid">
					<h1 class="guide-header-title">{%if lang == 'intro' %}Intro{% endif %}{%if lang == 'auth' %}Auth{% endif %}{%if lang == 'data' %}Data{% endif %}{%if lang == 'email' %}Email{% endif %}{%if lang == 'hosting' %}Hosting{% endif %}{%if lang == 'other' %}Other{% endif %} <span>Guide</span></h1>
				</div>
			</header>
			<div class="container-hybrid">
				<div class="docs-guide row">
					<div class="docs-content col-xs-16 col-md-12">
						{{contents}}

						<div class="guide-feedback">
							<p>Was this section helpful?</p>
							<button class="btn btn-accent guide-feedback-btn guide-feedback-btn-yes">Yes</button>
							<button class="btn btn-accent guide-feedback-btn guide-feedback-btn-no">No</button>
						</div>
						<div class="guide-github">
							<div class="guide-github-img">
								<img src="/images/misc/octocat.png" alt="Octocat" width="80" height="69">
							</div>
							<div class="guide-github-text">
								<p>Contribute to this Doc on Github! <a href="https://github.com/wedeploy/docs/edit/master/{{basepath}}.md" class="docs-github-link" target="_blank">Edit this section</a>.</p>
							</div>
						</div>
					</div>
					<nav class="col-xs-16 col-md-4">
						<div class="docs-nav-container">
						<div class="docs-nav">
							<div id="reading-container"></div>
							<!-- <p class="search-feedback">Do you have any questions?</p>
							<a class="search-feedback-btn btn btn-default" href="mailto:eduardo.lundgren@liferay.com">Contact Us!</a> -->
						</div>
						</div>
					</nav>
				</div>
			</div>
			<div class="newsletter">
				<div class="container-hybrid">
					<div class="row">
						<div class="col-md-12 col-md-offset-2 col-xs-16">
							<span class="newsletter-avatar">
								<span class="icon-16-mail"></span>
							</span>
							<h2 class="newsletter-subtitle">Couldn't find what you want?</h1>
							<p class="newsletter-description">Don't worry, we're constantly working on improvements. Stay tuned!</p>
							<form autocomplete="off" class="row newsletter-form">
								<div class="col-md-9 col-md-offset-2 col-xs-16">
									<div class="form-group">
										<input class="form-control input-inverse-accent" name="email" type="email" placeholder="Your email address">
									</div>
								</div>
								<div class="col-md-5 col-xs-16">
									<input class="btn btn-inverse-accent btn-sm" type="submit" value="Subscribe">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}

{% block scripts %}
	<script data-senna-track="temporary" src="/scripts/vendor/highlight.pack.min.js"></script>

	<script data-senna-track="temporary" src="/scripts/misc/newsletter.js"></script>
	<script data-senna-track="temporary" src="/scripts/misc/guide.js"></script>
	<script data-senna-track="temporary" src="/scripts/misc/menu.js"></script>
{% endblock %}
