{% extends "src/layouts/base.html" %}

{% block styles %}
	<link data-senna-track="temporary" rel="stylesheet" href="/styles/home.css">
	<link data-senna-track="temporary" rel="stylesheet" href="/styles/vendor/westyle-v3/fonts/icon-12.css">
	<link data-senna-track="temporary" rel="stylesheet" href="/styles/vendor/westyle-v3/fonts/icon-16.css">
{% endblock %}

{% block markup %}
	{{contents}}
{% endblock %}

{% block scripts %}
	<script src="/scripts/home/jquery-1.12.3.min.js"></script>
	<script src="/scripts/home/main.js"></script>
{% endblock %}