{% extends "src/layouts/base.html" %}

{% block markup %}
	<nav class="topbar topbar-inverse">
		<div class="topbar-logo">
			<a class="topbar-logo-link" href="/">
				<span class="icon-16-launchpad-logo"></span>
				<span class="topbar-logo-text">Launchpad <span class="topbar-logo-complementary">Project <span class="topbar-logo-label">Dev Preview</span></span></span>
			</a>
		</div>
		<ul class="topbar-list">
			<li class="topbar-item">
				<a class="topbar-link" href="/">Product</a>
			</li>
			<li class="topbar-item">
				<a class="topbar-link topbar-link-selected" href="/learn">Learn</a>
			</li>
			<li class="topbar-item">
				<a class="topbar-link" href="/dashboard/login/signin">Login</a>
			</li>
		</ul>
	</nav>

	<main class="docs">
		<div class="container">
			<div class="row">
				<nav class="docs-nav col-xs-12 col-sm-3">
					<p class="docs-nav-group">
						<a href="/learn">Introduction</a>
					</p>
					<ul class="docs-nav-list">
						<li class="docs-nav-item">
							<a href="/learn/#what-is-the-launchpad-project-" class="docs-nav-link">What is the Launchpad Project?</a>
						</li>
						<li class="docs-nav-item">
							<a href="/learn/#why-should-i-use-launchpad-" class="docs-nav-link">Why should I use Launchpad?</a>
						</li>
						<li class="docs-nav-item">
							<a href="/learn/#how-does-launchpad-interact-with-your-existing-liferay-portal-solution-" class="docs-nav-link">How does Launchpad interact with your existing Liferay Portal solution?</a>
						</li>
						<li class="docs-nav-item">
							<a href="/learn/#can-i-rely-on-launchpad-for-apps-in-production-" class="docs-nav-link">Can I rely on Launchpad for apps in production?</a>
						</li>
						<li class="docs-nav-item">
							<a href="/learn/#can-launchpad-be-installed-on-my-own-servers-" class="docs-nav-link">Can Launchpad be installed on my own servers?</a>
						</li>
						<li class="docs-nav-item">
							<a href="/learn/#will-my-laptop-become-a-dumb-terminal-" class="docs-nav-link">Will my laptop become a "dumb terminal"?</a>
						</li>
					</ul>

					<p class="docs-nav-group">
						<a href="/learn/realtime-data.html">Realtime Data</a>
					</p>
					<ul class="docs-nav-list">
						<li class="docs-nav-item">
							<a href="/learn/realtime-data.html#write-data" class="docs-nav-link">Write Data</a>
						</li>
						<li class="docs-nav-item">
							<a href="/learn/realtime-data.html#read-data" class="docs-nav-link">Read Data</a>
						</li>
						<li class="docs-nav-item">
							<a href="/learn/realtime-data.html#search-data" class="docs-nav-link">Search Data</a>
						</li>
						<li class="docs-nav-item">
							<a href="/learn/realtime-data.html#watch-data-changes" class="docs-nav-link">Watch Data Changes</a>
						</li>
					</ul>

					<p class="docs-nav-group">
						<a href="/learn/authentication.html">Authentication</a>
					</p>
					<ul class="docs-nav-list">
						<li class="docs-nav-item">
							<a href="/learn/authentication.html#authentication-configuration" class="docs-nav-link">Authentication Configuration</a>
						</li>
						<li class="docs-nav-item">
							<a href="/learn/authentication.html#authentication-provider" class="docs-nav-link">Authentication Provider</a>
						</li>
						<li class="docs-nav-item">
							<a href="/learn/authentication.html#logging-users-in" class="docs-nav-link">Logging Users In</a>
						</li>
						<li class="docs-nav-item">
							<a href="/learn/authentication.html#logging-users-out" class="docs-nav-link">Logging Users Out</a>
						</li>
					</ul>

					<p class="docs-nav-group">
						<a href="/learn/custom-apis.html">Custom APIs</a>
					</p>
					<ul class="docs-nav-list">
						<li class="docs-nav-item">
							<a href="/learn/custom-apis.html#understand-apijson" class="docs-nav-link">Understand api.json</a>
						</li>
					</ul>

					<p class="docs-nav-group">
						<a href="/learn/data-operations.html">Data Operations</a>
					</p>
					<ul class="docs-nav-list">
						<li class="docs-nav-item">
							<a href="/learn/data-operations.html#basic-concepts" class="docs-nav-link">Basic Concepts</a>
						</li>
						<li class="docs-nav-item">
							<a href="/learn/data-operations.html#write-operations" class="docs-nav-link">Write Operations</a>
						</li>
						<li class="docs-nav-item">
							<a href="/learn/data-operations.html#read-operations" class="docs-nav-link">Read Operations</a>
						</li>
						<li class="docs-nav-item">
							<a href="/learn/data-operations.html#query" class="docs-nav-link">Query</a>
						</li>
						<li class="docs-nav-item">
							<a href="/learn/data-operations.html#basic-filters" class="docs-nav-link">Basic Filters</a>
						</li>
					</ul>
				</nav>

				<article class="docs-content col-xs-12 col-sm-6 col-sm-offset-1">
					{{contents}}
				</article>
			</div>
		</div>
	</main>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/vendor/styles/github-gist.css">
	<link rel="stylesheet" href="/styles/learn.css">
{% endblock %}

{% block scripts %}
	<script src="/vendor/scripts/highlight.pack.min.js"></script>
	<script src="/scripts/learn.js"></script>
{% endblock %}