{% extends "src/layouts/base.html" %}

{% block styles %}
	<link data-senna-track="temporary" rel="stylesheet" href="/styles/misc.css">
	<link data-senna-track="temporary" rel="stylesheet" href="/styles/vendor/westyle-v2/fonts/galano/font-galano.css">
	<link data-senna-track="temporary" rel="stylesheet" href="/styles/vendor/westyle-v2/fonts/icon-12.css">
	<link data-senna-track="temporary" rel="stylesheet" href="/styles/vendor/westyle-v2/fonts/icon-16.css">
{% endblock %}

{% block markup %}
	<nav class="topbar topbar-inverse topbar-docs">
		<div class="topbar-logo">
			<a class="topbar-logo-link" href="/">
				<span class="wedeploy-logo">
					<span class="we">We</span>
					<span class="deploy">Deploy™</span>
					<span class="liferay">by Liferay</span>
				</span>
			</a>
		</div>
		<ul class="topbar-list">
			<li class="topbar-item">
				<a class="topbar-link" href="/docs">Docs</a>
			</li>
			<li class="topbar-item">
				<a class="topbar-link" href="http://dashboard.wedeploy.io/login/signin" data-senna-off>Login</a>
			</li>
		</ul>
	</nav>

	<main class="docs">
		{{contents}}
	</main>
{% endblock %}

{% block scripts %}
	<script data-senna-track="temporary" src="/scripts/vendor/handlebars.min.js"></script>

	<script data-senna-track="temporary" src="/scripts/misc/search.js"></script>
	<script data-senna-track="temporary" src="/scripts/misc/newsletter.js"></script>
	<script data-senna-track="temporary" src="/scripts/misc/menu.js"></script>
{% endblock %}
