{namespace updates}

/**
 * @param page
 * @param site
 */
{template .render}
	{call main.render data="all"}
		{param content kind="html"}
			<div>
				<header class="header">
					<div class="container">
						<h1 class="header-title">{$page.title} Updates</h1>
						<h2 class="header-subtitle">See what is new with WeDeploy</h2>
					</div>
				</header>

				{call Updates.render}
					{param updates: $page.updates /}
				{/call}
			</div>
		{/param}
	{/call}
{/template}
