$accent: #00d46a;

@import "marble";

// Root
@import "templates/root";

// Landing
@import "templates/landing";

// Docs
@import "templates/docs";

// Guide
@import "templates/guide";

// Search
@import "templates/search";

// Updates
@import "templates/updates";

// Blog
@import "templates/blog";

// Tutorial
@import "templates/tutorial";

// _Home
@import "home";

// _Docs
@import "docs";

// _Terms
@import "terms";

.topbar .wedeploy-logo .alpha-container {
	left: -9px;
}

.topbar.topbar-large .wedeploy-logo .alpha-container {
	left: -3px;
}

.topbar.topbar-large.topbar-light {
	justify-content: space-between;
}

.topbar.topbar-large.topbar-light .active .topbar-link,
.topbar.topbar-large.topbar-light .active .topbar-link:hover,
.topbar.topbar-large.topbar-light .active .topbar-link:focus {
	color: $accent;
	border-bottom: 0px solid $accent;
}

.topbar .topbar-list-container {
	max-width: 100%;
	display: flex;
	float: right;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-content: flex-start;
	align-items: flex-start;

	.topbar-list {
		flex: 0 1 auto;
		float: none;
		display: inline-flex;

		+ .topbar-list {
			margin-left: 0px;

			@media (min-width: 600px) {
				margin-left: 12px;
			}

			@media (min-width: 1280px) {
				margin-left: 20px;
			}
		}
	}
}

.guide .docs .sidebar-list.sidebar-list-1 .sidebar-link.sidebar-link-selected {
	background: none;
}

.guide .docs .sidebar-list.sidebar-list-1 .sidebar-item.active > .sidebar-list.sidebar-list-1 .sidebar-item.active .sidebar-link.sidebar-link-selected {
	background: rgba($accent, 0.1);
}
