@import "bower_components/steel-bootstrap/src/bootstrap.scss";
@import "bower_components/steel-topbar/src/topbar.scss";

body {
	overflow-x: hidden;
}

/* ==========================================================================
	 Headline
	 ========================================================================== */

.hero-container {
	background: $accent;
	overflow: hidden;
	position: relative;
}

.hero {
	width: 760px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	padding: 150px 0;
}

.hero-title {
	color: white;
	font-family: $font-family-secondary;
	font-size: 60px;
	font-weight: 700;
	margin: 0 0 40px;
}

.hero-description {
	color: white;
	display: block;
	font-size: 24px;
	font-weight: 300;
	line-height: 36px;
	margin: 0;
}

.hero-clouds {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 4010px;
	height: 700px;
	-webkit-animation: cloudLoop 80s linear infinite;
	animation: cloudLoop 80s linear infinite;
	background: url("../../images/clouds.png") 0px 100% repeat-x;
}

/* ==========================================================================
	 Features
	 ========================================================================== */

.feature-container {
	background: $primary;
	width: 100%;
}

.feature {
	margin: 108px auto 116px;
	text-align: center;
	width: 224px;
}

@media (max-width: 767px) {
	.feature-container {
		padding: 48px 0;
	}

	.feature {
		margin: 48px auto 0;
	}
}

.feature-icon {
	display: block;
	margin: 0 auto 39px;
	color: $accent;
	font-size: 64px;
}

.feature-title {
	color: white;
	font-family: $font-family-secondary;
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 23px;
	text-transform: uppercase;
}

.feature-description {
	color: rgba(white, .7);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 0 0 27px;
}

/* ==========================================================================
	 Request Invite
	 ========================================================================== */

.invitation-container {
	margin: 108px auto 116px;
}

.invitation-title {
	color: $primary;
	font-family: $font-family-secondary;
	font-size: 48px;
	font-weight: 500;
	margin: 0 0 20px;
	text-align: center;
}

.invitation-description {
	margin: 0 auto 48px;
	text-align: center;
	font-size: 18px;
	line-height: 24px;
}

.invitation-form {
	margin: 0 auto;
	width: 400px;
}

.invitation-input {
	background: white;
	margin: 0 auto 10px;
}

.invitation-btn {
	width: 400px;
	margin: 0 auto;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
	background: $primary;
}

.footer-paragraph {
  color: white;
  font-size: 18px;
  margin: 54px 0;
  text-align: center;
}

.footer-link {
	@include anim(color);
	color: $accent;
	text-decoration: none;
}

.footer-link:hover,
.footer-link:focus {
	color: rgba($accent, .7);
}

/* ==========================================================================
	 Animations
	 ========================================================================== */

@-webkit-keyframes cloudLoop {
	0% {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0)
	}

	100% {
		-webkit-transform: translate3d(-50%,0,0);
		transform: translate3d(-50%,0,0)
	}
}

@keyframes cloudLoop {
	0% {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0)
	}

	100% {
		-webkit-transform: translate3d(-50%,0,0);
		transform: translate3d(-50%,0,0)
	}
}