---
description: "Allow users to authenticate using passwords, popular federated identity providers like Google, Facebook, GitHub, and more using WeDeploy™ Auth"
icon: "persons"
headerTitle: "Auth"
layout: "guide"
title: "Auth"
weight: 2
---

{namespace pageDocsAuthIndex}

/**
 *
 */
{template .render}
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="refresh" content="0; URL='getting-started.html'">
	</head>
	</html>
{/template}