---
description: "In this section, you'll learn how to deploy a game in four easy steps."
title: "OSCON 2017"
tutorialTitle: "OSCON 2017"
url: "/tutorials/oscon/fork-repo.html"
hidden: true
---

{namespace oscon}

/**
 *
 */
{template .render}
{/template}

/**
 */
{template .soyweb}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="0; URL='/tutorials/oscon/fork-repo.html'">
</head>
</html>
{/template}
