---
description: "Tutorials description"
title: "Tutorials"
tutorialTitle: "Lorem Tutorials Ipsum"
url: "/tutorials/hosting/get-started/"
hidden: true
layout: false
---

{namespace pageTutorialsIndex}

/**
 */
{template .render}
  {@param page: ?}

  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="refresh" content="0; URL='{$page.url}'">
    </head>
  </html>
{/template}
